<nb-card class="d-flex align-items-stretch">
    <nb-card-header>
  
      <div class="row">
        <div class="col-7"> Waste Water Treatment</div>
        <div class="col-2 font-weight-normal" *ngIf="ismasterAdmin">Company</div>
        <div class="col-3 font-weight-normal" *ngIf="ismasterAdmin">
          <mat-select (selectionChange)="onChangeCompany($event.value)"  placeholder="Select Company" [(ngModel)]="selectedCompany" >
            <mat-option *ngFor="let c of companines" [value]="c.id">
              {{c.name}}
            </mat-option>
          </mat-select>
        </div>
      </div>
    </nb-card-header>
  
    <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="source"
                       (create)="onUpdate($event, true)"
                       (edit) = "onUpdate($event, false)"
                       (delete) = "onDelete($event)"
                       (filterData)="onFilter($event)"
                       (sortData)="onSort($event)"  (userRowSelect)="onShowFormula($event)"
      >
      </ng2-smart-table>
    </nb-card-body>
    <nb-card-footer>
      <div class="row">
        <div style="font-size: small" class="col-2 d-flex justify-content-start pl-5 font-weight-lighter align-items-center">{{totalCount}} Rows</div>
        <div class="col-8 d-flex justify-content-center">
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item page-link"  [ngClass]="{disabled: disablePrev}" (click)="onClickPrevPage()"><nb-icon icon="arrow-ios-back-outline" pack="eva"></nb-icon></li>
              <li class="page-item page-link">{{pg_current + 1}}</li>
              <li class="page-item page-link"  [ngClass]="{disabled: pg_current +1 >= pages}" (click)="onClickNextPage()"><nb-icon icon="arrow-ios-forward-outline" pack="eva"></nb-icon></li>
            </ul>
          </nav>
        </div>
        <div style="font-size: small" class="col-2  pr-5 d-flex justify-content-end font-weight-lighter align-items-center">{{pg_current + 1}} of {{pages === 0? 1 : pages}} Pages</div>
      </div>
  
    </nb-card-footer>
  
  </nb-card>
  
