<div class="card h-100 w-100 m-0 mat-dg-content">
  <div class="h-100">
    <div class="card-header mat-pop-up-header hidden-sm-down">
      <div class="row">
        <div class="col-10 font-weight-bold">
          Emission Calculations
        </div>
        <div class="col-2 text-right d-flex justify-content-end align-items-center">
          <nb-icon  icon="close-outline" (click)="closeDialog()" onmouseover style="cursor: pointer;"></nb-icon>
        </div>
      </div>
    </div>
    <div class="card-body with-bottom-buttons">

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left font-weight-bold">
          Equation
        </div>
      </div>
      <!--//common-->
      <div *ngIf="popupData.data.idDisMeth <=7" class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-center font-weight-bold">
          <i>E<sub>WD<sub>X,Z</sub></sub> = (Q<sub>W,Z</sub>  X EF<sub>W,<sub>X,Z</sub> </sub>)/1000</i>
        </div>
      </div>
      <div  *ngIf="popupData.data.idDisMeth <=7" class="row mb-3 pr-2 pl-1 " style="font-size: smaller;">
        <div class="col-12 d-flex justify-content-start">
          <p>E<sub>WD<sub>X,Z</sub></sub> =Total GHG emissions from waste disposal method x for waste category n (tCO<sub>2</sub>e/year)   </p>
        </div>
      </div>
      <div *ngIf="popupData.data.idDisMeth <=7" class="row mb-3 pr-2 pl-1" style="font-size: smaller;">
        <div class="col-12 d-flex justify-content-start"></div>
      </div>
      <div *ngIf="popupData.data.idDisMeth <=7" class="row mb-3 pr-2 pl-1" style="font-size: smaller;">
      <div class="col-12 d-flex justify-content-start">
        <p>Q<sub>W,Z</sub> =  Total quantity of waste from waste category z per year (tonnes) </p>
      </div>
      </div>
      <div *ngIf="popupData.data.idDisMeth <=7" class="row mb-3 pr-2 pl-1" style="font-size: smaller;">
        <div class="col-12 d-flex justify-content-start">
          <p>E<sub>W,<sub>X,Z</sub></sub> =  Emission factor for waste disposal method x for waste category z (kgCO<sub>2</sub>e/ tonnes </p>
        </div>
      </div>
      <div  *ngIf="popupData.data.idDisMeth <=7"  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left font-weight-bold">
          Substitution
        </div>
      </div>
      <div  *ngIf="popupData.data.idDisMeth <=7"  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left ">
          <i>Q<sub>W,Z</sub> = {{popupData.data.emission_info.quantity}}Tons</i>
        </div>
      </div>
      <div  *ngIf="popupData.data.idDisMeth <=7"  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left ">
          <i>E<sub>W,<sub>X,Z</sub></sub> ={{popupData.data.emission_info.ef}}kgCO<sub>2</sub>e/Tons</i>
        </div>
      </div>
      <div  *ngIf="popupData.data.idDisMeth <=7"  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left ">
          <i>E<sub>WD<sub>X,Z</sub></sub> ={{popupData.data.emission_info.tco2}}tCO<sub>2</sub>e</i>
        </div>
      </div>

      <!--//piggery-->
      <div *ngIf="popupData.data.idDisMeth ==8" class="row mb-3 pr-2 pl-1">
        <div class="col-12 font-weight-bold justify-content-center">
          <i>E<sub>P</sub> =  ((Q<sub>W,p</sub> / (2.5 X 365)) X 1)/ GWP<sub>CH<sub>4</sub></sub>) +  ((Q<sub>W,p</sub> / (2.5 X 365)) X 6)/ GWP<sub>CH<sub>4</sub></sub>)
          </i>
        </div>
      </div>
      <div style="font-size: smaller;" *ngIf="popupData.data.idDisMeth ==8" class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-start">
          <p>E<sub>P</sub> = Total GHG emissions from waste disposed to piggeries (tCO<sub>2</sub>e/year)</p>
        </div>
      </div>

      <div style="font-size: smaller;" *ngIf="popupData.data.idDisMeth ==8" class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-start">
          <p>Q<sub>W,P</sub> =  Quantity of waste disposed to piggeries per year (kg) </p>
        </div>
      </div>

      <div style="font-size: smaller;" *ngIf="popupData.data.idDisMeth ==8" class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-start">
          <p>2.5 = Average Feed rate of a pig per day (kg) </p>
        </div>
      </div>

      <div style="font-size: smaller;" *ngIf="popupData.data.idDisMeth ==8" class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-start">
          <p>365 = Number of days per year
          </p>
        </div>
      </div>
      <div style="font-size: smaller;" *ngIf="popupData.data.idDisMeth ==8" class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-start">
          <p>GWP<sub>CH4</sub> = Global worming potential for CH4
          </p>
        </div>
      </div>

      <div  *ngIf="popupData.data.idDisMeth ==8"  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left font-weight-bold">
          Substitution
        </div>
      </div>
      <div style="font-size: smaller;" *ngIf="popupData.data.idDisMeth ==8" class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left ">
          <i>Q<sub>W,P</sub> = {{popupData.data.emission_info.quantity}}Tons</i>
        </div>
      </div>
      <div style="font-size: smaller;" *ngIf="popupData.data.idDisMeth ==8" class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left ">
          <i>GWP<sub>CH4</sub> = {{popupData.data.emission_info.gwp}}</i>
        </div>
      </div>
      <div style="font-size: smaller;" *ngIf="popupData.data.idDisMeth ==8" class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left ">
          <i>E<sub>P</sub> = {{popupData.data.emission_info.tco2}} tCO<sub>2</sub>e</i>
        </div>
      </div>


      <!--incineration-->
      <div *ngIf="popupData.data.idDisMeth ==9" class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-center font-weight-bold">
          <i>E<sub>i</sub> = [((Waste weight X weight of dry matter X Carbon fraction in dry matter x Fraction of fossil carbon in total carbon x Oxidation factor) *44/12) +
            ( (weight of solid waste(Gg/yr) X Emission factor for CH<sub>4</sub> ) X 10-6) + ( (weight of solid waste(Gg/yr) X Emission factor for N<sub>2</sub>O )*10-6}]/1000 </i>
        </div>
      </div>
      <div  *ngIf="popupData.data.idDisMeth ==9"  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left font-weight-bold">
          Substitution
        </div>
      </div>
      <div style="font-size: smaller;" *ngIf="popupData.data.idDisMeth ==9" class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left ">
          <i>Waste weight = {{popupData.data.emission_info.tons}}Tons</i>
        </div>
      </div>

      <div style="font-size: smaller;" *ngIf="popupData.data.idDisMeth ==9" class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left ">
          <i>Weight of dry matter Percentage = {{popupData.data.emission_info.dry_per}}%</i>
        </div>
      </div>

      <div style="font-size: smaller;" *ngIf="popupData.data.idDisMeth ==9" class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left ">
          <i>Carbon fraction in dry matter= {{popupData.data.emission_info.c_f}}</i>
        </div>
      </div>

      <div style="font-size: smaller;" *ngIf="popupData.data.idDisMeth ==9" class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left ">
          <i>Fraction of fossil carbon in total carbon = {{popupData.data.emission_info.fossil_carbon}}</i>
        </div>
      </div>

      <div style="font-size: smaller;" *ngIf="popupData.data.idDisMeth ==9" class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left ">
          <i>Oxidation factor = 100%</i>
        </div>
      </div>
      <div style="font-size: smaller;" *ngIf="popupData.data.idDisMeth ==9" class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left ">
          <i>Emission factor for CH<sub>4</sub> = {{popupData.data.emission_info.ef_ch4}}</i>
        </div>
      </div>
      <div style="font-size: smaller;" *ngIf="popupData.data.idDisMeth ==9" class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left ">
          <i>Emission factor for N<sub>2</sub>O = {{popupData.data.emission_info.ef_n20}}</i>
        </div>
      </div>

      <div style="font-size: smaller;" *ngIf="popupData.data.idDisMeth ==9" class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left ">
          <i>E<sub>P</sub> = {{popupData.data.emission_info.tco2}}tCO<sub>2</sub>e</i>
        </div>
      </div>


    </div>
  </div>
</div>
