<div class="row mt-3">
  <div class="col-md-12 col-xs-12">
    <nb-card>
      <nb-card-header>
        <div class="row mt-3">
          <div class=col-md-9>Select User</div>
          <div class="col-md-3">
            <mat-checkbox *ngIf="userId" (change)="selectAll($event)" class="example-margin" >Select All</mat-checkbox>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="row mt-3">
          <div *ngIf="isMasterAdmin" class="col-md-2 col-xs-12">
            <mat-checkbox (change)="onChangeMatCheck($event)" class="example-margin" [(ngModel)]="climatesi">Climate SI Users</mat-checkbox>
          </div>
          <div class="col-md-1" *ngIf="!isMasterAdmin"></div>
          <div class="col-md-1 col-xs-6">
            Company
          </div>
          <div class="col-md-2 col-xs-6">
            <mat-select [disabled]="disableCompany()" (selectionChange)="onChangeCompany($event.value)" [(ngModel)]="companyId"  placeholder="Select Comapany" >
              <mat-option  *ngFor="let a of companines" [value]="a.id">
                {{a.name}}
              </mat-option>
            </mat-select>
          </div>
          <!--<div class="col-md-1" *ngIf="!isMasterAdmin"></div>-->
          <div class="col-md-1 col-xs-6">
            Branch
          </div>
          <div class="col-md-2 col-xs-6">
            <mat-select [disabled]="disableBranch()" (selectionChange)="onChangeBranch($event.value)" [(ngModel)]="branchId" placeholder="Select Branch" >
              <input  class="form-control w-100" placeholder="Search Branch" (keyup)="onSearchBranch($event.target.value)">
              <mat-option *ngFor="let a of branches" [value]="a.id">
                {{a.name}}
              </mat-option>
            </mat-select>
          </div>

          <div class="col-md-1 col-xs-6">Name</div>
          <div *ngIf="isMasterAdmin" class="col-md-2 col-xs-6">
            <mat-select [disabled]="disableUsers()" (selectionChange)="onChangeUsers($event)" [(ngModel)]="userId" placeholder="Select User" >
              <mat-option *ngFor="let a of users" [value]="a.userId">
                {{a.name}}
              </mat-option>
            </mat-select>
          </div>
          <div *ngIf="!isMasterAdmin"  class="col-md-3 col-xs-6">
            <mat-select [disabled]="disableUsers()" (selectionChange)="onChangeUsers($event)" [(ngModel)]="userId" placeholder="Select User" >
              <mat-option *ngFor="let a of users" [value]="a.userId">
                {{a.name}}
              </mat-option>
            </mat-select>
          </div>
          <div class="col-md-1" *ngIf="!isMasterAdmin"></div>

        </div>
      </nb-card-body>
    </nb-card>
  </div>

</div>
<div *ngIf="userId !== 0" class="row mt-3">
  <div class="col-md-12 col-xs-12">
    <nb-card>
      <nb-card-header class="d-flex">
        Authentication ({{ usertype}})
      </nb-card-header>
      <nb-card-body>
        <div class="row mb-3">
          <div class="col-3 d-flex align-items-center">Login Name</div>
          <div class="col-3 d-flex align-items-center">{{loginProfile.loginName}}</div>
          <div class="col-3 d-flex align-items-center">Status</div>
          <!--<div class="col-3">-->
          <div style="min-width: 150px;" ngbDropdown class="col-3 d-inline-block d-flex align-items-center">
            <button style="min-width: 150px;" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{renderValue}}</button>
            <div *ngIf="statusList.length !== 0"  ngbDropdownMenu aria-labelledby="dropdownBasic1" >
              <button ngbDropdownItem *ngFor="let s of statusList" (click)="onClickChangeStatus(s.value)">{{s.status}}</button>
            </div>
          </div>
            <!--</div>-->

        </div>
        <div class="row mb-3">
          <div class="col-3 d-flex align-items-center">Last Logged in </div>
          <div class="col-3 d-flex align-items-center">{{loginProfile.lastLoginDate}}</div>
          <div class="col-3 d-flex align-items-center"><input type="text" [(ngModel)]="resetpw"  class="form-control-sm w-100 no-radius" ></div>
          <div class="col-3 d-flex align-items-center"><button style="min-width: 150px;" class="btn btn-danger" (click)="resetPassword($event)">Reset Password</button></div>
        </div>
        <div class="row mb-3">
          
          <div class="col-6"></div>
          <div *ngIf="isMasterAdmin" class="col-3 d-flex align-items-center">Click View Actity to see logs</div>
          <div *ngIf="isMasterAdmin" class="col-3 d-flex align-items-center"><button style="min-width: 150px;" class="btn btn-warning" (click)="viewLogs($event)">Audit Logs</button></div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div *ngIf="userId !== 0" class="row mt-3">
  <div class="col-md-12 col-xs-12">
    <nb-card>
      <nb-card-header class="d-flex ">
       Control User Access
      </nb-card-header>
      <nb-card-body>
        <div class="row mb-2">
          <nb-list>
            <nb-list-item class="row w-100 mb-3">
              <span class="col-4">Business Air Travel</span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[1].add">Add</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[1].edit">Edit</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[1].delete">Delete</mat-checkbox></span>
              <span class="col-2"> <button class="btn btn-primary" (click)="onClickSaveAll()">Save</button></span>
            </nb-list-item>
            <nb-list-item class="row w-100 mb-3">
              <span class="col-4">Fire Extinguisher</span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[2].add">Add</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[2].edit">Edit</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[2].delete">Delete</mat-checkbox></span>
              <span class="col-2"> <button class="btn btn-primary" (click)="onClickSaveAll()">Save</button></span>
            </nb-list-item>
            <nb-list-item class="row w-100 mb-3">
              <span class="col-4"> Refrigerants</span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[3].add">Add</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[3].edit">Edit</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[3].delete">Delete</mat-checkbox></span>
              <span class="col-2"> <button class="btn btn-primary" (click)="onClickSaveAll()">Save</button></span>
            </nb-list-item>
            <nb-list-item class="row w-100 mb-3">
              <span class="col-4"> Electricity</span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[4].add">Add</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[4].edit">Edit</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[4].delete">Delete</mat-checkbox></span>
              <span class="col-2"> <button class="btn btn-primary" (click)="onClickSaveAll()">Save</button></span>
            </nb-list-item>
            <nb-list-item class="row w-100 mb-3">
              <span class="col-4"> Municipal Water</span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[5].add">Add</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[5].edit">Edit</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[5].delete">Delete</mat-checkbox></span>
              <span class="col-2"> <button class="btn btn-primary" (click)="onClickSaveAll()">Save</button></span>
            </nb-list-item>
            <nb-list-item class="row w-100 mb-3">
              <span class="col-4">Waste Disposal</span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[6].add">Add</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[6].edit">Edit</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[6].delete">Delete</mat-checkbox></span>
              <span class="col-2"> <button class="btn btn-primary" (click)="onClickSaveAll()">Save</button></span>
            </nb-list-item>
            <nb-list-item class="row w-100 mb-3">
              <span class="col-4">Employee Commuting</span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[7].add">Add</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[7].edit">Edit</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[7].delete">Delete</mat-checkbox></span>
              <span class="col-2"> <button class="btn btn-primary" (click)="onClickSaveAll()">Save</button></span>
            </nb-list-item>
            <nb-list-item class="row w-100 mb-3">
              <span class="col-4">Transport</span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[8].add">Add</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[8].edit">Edit</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[8].delete">Delete</mat-checkbox></span>
              <span class="col-2"> <button class="btn btn-primary" (click)="onClickSaveAll()">Save</button></span>
            </nb-list-item>
            <nb-list-item class="row w-100 mb-3">
              <span class="col-4">Waste Transport</span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[9].add">Add</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[9].edit">Edit</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[9].delete">Delete</mat-checkbox></span>
              <span class="col-2"> <button class="btn btn-primary" (click)="onClickSaveAll()">Save</button></span>
            </nb-list-item>
            <nb-list-item class="row w-100 mb-3">
              <span class="col-4">Transport Locally Purchased</span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[10].add">Add</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[10].edit">Edit</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[10].delete">Delete</mat-checkbox></span>
              <span class="col-2"> <button class="btn btn-primary" (click)="onClickSaveAll()">Save</button></span>
            </nb-list-item>
            <nb-list-item class="row w-100 mb-3">
              <span class="col-4">Generators</span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[11].add">Add</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[11].edit">Edit</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[11].delete">Delete</mat-checkbox></span>
              <span class="col-2"> <button class="btn btn-primary" (click)="onClickSaveAll()">Save</button></span>
            </nb-list-item>


            <nb-list-item class="row w-100 mb-3">
              <span class="col-4">Bio Mass</span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[12].add">Add</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[12].edit">Edit</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[12].delete">Delete</mat-checkbox></span>
              <span class="col-2"> <button class="btn btn-primary" (click)="onClickSaveAll()">Save</button></span>
            </nb-list-item>

            <nb-list-item class="row w-100 mb-3">
              <span class="col-4">LP Gas</span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[13].add">Add</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[13].edit">Edit</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[13].delete">Delete</mat-checkbox></span>
              <span class="col-2"> <button class="btn btn-primary" (click)="onClickSaveAll()">Save</button></span>
            </nb-list-item>

            <nb-list-item class="row w-100 mb-3">
              <span class="col-4">Freight Transport</span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[14].add">Add</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[14].edit">Edit</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[14].delete">Delete</mat-checkbox></span>
              <span class="col-2"> <button class="btn btn-primary" (click)="onClickSaveAll()">Save</button></span>
            </nb-list-item>

            <nb-list-item class="row w-100 mb-3">
              <span class="col-4">Ash Transportation</span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[15].add">Add</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[15].edit">Edit</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[15].delete">Delete</mat-checkbox></span>
              <span class="col-2"> <button class="btn btn-primary" (click)="onClickSaveAll()">Save</button></span>
            </nb-list-item>

            <nb-list-item class="row w-100 mb-3">
              <span class="col-4">Fork-lifts</span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[16].add">Add</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[16].edit">Edit</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[16].delete">Delete</mat-checkbox></span>
              <span class="col-2"> <button class="btn btn-primary" (click)="onClickSaveAll()">Save</button></span>
            </nb-list-item>

            <nb-list-item class="row w-100 mb-3">
              <span class="col-4">Boilers</span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[17].add">Add</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[17].edit">Edit</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[17].delete">Delete</mat-checkbox></span>
              <span class="col-2"> <button class="btn btn-primary" (click)="onClickSaveAll()">Save</button></span>
            </nb-list-item>

            <nb-list-item class="row w-100 mb-3">
              <span class="col-4">Oil and Gas Transportation</span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[18].add">Add</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[18].edit">Edit</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[18].delete">Delete</mat-checkbox></span>
              <span class="col-2"> <button class="btn btn-primary" (click)="onClickSaveAll()">Save</button></span>
            </nb-list-item>


            <nb-list-item class="row w-100 mb-3">
              <span class="col-4">Lorry Transportation</span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[19].add">Add</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[19].edit">Edit</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[19].delete">Delete</mat-checkbox></span>
              <span class="col-2"> <button class="btn btn-primary" (click)="onClickSaveAll()">Save</button></span>
            </nb-list-item>

            <nb-list-item class="row w-100 mb-3">
              <span class="col-4">Paper Waste</span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[20].add">Add</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[20].edit">Edit</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[20].delete">Delete</mat-checkbox></span>
              <span class="col-2"> <button class="btn btn-primary" (click)="onClickSaveAll()">Save</button></span>
            </nb-list-item>

            <nb-list-item class="row w-100 mb-3">
              <span class="col-4">Paid Manager Allowance(Vehicle)</span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[21].add">Add</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[21].edit">Edit</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[21].delete">Delete</mat-checkbox></span>
              <span class="col-2"> <button class="btn btn-primary" (click)="onClickSaveAll()">Save</button></span>
            </nb-list-item>

            <nb-list-item class="row w-100 mb-3">
              <span class="col-4">Raw Material Transportation</span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[22].add">Add</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[22].edit">Edit</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[22].delete">Delete</mat-checkbox></span>
              <span class="col-2"> <button class="btn btn-primary" (click)="onClickSaveAll()">Save</button></span>
            </nb-list-item>

            <nb-list-item class="row w-100 mb-3">
              <span class="col-4">Saw Dust Transportation</span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[23].add">Add</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[23].edit">Edit</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[23].delete">Delete</mat-checkbox></span>
              <span class="col-2"> <button class="btn btn-primary" (click)="onClickSaveAll()">Save</button></span>
            </nb-list-item>

            <nb-list-item class="row w-100 mb-3">
              <span class="col-4">Sludge Transportation</span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[24].add">Add</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[24].edit">Edit</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[24].delete">Delete</mat-checkbox></span>
              <span class="col-2"> <button class="btn btn-primary" (click)="onClickSaveAll()">Save</button></span>
            </nb-list-item>

            <nb-list-item class="row w-100 mb-3">
              <span class="col-4">Other Vehicles</span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[25].add">Add</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[25].edit">Edit</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[25].delete">Delete</mat-checkbox></span>
              <span class="col-2"> <button class="btn btn-primary" (click)="onClickSaveAll()">Save</button></span>
            </nb-list-item>

            <nb-list-item class="row w-100 mb-3">
              <span class="col-4">Staff Transportation</span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[26].add">Add</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[26].edit">Edit</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[26].delete">Delete</mat-checkbox></span>
              <span class="col-2"> <button class="btn btn-primary" (click)="onClickSaveAll()">Save</button></span>
            </nb-list-item>

            <nb-list-item class="row w-100 mb-3">
              <span class="col-4">Bio Gas</span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[27].add">Add</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[27].edit">Edit</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[27].delete">Delete</mat-checkbox></span>
              <span class="col-2"> <button class="btn btn-primary" (click)="onClickSaveAll()">Save</button></span>
            </nb-list-item>

            <nb-list-item class="row w-100 mb-3">
              <span class="col-4">Waste Water</span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[28].add">Add</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[28].edit">Edit</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[28].delete">Delete</mat-checkbox></span>
              <span class="col-2"> <button class="btn btn-primary" (click)="onClickSaveAll()">Save</button></span>
            </nb-list-item>

            <nb-list-item class="row w-100 mb-3">
              <span class="col-4">Welding</span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[29].add">Add</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[29].edit">Edit</mat-checkbox></span>
              <span class="col-2"><mat-checkbox class="example-margin" [(ngModel)]="userAccess[29].delete">Delete</mat-checkbox></span>
              <span class="col-2"> <button class="btn btn-primary" (click)="onClickSaveAll()">Save</button></span>
            </nb-list-item>
          </nb-list>

          
        </div>
      </nb-card-body>
      <!--<nb-card-footer >-->
        <!--<div class="row justify-content-end">-->
          <!--<button class="btn btn-primary" (click)="onClickSaveAll()">Save</button>-->
        <!--</div>-->
      <!--</nb-card-footer>-->
    </nb-card>
  </div>
</div>
<div *ngIf="users.length === 0" class="row mt-3">
  <div  class="col-md-12 col-xs-12">
    <nb-card>
      <nb-card-body>
        <div class ="row font-weight-bold">No User Found for the current selection</div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
