<div class="card h-100 w-100 m-0 mat-dg-content">
  <div class="h-100">
    <div class="card-header mat-pop-up-header hidden-sm-down">
      <div class="row">
        <div class="col-10 font-weight-bold">
          {{header}}
        </div>
        <div class="col-2 text-right d-flex justify-content-end align-items-center">
          <nb-icon  icon="close-outline" (click)="closeDialog()" onmouseover style="cursor: pointer;"></nb-icon>
        </div>
      </div>
    </div>
    <div class="card-body with-bottom-buttons">
      <div>
        <div *ngIf="!popupData.isEdit"  class="row mb-3 pr-2 pl-1">
          <div class="col-5 d-flex align-items-center">
            <label class="mandatory">User Name</label>
          </div>
          <div class="col-7 flex">
            <input type="text" [(ngModel)]="userName"   class="form-control-sm w-100 no-radius" >
          </div>
        </div>
        <div  *ngIf="!popupData.isEdit" class="row mb-3 pr-2 pl-1">
          <div class="col-5 d-flex align-items-center">
            <label class="mandatory">Pasword</label>
          </div>
          <div class="col-7 flex">
            <input type="text" [(ngModel)]="password"  class="form-control-sm w-100 no-radius" >
          </div>
        </div>
        <div  class="row mb-3 pr-2 pl-1">
          <div class="col-5 d-flex align-items-center">
            <label class="mandatory">Title</label>
          </div>
          <div class="col-7 flex">
            <mat-select  [(ngModel)]="titleModel" placeholder="Select Title" >
              <mat-option  *ngFor="let a of titles" [value]="a">
                {{a}}
              </mat-option>
            </mat-select>
          </div>
        </div>

        <div  class="row mb-3 pr-2 pl-1">
          <div class="col-5 d-flex align-items-center">
            <label  class="mandatory">First Name</label>
          </div>
          <div class="col-7   w-100 flex">
            <input [(ngModel)]="firstNameModel"  class="form-control-sm w-100 no-radius" >
          </div>
        </div>
        <div  class="row mb-3 pr-2 pl-1">
          <div class="col-5  d-flex align-items-center">
            <label class="mandatory">Last Name</label>
          </div>
          <div class="col-7  w-100 flex">
            <input [(ngModel)]="lastnameModel"  class="form-control-sm w-100 no-radius" >
          </div>
        </div>
        <div  class="row mb-3 pr-2 pl-1">
          <div class="col-5 d-flex align-items-center">
            <label class="mandatory">Company</label>
          </div>
          <div class="col-7 flex">
            <mat-select (selectionChange)="onChangeCompany($event)"  [(ngModel)]="companyModel" placeholder="Select Company" >
              <mat-option  *ngFor="let a of companines" [value]="a.id">
                {{a.name}}
              </mat-option>
            </mat-select>
          </div>
        </div>


      </div>


    </div>
    <div  mat-dialog-actions class="card-footer mb-0">
      <div class="row  w-100">
        <div class="col w-100 pt-1 pb-0 pr-1 card-bottom-buttons d-flex justify-content-end">
          <!--<button class="btn btn-secondary mr-2 ml-2"  (click)="onClickCancel()"></button>-->
          <button class="btn btn-primary" [disabled]="isDisableSave" (click)="onClickSave()">{{btnText}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
