@import '../../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
}

.disabled {
  pointer-events:none; //This makes it not clickable
  opacity:0.6;         //This grays it out to look disabled
}


.context-menu {
  background-color: red;
  position: absolute;
}
nb-card-body {
  overflow-x: scroll !important;
}

:host {
  ::ng-deep .branch .ng2-smart-title {
    min-width: 100px;
  }
  ::ng-deep .company .ng2-smart-title {
    min-width: 100px;
  }
  ::ng-deep .units .ng2-smart-title {
    min-width: 30px;
  }
  ::ng-deep .year .ng2-smart-title {
    min-width: 30px;
  }
  ::ng-deep .month .ng2-smart-title {
    min-width: 30px;
  }

}

