<div class="card h-100 w-100 m-0 mat-dg-content">
  <div class="h-100">
    <div class="card-header mat-pop-up-header hidden-sm-down">
      <div class="row">
        <div class="col-10 font-weight-bold">
          Emission Calculations
        </div>
        <div class="col-2 text-right d-flex justify-content-end align-items-center">
          <nb-icon  icon="close-outline" (click)="closeDialog()" onmouseover style="cursor: pointer;"></nb-icon>
        </div>
      </div>
    </div>
    <div class="card-body" style="max-height: 400px; overflow: scroll;">

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left font-weight-bold">
          Equation
        </div>
      </div>
      <div   class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-center font-weight-bold">
          <i>
            E<sub>MC</sub> = (((EF<sub>CO<sub>2</sub>, MC,n</sub> X GWP<sub>CO<sub>2</sub></sub>)/1000) X TE<sub>MC</sub>) + (((EF<sub>CH<sub>4</sub>, MC, n</sub> X GWP<sub>CH<sub>4</sub></sub>)/1000) X TE<sub>MC</sub>) + (((EF<sub>N<sub>2</sub>O, MC, n</sub> X
            GWP<sub>N<sub>2</sub>O</sub>)/1000) X TE<sub>MC</sub>)
          </i></div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p>E<sub>MC }}</sub>  =  Total GHG emissions from the  mobile combustion (tCo<sub>2e</sub>/year) </p>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p>TE<sub>MC</sub>  =  Total energy consumed by the mobile combustion (TJ)  </p>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p>EF<sub>CO<sub>2</sub>, MC,n</sub>  =   Emission factor for CO<sub>2</sub> from mobile combustion of fuel n (kg CO<sub>2</sub>/ TJ)  </p>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p>EF<sub>CH<sub>4</sub>, MC,n</sub>  =    Emission factor for CH<sub>4</sub> from mobile combustion of fuel n (kg CH<sub>4</sub>/ TJ)  </p>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p>EF<sub>N<sub>2</sub>O, MC,n</sub>  =    Emission factor for N<sub>2</sub>O from mobile combustion of fuel n (kg N<sub>2</sub>O/ TJ)  </p>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p> GWP<sub>CO<sub>2</sub></sub>   =    Global worming potential for CO<sub>2</sub>  </p>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p> GWP<sub>CH<sub>4</sub></sub>   =    Global worming potential for CH<sub>4</sub> </p>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p> GWP<sub>N<sub>2</sub>O</sub>   =    Global worming potential for N<sub>2</sub>O  </p>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-center font-weight-bold">
          <i>
            TE<sub>MC</sub> = (FC <sub>n</sub> / 1000) X D<sub>n</sub> X NCV<sub>n</sub>
          </i></div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p> D<sub>n</sub>   =     Density of the fuel type n (t/m<sup>3</sup>)
          </p>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p> NCV<sub>n</sub>   =    Net calorific value of the fuel type n(TJ/t)   </p>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p> FC<sub>n</sub>   =     Fuel consumed by the mobile combustion using fuel type n per year(L)
          </p>
        </div>
      </div>

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left font-weight-bold">
          Substitution
        </div>
      </div>

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left">
          <i>FC<sub>n</sub>  = {{popupData.data.emission_info.quantity}}</i>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left">
          <i>NCV<sub>n</sub>  = {{popupData.data.emission_info.net_cal}}</i>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left">
          <i>D<sub>n</sub>  = {{popupData.data.emission_info.den}}</i>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left">
          <i>EF<sub>CO<sub>2</sub>, MC,n</sub> = {{popupData.data.emission_info.ef_co2}}</i>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left">
          <i>EF<sub>CH<sub>4</sub>, MC,n</sub>  = {{popupData.data.emission_info.ef_ch4}}</i>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left">
          <i>EF<sub>N<sub>2</sub>O, MC,n</sub> = {{popupData.data.emission_info.ef_n20}}</i>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left">
          <i>GWP<sub>CO<sub>2</sub></sub> = {{popupData.data.emission_info.gwp_co2}}&nbsp; </i>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left">
          <i>GWP<sub>CH<sub>4</sub></sub> = {{popupData.data.emission_info.gwp_ch4}}&nbsp; </i>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left">
          <i>GWP<sub>N<sub>2</sub>O</sub> = {{popupData.data.emission_info.gwp_n20}} </i>
        </div>
      </div>





      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left">
          <i>E<sub>MC</sub> = {{popupData.data.emission}}&nbsp;tCo<sub>2e</sub> </i>
        </div>
      </div>



    </div>
    <!--<div  mat-dialog-actions class="card-footer mb-0">-->
    <!--<div class="row  w-100">-->
    <!--<div class="col w-100 pt-1 pb-0 pr-1 card-bottom-buttons d-flex justify-content-end">-->
    <!--&lt;!&ndash;<button class="btn btn-secondary mr-2 ml-2"  (click)="onClickCancel()"></button>&ndash;&gt;-->
    <!--<button class="btn btn-primary" [disabled]="isViewOnly" (click)="onClickSave()">{{btnText}}</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
  </div>
</div>
