@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '../../../@theme/styles/themes';

//@include nb-install-component() {
//  overflow: auto;
//
//  .item {
//    display: flex;
//    justify-content: space-between;
//    align-items: center;
//
//    > * {
//      flex: 1;
//    }
//
//    &:first-child {
//      border-top: none;
//    }
//  }
//}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

::ng-deep {
  .ngx-dropdown-container{
    .available-items{
      max-height: 80px;
      overflow-y: scroll;
      //z-index: 2;
    }
  }

}

p {
  padding-left: 60px;
  //padding-right: 30px;
  font-style: italic;
  algin: justify;
}

ul {
  padding-left: 100px;
  padding-right: 30px;
  font-style: italic;

}
//li {
//  padding-left: 80px;
//  padding-right: 30px;
//}

.tchead2{
  padding-left: 80px;
}


.inline-block-item-400 {
  display: inline-block;
  width: 400px;
}
.inline-block-item-250 {
  display: inline-block;
  width: 250px;
}
.inline-block-item-200 {
  display: inline-block;
  width: 200px;
}
.inline-block-item-100 {
  display: inline-block;
  width: 100px;
}

.inline-block-item-80 {
  display: inline-block;
  width: 80px;
}
