<!-- <nb-layout >
    <nb-layout-column>
        <nb-card>
            <nb-card-header>
                <nav class="navigation w-100 h-100  d-flex justify-content-center">
                  <a href="#">
                    <img  class="img-fluid" src="../../../../assets/logo/favicon.jpg"/>
                  </a>
                </nav>
            </nb-card-header>
            <nb-card-body class="bg-light">
                <nb-auth-block>
                    <router-outlet></router-outlet>
                </nb-auth-block>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
</nb-layout> -->
<router-outlet></router-outlet>