<nb-card>
  <nb-card-header>

    <div class="row" >
      <div class="col-7">GHG History</div>
      <div class="col-2">Company</div>
      <div class="col-3 font-weight-normal">
        <mat-select (selectionChange)="onChangeCompany($event.value)"  placeholder="Select Company" [(ngModel)]="selectedCompany" >

          <mat-option *ngFor="let c of compaines" [value]="c.id">
            {{c.name}}
          </mat-option>
        </mat-select>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row font-weight-bold" *ngIf="selectedCompany === -1">
      Select Company First
    </div>
    <div class="row" *ngIf="selectedCompany > 0">
      <nb-list  class="col-12">
        <nb-list-item class="font-weight-bold d-flex">
          <span class="inline-block-item-250 font-weight-bold">Categories/Years</span>
          <span class="inline-block-item-100 ml-2 text-center align-self-center" *ngFor="let year of emissionHistoryYears;">{{year}}</span>
          <input [disabled]="disableEnterData" [placeholder]="isFy ? 'eg: 2019/20': 'eg: 2020'  " class="inline-block-item-100 ml-2 align-self-stretch"  type="text" [(ngModel)]="previousYear"/>
          <button [disabled]="disableEnterData"  class="btn btn-outline-secondary ml-2 pb-1 pt-1" (click)="onClickAddPrevYear($event)" nbtooltip="Add Previous Year"><nb-icon icon="plus-outline" pack="eva"></nb-icon></button>
        </nb-list-item>
        <nb-list-item>
          <span class="inline-block-item-250">
            <button [disabled]="disableEnterData" class="btn btn-primary" (click)="exportExcelSummary($event);">Export Summary</button>
          </span>
          <div class="inline-block-item-100 ml-2 d-inline-flex  justify-content-center" *ngFor="let year of emissionHistoryYears; let i = index;">
            <button class="btn btn-outline-secondary "   (click)="deleteYearFromEmissionHistory($event, year,i)"><nb-icon icon="trash-2-outline" pack="eva"></nb-icon></button>

          </div>
          <!-- Todo hide delete year for current-->
          <!--<span class="inline-block-item-80 text-center"></span>-->
        </nb-list-item>
      </nb-list>
      <nb-list *ngIf="emissionHistoryYears.length > 0" class="col-12">
        <nb-list-item>
          <span class="inline-block-item-250 font-weight-bold">Emission Sources</span>
        </nb-list-item>
        <nb-list-item>
          <span class="inline-block-item-250 ">Business Air Travel</span>
          <input class="inline-block-item-100 ml-2 form-control-sm  no-radius " *ngFor="let em of emissionHistory.air_travel;  let i = index" type="number" [value]="em" (change)="onChangeEm($event, i, 'air_travel')"/>
        </nb-list-item>
        <nb-list-item>
          <span class="inline-block-item-250 ">Fire Extinguisher</span>
          <input class="inline-block-item-100 ml-2 form-control-sm  no-radius " *ngFor="let em of emissionHistory.fire_ext;  let i = index" type="number" [value]="em"   (change)="onChangeEm($event, i, 'fire_ext')"/>
        </nb-list-item>
        <nb-list-item>
          <span class="inline-block-item-250 ">Refrigerants</span>
          <input class="inline-block-item-100 ml-2 form-control-sm  no-radius " *ngFor="let em of emissionHistory.refri_leakage;  let i = index" type="number" [value]="em"   (change)="onChangeEm($event, i, 'refri_leakage')"/>
        </nb-list-item>
        <nb-list-item>
          <span class="inline-block-item-250 ">Generators</span>
          <input class="inline-block-item-100 ml-2 form-control-sm  no-radius " *ngFor="let em of emissionHistory.diesel_generators;  let i = index" type="number" [value]="em"   (change)="onChangeEm($event, i, 'diesel_generators')"/>
        </nb-list-item>
        <nb-list-item>
          <span class="inline-block-item-250 ">Electricity</span>
          <input class="inline-block-item-100 ml-2 form-control-sm  no-radius " *ngFor="let em of emissionHistory.electricity;  let i = index" type="number" [value]="em"   (change)="onChangeEm($event, i, 'electricity')"/>
        </nb-list-item>
        <nb-list-item>
          <span class="inline-block-item-250 ">Waste Disposal</span>
          <input class="inline-block-item-100 ml-2 form-control-sm  no-radius " *ngFor="let em of emissionHistory.waste_disposal;  let i = index" type="number" [value]="em"   (change)="onChangeEm($event, i, 'waste_disposal')"/>
        </nb-list-item>
        <nb-list-item>
          <span class="inline-block-item-250 ">Municipal Water</span>
          <input class="inline-block-item-100 ml-2 form-control-sm  no-radius " *ngFor="let em of emissionHistory.mun_water;  let i = index" type="number" [value]="em"   (change)="onChangeEm($event, i, 'mun_water')"/>
        </nb-list-item>
        <nb-list-item>
          <span class="inline-block-item-250 ">Employee Commuting Paid</span>
          <input class="inline-block-item-100 ml-2 form-control-sm  no-radius " *ngFor="let em of emissionHistory.emp_comm_paid;  let i = index" type="number" [value]="em"   (change)="onChangeEm($event, i, 'emp_comm_paid')"/>
        </nb-list-item>
        <nb-list-item>
          <span class="inline-block-item-250 ">Employee Commuting Not Paid</span>
          <input class="inline-block-item-100 ml-2 form-control-sm  no-radius " *ngFor="let em of emissionHistory.emp_comm_not_paid;  let i = index" type="number" [value]="em"   (change)="onChangeEm($event, i, 'emp_comm_not_paid')"/>
        </nb-list-item>
        <nb-list-item>
          <span class="inline-block-item-250">Company owned vehicles</span>
          <input class="inline-block-item-100 ml-2 form-control-sm  no-radius " *ngFor="let em of emissionHistory.company_owned;  let i = index" type="number" [value]="em"   (change)="onChangeEm($event, i, 'company_owned')"/>
        </nb-list-item>
        <nb-list-item>
          <span class="inline-block-item-250">Off-road mobile sources and machineries forklifts</span>
          <input class="inline-block-item-100 ml-2 form-control-sm  no-radius " *ngFor="let em of emissionHistory.offroad;  let i = index" type="number" [value]="em"   (change)="onChangeEm($event, i, 'offroad')"/>
        </nb-list-item>
        <nb-list-item>
          <span class="inline-block-item-250">Transmission and Distribution Loss</span>
          <input class="inline-block-item-100 ml-2 form-control-sm  no-radius " *ngFor="let em of emissionHistory.t_d;  let i = index" type="number" [value]="em"   (change)="onChangeEm($event, i, 't_d')"/>
        </nb-list-item>
        <nb-list-item>
          <span class="inline-block-item-250">Transport Rented</span>
          <input class="inline-block-item-100 ml-2 form-control-sm  no-radius " *ngFor="let em of emissionHistory.transport_rented;  let i = index" type="number" [value]="em"   (change)="onChangeEm($event, i, 'transport_rented')"/>
        </nb-list-item>
        <nb-list-item>
          <span class="inline-block-item-250 ">Transport Hired Paid</span>
          <input class="inline-block-item-100 ml-2 form-control-sm  no-radius " *ngFor="let em of emissionHistory.transport_hired_paid;  let i = index" type="number" [value]="em"   (change)="onChangeEm($event, i, 'transport_hired_paid')"/>
        </nb-list-item>

        <nb-list-item>
          <span class="inline-block-item-250 ">Transport Hired Not Paid</span>
          <input class="inline-block-item-100 ml-2 form-control-sm  no-radius " *ngFor="let em of emissionHistory.transport_hired_not_paid;  let i = index" type="number" [value]="em"   (change)="onChangeEm($event, i, 'transport_hired_not_paid')"/>
        </nb-list-item>

        <nb-list-item>
          <span class="inline-block-item-250 ">Transport Locally Purchased</span>
          <input class="inline-block-item-100 ml-2 form-control-sm  no-radius " *ngFor="let em of emissionHistory.transport_loc_pur;  let i = index" type="number" [value]="em"   (change)="onChangeEm($event, i, 'transport_loc_pur')"/>
        </nb-list-item>

        <nb-list-item>
          <span class="inline-block-item-250 ">Waste Transport</span>
          <input class="inline-block-item-100 ml-2 form-control-sm  no-radius " *ngFor="let em of emissionHistory.waste_transport;  let i = index" type="number" [value]="em" (change)="onChangeEm($event, i, 'waste_transport')"/>
        </nb-list-item>

        <nb-list-item>
          <span class="inline-block-item-250  font-weight-bold">Emission Summary</span>
        </nb-list-item>

        <nb-list-item>
          <span class="inline-block-item-250 ">Total Emission</span>
          <input class="inline-block-item-100 ml-2 form-control-sm  no-radius " *ngFor="let em of emissionHistory.total;  let i = index" type="number" [value]="em" (change)="onChangeEm($event, i, 'total')"/>
        </nb-list-item>

        <nb-list-item>
          <span class="inline-block-item-250 ">Direct Emission</span>
          <input class="inline-block-item-100 ml-2 form-control-sm  no-radius " *ngFor="let em of emissionHistory.direct;  let i = index" type="number" [value]="em" (change)="onChangeEm($event, i, 'direct')"/>
        </nb-list-item>


        <nb-list-item>
          <span class="inline-block-item-250 ">Indirect Emission</span>
          <input class="inline-block-item-100 ml-2 form-control-sm  no-radius " *ngFor="let em of emissionHistory.indirect;  let i = index" type="number" [value]="em" (change)="onChangeEm($event, i, 'indirect')"/>
        </nb-list-item>


        <nb-list-item>
          <span class="inline-block-item-250 ">Scope 1</span>
          <input class="inline-block-item-100 ml-2 form-control-sm  no-radius " *ngFor="let em of emissionHistory.scope_1;  let i = index" type="number" [value]="em" (change)="onChangeEm($event, i, 'scope_1')"/>
        </nb-list-item>

        <nb-list-item>
          <span class="inline-block-item-250 ">Scope 2</span>
          <input class="inline-block-item-100 ml-2 form-control-sm  no-radius " *ngFor="let em of emissionHistory.scope_2;  let i = index" type="number" [value]="em" (change)="onChangeEm($event, i, 'scope_2')"/>
        </nb-list-item>

        <nb-list-item>
          <span class="inline-block-item-250 ">Scope 3</span>
          <input class="inline-block-item-100 ml-2 form-control-sm  no-radius " *ngFor="let em of emissionHistory.scope_3;  let i = index" type="number" [value]="em" (change)="onChangeEm($event, i, 'scope_3')"/>
        </nb-list-item>

        <nb-list-item>
          <span class="inline-block-item-250 ">Per Capita Emission</span>
          <input class="inline-block-item-100 ml-2 form-control-sm  no-radius " *ngFor="let em of emissionHistory.per_capita;  let i = index" type="number" [value]="em" (change)="onChangeEm($event, i, 'per_capita')"/>
        </nb-list-item>

        <nb-list-item>
          <span class="inline-block-item-250 ">Emission Intensity</span>
          <input class="inline-block-item-100 ml-2 form-control-sm  no-radius " *ngFor="let em of emissionHistory.intensity;  let i = index" type="number" [value]="em" (change)="onChangeEm($event, i, 'intensity')"/>
        </nb-list-item>

        <!--<nb-list-item>-->
          <!--<span class="inline-block-item-250 ">Emission Per Prodcution</span>-->
          <!--<input class="inline-block-item-100 ml-2 form-control-sm  no-radius " *ngFor="let em of emissionHistory.per_prod;  let i = index" type="number" [value]="em" (change)="onChangeEm($event, i, 'per_prod')"/>-->
        <!--</nb-list-item>-->

        <nb-list-item>
          <span class="inline-block-item-250  font-weight-bold">Emission Factors</span>
        </nb-list-item>

        <nb-list-item>
          <span class="inline-block-item-250 "> Emission factor for grid electricity (tCO<sub>2</sub> e/ MWh) </span>
          <input class="inline-block-item-100 ml-2 form-control-sm  no-radius " *ngFor="let em of emissionHistory.ef_grid_elec;  let i = index" type="number" [value]="em" (change)="onChangeEm($event, i, 'ef_grid_elec')"/>
        </nb-list-item>

        <nb-list-item>
          <span class="inline-block-item-250 "> Transmission & distribution loss (%)</span>
          <input class="inline-block-item-100 ml-2 form-control-sm  no-radius " *ngFor="let em of emissionHistory.ef_td;  let i = index" type="number" [value]="em" (change)="onChangeEm($event, i, 'ef_td')"/>
        </nb-list-item>

        <nb-list-item>
          <span class="inline-block-item-250 "> Emission factor for grid electricity (tCO<sub>2</sub>e/ MWh) </span>
          <input class="inline-block-item-100 ml-2 form-control-sm  no-radius " *ngFor="let em of emissionHistory.ef_mw;  let i = index" type="number" [value]="em" (change)="onChangeEm($event, i, 'ef_mw')"/>
        </nb-list-item>
        <!--<nb-list-item>-->
          <!--<span class="inline-block-item-250 font-weight-bold">Transport Hired Paid</span>-->
          <!--<input class="inline-block-item-100 ml-2 form-control-sm  no-radius " *ngFor="let em of emissionHistory.transport_hired_paid;  let i = index" type="number" [value]="em" (change)="onChangeEm($event, index, 'transport_hired_paid')"/>-->
        <!--</nb-list-item>-->
      </nb-list>
      <div *ngIf="emissionHistoryYears.length == 0" class="col-12 font-weight-bold">
        Add Previous Year First
      </div>
    </div>
    <div *ngIf="selectedCompany > 0 && emissionHistoryYears.length > 0" class="row w-100 pt-3">
      <div class="col-12 d-flex justify-content-end"><button class="btn btn-primary" (click)="saveEmissionHistory($event)">Save</button></div>
    </div>
  </nb-card-body>
  <!--<nb-card-footer></nb-card-footer>-->
</nb-card>
