.inline-block-item-400 {
  display: inline-block;
  width: 400px;
}
.inline-block-item-250 {
  display: inline-block;
  width: 250px;
}
.inline-block-item-200 {
  display: inline-block;
  width: 200px;
}
.inline-block-item-100 {
  display: inline-block;
  width: 100px;
}

.inline-block-item-80 {
  display: inline-block;
  width: 80px;
}
