<div class="card h-100 w-100 m-0 mat-dg-content">
  <div class="h-100">
    <div class="card-header mat-pop-up-header hidden-sm-down">
      <div class="row">
        <div class="col-10 font-weight-bold">
          Emission Calculations
        </div>
        <div class="col-2 text-right d-flex justify-content-end align-items-center">
          <nb-icon  icon="close-outline" (click)="closeDialog()" onmouseover style="cursor: pointer;"></nb-icon>
        </div>
      </div>
    </div>
    <div class="card-body " style="max-height: 400px; overflow: scroll;">

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left font-weight-bold">
          Equation
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-center font-weight-bold"><i>TE<sub>DG</sub> = (FC<sub>D</sub> /1000) X D<sub>D</sub> X NCV<sub>D</sub> </i></div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p>TE<sub>DG</sub> = Total energy consumed by the diesel generator (TJ)  </p>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p>FC<sub>D</sub>  = Fuel consumed by the diesel generator per year (L) </p>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p>D<sub>D</sub> = Density of the fuel (t/m<sup>3</sup>)  </p>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p> NCV<sub>D</sub> =  Net calorific value of the fuel (TJ/t)</p>
        </div>
      </div>


      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left font-weight-bold">
          Substitution
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left">
          <i>FC<sub>D</sub> = {{popupData.data.quantity}}L</i>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left">
          <i>D<sub>D</sub>  = {{popupData.data.density_diesel}}&nbsp;(t/m<sup>3</sup>)&nbsp;</i>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left">
          <i> NCV<sub>D</sub> =  {{popupData.data.net_caloric}}(TJ/t)</i>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left">
          <i>TE<sub>DG</sub> = ({{popupData.data.quantity}} /1000) X {{popupData.data.density_diesel}} X  {{popupData.data.net_caloric}} </i>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left">
          <i>TE<sub>DG</sub>  = {{popupData.data.emission}}&nbsp; (TJ) </i>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left font-weight-bold">
          Equation
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-center font-weight-bold"><i>E<sub>DG</sub> = (((EF<sub>CO2, S, Diesel</sub> X GWP<sub>CO2 </sub>)/1000) X TE<sub>DG</sub>) + (((EF<sub>CH4, S, Diesel</sub> X GWP<sub>CH4</sub>)/1000) X TE<sub>DG</sub>) + (((EF<sub>N2O, S, Diesel</sub> X GWP<sub>N2O </sub>)/1000) X TE<sub>DG</sub>) </i></div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p>E<sub>DG</sub> =  Total GHG emissions from the diesel generator (tCo<sub>2e</sub>/year)</p>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p>EF<sub>CO2, S, Diesel</sub> =  Emission factor for CO<sub>2</sub> from stationary combustion of fuel Diesel (kg CO<sub>2</sub>/ TJ) </p>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p>EF<sub>CH4, S, Diesel</sub> =  Emission factor for CH<sub>4</sub> from stationary combustion of fuel Diesel (kg CH<sub>4</sub>/ TJ) </p>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p>EF<sub>N2O, S, Diesel</sub> =  Emission factor for N<sub>2</sub>O from stationary combustion of fuel Diesel (kg N<sub>2</sub>O/ TJ) </p>
        </div>
      </div>

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p>GWP<sub>CO2</sub> =  Global worming potential for CO<sub>2</sub></p>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p>GWP<sub>CH4</sub> =   Global worming potential for CH<sub>4</sub></p>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p>GWP<sub>N2O</sub> = Global worming potential for N<sub>2</sub>O</p>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left font-weight-bold">
          Substitution
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left">
          <i>EF<sub>CO2, S, Diesel</sub> = {{popupData.data.ef_co2}}(kg CO<sub>2</sub>/ TJ)</i>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left">
          <i>EF<sub>CH4, S, Diesel</sub> ={{popupData.data.ef_ch4}}(kg CH<sub>4</sub>/ TJ)</i>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left">
          <i>EF<sub>N2O, S, Diesel</sub> = {{popupData.data.ef_n20}}(kg N<sub>2</sub>O/ TJ)</i>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left">
          <i>GWP<sub>CO2</sub> = {{popupData.data.gwp_co2}}</i>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left">
          <i>GWP<sub>CH4</sub> = {{popupData.data.gwp_ch4}}</i>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left">
          <i>GWP<sub>N2O</sub> = {{popupData.data.gwp_n20}}</i>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left">
          <i>E<sub>DG</sub> = ((({{popupData.data.ef_co2}} X {{popupData.data.gwp_co2}})/1000) X {{popupData.data.te_dg}}) + ((({{popupData.data.ef_ch4}} X {{popupData.data.gwp_ch4}})/1000) X {{popupData.data.te_dg}}) + ((({{popupData.data.ef_n20}} X {{popupData.data.gwp_n20}})/1000) X {{popupData.data.te_dg}}) </i>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left">
          <i>E<sub>DG</sub>  = {{popupData.data.emission}}&nbsp; (tCo<sub>2e</sub>/year) </i>
        </div>
      </div>

      <!--<div  class="row mb-3 pr-2 pl-1">-->
      <!--<div class="col-12 d-flex justify-content-center">-->
      <!--<p>Substitution</p>-->
      <!--</div>-->
      <!--</div>-->




    </div>
    <!--<div  mat-dialog-actions class="card-footer mb-0">-->
    <!--<div class="row  w-100">-->
    <!--<div class="col w-100 pt-1 pb-0 pr-1 card-bottom-buttons d-flex justify-content-end">-->
    <!--&lt;!&ndash;<button class="btn btn-secondary mr-2 ml-2"  (click)="onClickCancel()"></button>&ndash;&gt;-->
    <!--<button class="btn btn-primary" [disabled]="isViewOnly" (click)="onClickSave()">{{btnText}}</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
  </div>
</div>
