<nb-card>
  <nb-card-header>
    Project Summary
  </nb-card-header>
  <nb-card-body>
<!--    company selection - CSI Admin -->
    <div *ngIf="userType === 3" class="row" >
      <div class="col-12">
        <nb-card>
          <nb-card-header>
            <div class="row">Company</div>
            <div class="row">
              <div class="col-6">Project</div>
              <div class="col-6">
                <mat-select  (selectionChange)="onChangeCompany($event)"  [(ngModel)]="companyId" placeholder="Select Project" >
                  <mat-option  *ngFor="let a of companies" [value]="a.id">
                    {{a.name}}
                  </mat-option>
                </mat-select>
              </div>
            </div>
          </nb-card-header>
        </nb-card>
      </div>
    </div>

<!--    company basic info alll-->
    <div class="row">
      <div class="col-12">
        <nb-card>
          <nb-card-header>
             Overview
          </nb-card-header>
          <nb-card-body>
            <div class="container">
              <div class="row">
                <div class="col-6">Company Name</div>
                <div class="col-6">{{summaryData.companyName}}</div>
              </div>

              <div class="row">
                <div class="col-6">Year</div>
                <div class="col-6">{{summaryData.fy}}</div>
              </div>

              <div class="row">
                <div class="col-6">Methodology</div>
                <div class="col-6">{{summaryData.methodology}}</div>
              </div>

              <div class="row">
                <div class="col-6">GHG Protocol</div>
                <div class="col-6">{{summaryData.protocol}}</div>
              </div>
              <div class="row">
                <div class="col-6">Direct Emission</div>
                <div class="col-6">{{summaryData.totalDirectEmission}} tCO<sub>2</sub>e</div>
              </div>
              <div class="row">
                <div class="col-6">Indirect Emission</div>
                <div class="col-6">{{summaryData.totalIndirectEmission}} tCO<sub>2</sub>e</div>
              </div>
              <div class="row">
                <div class="col-6">Total Emission</div>
                <div class="col-6">{{summaryData.totalEmission}} tCO<sub>2</sub>e</div>
              </div>
            </div>

          </nb-card-body>
        </nb-card>

      </div>
    </div>

<!--    direct emission sources -->
    <div clalss="row">
      <div class="col-12">
        <nb-card>
          <nb-card-header>
            Direct Emission Sources
          </nb-card-header>
          <nb-card-body>
            <div class="container">
              <div class="row" *ngFor="let src of summaryData.directSources">
                <div class="col-8 font-weight-bold">
                  {{src.srcName}}
                </div>
                <div class="col-4">{{src.emission}}tCO<sub>2</sub>e</div>


                <div *ngIf="src.activityData.length != 0" class="col-12 font-weight-bold">
                  <nb-list>
                    <nb-list-item class=" font-weight-bold "  *ngIf="!summaryData.isFy">
                      <span  class="d-inline-block" style="width: 200px">Data/Month</span>
                      <span class="d-inline-block" style="width: 80px">Jan</span>
                      <span class="d-inline-block" style="width: 80px">Feb</span>
                      <span class="d-inline-block" style="width: 80px">Mar</span>
                      <span class="d-inline-block" style="width: 80px">Apr</span>
                      <span class="d-inline-block" style="width: 80px">May</span>
                      <span class="d-inline-block" style="width: 80px">Jun</span>
                      <span class="d-inline-block" style="width: 80px">Jul</span>
                      <span class="d-inline-block" style="width: 80px">Aug</span>
                      <span class="d-inline-block" style="width: 80px">Sep</span>
                      <span class="d-inline-block" style="width: 80px">Oct</span>
                      <span class="d-inline-block" style="width: 80px">Nov</span>
                      <span class="d-inline-block" style="width: 80px">Dec</span>
                      <span class="d-inline-block" style="width: 80px">All</span>

                    </nb-list-item>

                    <nb-list-item class=" font-weight-bold " *ngIf="summaryData.isFy">
                      <span  class="d-inline-block" style="width: 200px">Data/Month</span>

                      <span class="d-inline-block" style="width: 80px">Apr</span>
                      <span class="d-inline-block" style="width: 80px">May</span>
                      <span class="d-inline-block" style="width: 80px">Jun</span>
                      <span class="d-inline-block" style="width: 80px">Jul</span>
                      <span class="d-inline-block" style="width: 80px">Aug</span>
                      <span class="d-inline-block" style="width: 80px">Sep</span>
                      <span class="d-inline-block" style="width: 80px">Oct</span>
                      <span class="d-inline-block" style="width: 80px">Nov</span>
                      <span class="d-inline-block" style="width: 80px">Dec</span>
                      <span class="d-inline-block" style="width: 80px">Jan</span>
                      <span class="d-inline-block" style="width: 80px">Feb</span>
                      <span class="d-inline-block" style="width: 80px">Mar</span>
                      <span class="d-inline-block" style="width: 80px">All</span>

                    </nb-list-item>
                    <nb-list-item *ngFor="let actData of src.activityData">
                      <span  class="d-inline-block" style="width: 200px">{{actData.metricsName}} +{{actData.unitStr}}</span>
                      <span class="d-inline-block" style="width: 80px" *ngFor="let value of actData.values">{{value}}</span>

                    </nb-list-item>

                  </nb-list>
                </div>

                <div *ngIf="src.emissionFactors.length !=0" class="col-12 font-weight-bold">Emission Factors</div>

                <div *ngIf="src.emissionFactors.length !=0" class="col-12 font-weight-bold">
                  <nb-list>
                    <nb-list-item class="font-weight-bold">
                      <span  class="d-block col-8" >Name</span>
                      <span class="d-block col-4" >Value</span>

                    </nb-list-item>
                    <nb-list-item *ngFor="let ef of src.emissionFactors">
                      <span  class="d-block col-8" >{{ef.name}}</span>
                      <span class="d-block col-4" >{{ef.value}}  {{ef.unitStr}}</span>

                    </nb-list-item>
                  </nb-list>
                </div>


              </div>

            </div>

          </nb-card-body>
        </nb-card>
      </div>

    </div>

<!--    indirect emission sources-->
    <div class="row">
      <div class="col-12">
        <nb-card>
          <nb-card-header>
            Indirect Emission Sources
          </nb-card-header>
          <nb-card-body>

          </nb-card-body>
        </nb-card>
      </div>
    </div>

<!--    uncategorieze emission sources-->
    <div class="row">
     <div class="col-12">
       <nb-card>
         <nb-card-header>
            Uncategorized Emission Sources
         </nb-card-header>
         <nb-card-body>

         </nb-card-body>
       </nb-card>
     </div>
    </div>

<!--    excluded emission sources-->
    <div class="row">
     <div class="col-12">
       <nb-card>
         <nb-card-header>
            Excluded Sources
         </nb-card-header>
         <nb-card-body>
          <div class="container">
            <div class="row" *ngIf="userType === 3">
              <nb-card>
                <nb-card-header>Add Sources</nb-card-header>
                <nb-card-body>
                  <div class="container">
                    <div class="row">
                      <div class="col-3"> Emission Source Name </div>
                      <div class="col-7">
                        <input type="text"  class="form-control no-radius" [(ngModel)]="inputExcludedReason.srcName" >
                      </div>
                      <div class="col-2">
                        <button class="btn btn-primary" (click)="onAddExcludedReason($event)">Save</button>
                      </div>
                      <div class="col-3">
                        Reason
                      </div>
                      <div class="col-9">
                        <textarea [(ngModel)]="inputExcludedReason.reason" style=" -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;" rows="5" ></textarea>
                      </div>
                    </div>
                  </div>
                </nb-card-body>
              </nb-card>
            </div>

            <div class="row">
              <nb-list>
                <nb-list-item *ngFor="let src of summaryData.excludedReasons" >
                  <div class="container">
                    <div class="row font-weight-bold">
                      <div class="col-10">
                        {{src.srcName}}
                      </div>
                      <div class="col-2"><nb-icon  (click)="onDeleteExcludedSrc($event, src)" icon="trash-2-outline"></nb-icon></div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        {{src.reason}}
                      </div>
                    </div>
                  </div>
                </nb-list-item>
              </nb-list>
            </div>
          </div>


         </nb-card-body>
       </nb-card>
     </div>
    </div>

<!--    suggetions-->
    <div class="row">
      <div clasls="col-12">
        <nb-card>
          <nb-card-header>
            Suggestions
          </nb-card-header>
          <nb-card-body>
            <div class="container">
              <div *ngIf="userType == 3" class="row">
                <nb-card>
                  <nb-card-header>
                    Add Suggestions
                  </nb-card-header>
                  <nb-card-body>
                    <div class="container">
                      <div class="row">
                        <div class="col-3">
                          Title
                        </div>
                        <div class="col-7">
                          <input type="text"  class="form-control no-radius" [(ngModel)]="inputSuggestion.title" >
                        </div>
                        <div class="col-2">
                          <button class="btn btn-primary" (click)="onAddSuggestion($event)">Save</button>
                        </div>
                        <div class="col-3">
                          Description
                        </div>
                        <div class="col-9">
                          <textarea [(ngModel)]="inputSuggestion.description" style=" -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;" rows="5" ></textarea>
                        </div>
                      </div>
                    </div>

                  </nb-card-body>
                </nb-card>
              </div>
              <div class="row">
                <nb-list>
                  <nb-list-item *ngFor="let sugg of summaryData.suggestions" >
                    <div class="container">
                      <div class="row font-weight-bold">
                        <div class="col-10">
                          {{sugg.title}}
                        </div>
                        <div class="col-2"><nb-icon  (click)="onDeleteSuggestion($event, sugg)" icon="trash-2-outline"></nb-icon></div>
                      </div>
                      <div class="row">
                        <div class="col-12">
                          {{sugg.description}}
                        </div>
                      </div>
                    </div>
                  </nb-list-item>
                </nb-list>
              </div>

            </div>

          </nb-card-body>
        </nb-card>
      </div>
    </div>

  </nb-card-body>
</nb-card>
