<div class="card h-100 w-100 m-0 mat-dg-content">
  <div class="h-100">
    <div class="card-header mat-pop-up-header hidden-sm-down">
      <div class="row">
        <div class="col-10 font-weight-bold">
          {{popupData.header}}
        </div>
        <div class="col-2 text-right d-flex justify-content-end align-items-center">
          <nb-icon  icon="close-outline" (click)="closeDialog()" onmouseover style="cursor: pointer;"></nb-icon>
        </div>
      </div>
    </div>
    <div class="card-body with-bottom-buttons">

      <div class="row mb-3 pr-2 pl-1">
        <div class="col-3"><label>Company</label></div>
        <div class="col-3">
          <mat-select placeholder="Select Company" (selectionChange)="onChangeCompany($event.value)" [(ngModel)]="jsonBody.COMPANY_ID">
            <mat-option *ngFor="let c of companies" [value]="c.id">
              {{c.name}}
            </mat-option>
          </mat-select>
        </div>
        <div class="col-3"><label>Branch</label></div>
        <div class="col-3">
          <mat-select (selectionChange)="onChangeBranch($event.value)" placeholder="Select Branch"  [(ngModel)]="jsonBody.BRANCH_ID">
            <input  class="form-control w-100" placeholder="Search Branch" (keyup)="onSearchBranch($event.target.value)">
            <mat-option *ngFor="let c of branches" [value]="c.id">
              {{c.name}}
            </mat-option>
          </mat-select>
        </div>

      </div>

      <div class="row mb-3 pr-2 pl-1">
        <div class="col-6 d-flex align-items-center">
          Disposal Method
        </div>
        <div class="col-6">
          <mat-select (selectionChange)="onChangeDisMethod($event.value)" placeholder="Select Method"  [(ngModel)]="jsonBody.DISPOSAL_METHOD">
            <mat-option *ngFor="let c of disMethods" [value]="c.id">
              {{c.name}}
            </mat-option>
          </mat-select>
        </div>
      </div>
      <div class="row mb-3 pr-2 pl-1">
        <div class="col-6 d-flex align-items-center">
          Waste Type
        </div>
        <div class="col-6">
          <mat-select (selectionChange)="onChangeWaste($event)" placeholder="Select Waste"  [(ngModel)]="jsonBody.WASTE_TYPE">
            <mat-option *ngFor="let c of wastes" [value]="c.id">
              {{c.name}}
            </mat-option>
          </mat-select>
        </div>
      </div>
      <div class="row mb-3 pr-2 pl-1">
        <div class="col-6"><label>Amount of Disposed (tonnes)</label></div>
        <div class="col-6">
          <input type="number" [(ngModel)]="jsonBody.AMOUNT_DISPOSED"  class="form-control-sm w-100 no-radius" >
        </div>
      </div>
      <div class="row mb-3 pr-2 pl-1">
        <div class="col-6"><label>Month</label></div>
        <div class="col-6">
          <mat-select (selectionChange)="onChangeMonth($event)" placeholder="Select Month"  [(ngModel)]="jsonBody.MONTH">
            <mat-option *ngFor="let c of months" [value]="c.id">
              {{c.name}}
            </mat-option>
          </mat-select>
        </div>
      </div>
      <div class="row mb-3 pr-2 pl-1">
        <div class="col-6"><label>Year</label></div>
        <div class="col-6">
          <mat-select placeholder="Select Year"  [(ngModel)]="jsonBody.YEAR">
            <mat-option *ngFor="let c of  years" [value]="c">
              {{c}}
            </mat-option>
          </mat-select>
        </div>
      </div>
    </div>
    </div>
    <div  mat-dialog-actions class="card-footer mb-0">
      <div class="row  w-100">
        <div class="col w-100 pt-1 pb-0 pr-1 card-bottom-buttons d-flex justify-content-end">
          <!--<button class="btn btn-secondary mr-2 ml-2"  (click)="onClickCancel()"></button>-->
          <button class="btn btn-primary"  (click)="onClickSave()">Save</button>
        </div>
      </div>
    </div>
  </div>

