<div class="row">
  <nb-tabset class="col-12">
    <nb-tab tabTitle="Report Generation" class="mw-100"  *ngIf="adminid != 3">
      <div class="row">
        <div class="col-12">
          <nb-card>
            <nb-card-header>
              <div class="row">Report Meta Data</div>
              <div class="row">
                <div class="col-6">Project</div>
                <div class="col-6">
                  <mat-select [disabled]=" selctedIndex !== 0" (selectionChange)="onSelectProject($event)"  [(ngModel)]="metaData.projectId" placeholder="Select Project" >
                    <mat-option  *ngFor="let a of projects" [value]="a.id">
                      {{a.name}}
                    </mat-option>
                  </mat-select>
                </div>
              </div>
            </nb-card-header>
            <nb-card-body *ngIf="metaData.projectId === -1">
              <div class="row font-weight-bold">Select Project First</div>
            </nb-card-body>
            <nb-card-body *ngIf="metaData.projectId !== -1" >
              <mat-horizontal-stepper #stepper (selectionChange)="onStepChange($event)" [linear]="true">
                <mat-step  [editable]="false">
                  <ng-template matStepLabel>Enter Report Meta Data</ng-template>
                  <mat-accordion>
                    <mat-expansion-panel (opened)="true">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Company Information
                        </mat-panel-title>
                        <mat-panel-description>
                          Enter Details
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <div class="row mt-2">
                        <div class="col-3">Company Name(Report Header)</div>
                        <div class="col-3"><input [(ngModel)]="metaData.comName_header"   class="form-control-sm w-100 no-radius" ></div>
                        <div class="col-4">This Name will be placed in header of report</div>
                      </div>
                      <!--<div class="row font-weight-bold mt-3">Company Address </div>-->
                      <div class="row mt-2">
                        <div class="col-3">Company Name (Report Address)</div>
                        <div class="col-3"><input [(ngModel)]="metaData.comName_address"   class="form-control-sm w-100 no-radius" ></div>
                        <div class="col-4">This name will be placed in report</div>
                      </div>
                      <div class="row mt-2">
                        <div class="col-3">Company Reg No</div>
                        <div class="col-3"><input [(ngModel)]="metaData.comRegNo"   class="form-control-sm w-100 no-radius" ></div>
                        <div class="col-4">This Reg No will be placed in report</div>
                      </div>
                      <div class="row mt-2">
                        <div class="col-3">Address 1</div>
                        <div class="col-3"><input [(ngModel)]="metaData.addr1"   class="form-control-sm w-100 no-radius" ></div>
                        <div class="col-4">

                        </div>
                      </div>
                      <div class="row mt-2">
                        <div class="col-3">Address 2</div>
                        <div class="col-3"><input [(ngModel)]="metaData.addr2"   class="form-control-sm w-100 no-radius" ></div>
                        <div class="col-4">

                        </div>
                      </div>
                      <div class="row mt-2">
                        <div class="col-3">District</div>
                        <div class="col-3">
                          <mat-select  [(ngModel)]="metaData.district" placeholder="Select District" >
                            <mat-option  *ngFor="let a of districts" [value]="a">
                              {{a}}
                            </mat-option>
                          </mat-select>
                        </div>
                        <div class="col-4">
                          Select Head Office District
                        </div>
                      </div>

                      <div class="row mt-2">
                        <div class="col-3">Email</div>
                        <div class="col-3"><input placeholder="eg: john@mail.com" [(ngModel)]="metaData.email"  class="form-control-sm w-100 no-radius" ></div>
                        <div class="col-4">Enter Company contact email.</div>
                      </div>
                      <div class="row mt-2">
                        <div class="col-3">Telephone</div>
                        <div class="col-3"><input placeholder="eg: 011-xxxxxxx" [(ngModel)]="metaData.telphone"  class="form-control-sm w-100 no-radius" ></div>
                        <div class="col-4">Enter Company contact Telephone.</div>
                      </div>
                      <div class="row mt-2">
                        <div class="col-3">Fax</div>
                        <div class="col-3"><input placeholder="eg: 011-xxxxxxx" [(ngModel)]="metaData.fax"  class="form-control-sm w-100 no-radius" ></div>
                        <div class="col-4">Enter Company contact Fax</div>
                      </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Climate SI Information
                        </mat-panel-title>
                        <mat-panel-description>
                          Enter Details
                        </mat-panel-description>
                      </mat-expansion-panel-header>

                      <div class="row mt-3">
                        <div class="col-4">Climate SI Name</div>
                        <div class="col-4"><input [(ngModel)]="metaData.climateSi_Name"  class="form-control-sm w-100 no-radius" ></div>
                        <div class="col-4"></div>
                      </div>

                      <div class="row mt-3">
                        <div class="col-4">Climate SI Address 1</div>
                        <div class="col-4"><input [(ngModel)]="metaData.climateSi_addr1"  class="form-control-sm w-100 no-radius" ></div>
                        <div class="col-4"></div>
                      </div>

                      <div class="row mt-3">
                        <div class="col-4">Climate SI Address 2</div>
                        <div class="col-4"><input [(ngModel)]="metaData.climateSi_addr2"   class="form-control-sm w-100 no-radius" ></div>
                        <div class="col-4"></div>
                      </div>

                      <div class="row mt-3">
                        <div class="col-4">District</div>
                        <div class="col-4">
                          <mat-select  [(ngModel)]="metaData.climateSi_district" placeholder="Select District" >
                            <mat-option  *ngFor="let a of districts" [value]="a">
                              {{a}}
                            </mat-option>
                          </mat-select>
                        </div>
                        <div class="col-4"></div>
                      </div>

                      <div class="row mt-3">
                        <div class="col-4">Email</div>
                        <div class="col-4"><input placeholder="eg: john@mail.com" [(ngModel)]="metaData.climateSi_email"  class="form-control-sm w-100 no-radius" ></div>
                        <div class="col-4"></div>
                      </div>

                      <div class="row mt-3">
                        <div class="col-4">Telephone</div>
                        <div class="col-4"><input placeholder="eg: 011-xxxxxxx" [(ngModel)]="metaData.climaeSi_telephone"  class="form-control-sm w-100 no-radius" ></div>
                        <div class="col-4"></div>
                      </div>

                      <div class="row mt-3">
                        <div class="col-4">Fax</div>
                        <div class="col-4"><input placeholder="eg: 011-xxxxxxx"  [(ngModel)]="metaData.climatesi_fax"  class="form-control-sm w-100 no-radius" ></div>
                        <div class="col-4"></div>
                      </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Project Information
                        </mat-panel-title>
                        <mat-panel-description>
                          Enter Details
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <div class="row mt-2">
                        <div class="col-4">Year</div>
                        <div class="col-4"><input [(ngModel)]="metaData.year"  class="form-control-sm w-100 no-radius" ></div>

                      </div>
                      <div class="row mt-3">
                        <div class="col-4">Proposed Date</div>
                        <div class="col-4"><input [(ngModel)]="metaData.proposedDate"   class="form-control-sm w-100 no-radius" ></div>
                        <!--<div class="col-2">Project Proposed Date</div>-->

                      </div>
                      <div class="row mt-3">
                        <div class="col-4">Attempt</div>
                        <div class="col-4"><input [(ngModel)]="metaData.attempt" class="form-control-sm w-100 no-radius" ></div>
                        <!--<div class="col-4"></div>-->
                      </div>

                      <div class="row mt-3">
                        <div class="col-4">ISO Standard</div>
                        <div class="col-4"><input [(ngModel)]="metaData.isoStandard"  class="form-control-sm w-100 no-radius" ></div>
                      </div>

                      <div class="row mt-3">
                        <div class="col-4">Previous Year ISO Standard</div>
                        <div class="col-4"><input [(ngModel)]="metaData.previousYearISOStandard"  class="form-control-sm w-100 no-radius" ></div>
                      </div>

                    </mat-expansion-panel>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Description of Company
                        </mat-panel-title>
                        <mat-panel-description>
                          Enter Details
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <div class="row mt-3 font-weight-bold">Company Description</div>
                      <div class="row mt-3  d-flex align-items-center">
                        <div class="col-4">Description of Company</div>
                        <div class="col-6"><textarea [(ngModel)]="metaData.desCompany" style=" -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;" rows="7" ></textarea></div>
                      </div>
                      <div class="row mt-3">
                        <div class="col-4">Figure of Environmental Management  Framework </div>
                        <div class="col-6"><input type="file"  class="form-control no-radius" (change)="onFileChangedFigure($event, 1)"></div>
                      </div>
                      <div class="row mt-3">
                        <div class="col-4">Source : Figure of Environmental Management  Framework </div>
                        <div class="col-6"><input type="text"  class="form-control no-radius" [(ngModel)]="metaData.srcEnvMgmtFramework" ></div>
                      </div>
                      <div class="row mt-3" *ngIf="metaData.figEnvMgmtFramework !== undefined && metaData.figEnvMgmtFramework !== ''">
                        <div class="col-10 d-flex justify-content-center"><img [src]="metaData.figEnvMgmtFramework" style="width:auto;height: auto; max-height: 150px; max-width: 200px;"></div>
                      </div>

                      <div class="row mt-3">
                        <div class="col-4 d-flex align-items-center">Description on Environmental Management  Framework</div>
                        <div class="col-6"><textarea [(ngModel)]="metaData.desEnvironmentalMgmntFramework" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;" rows="7" ></textarea></div>
                      </div>

                      <div class="row mt-3">
                        <div class="col-4">Figure of Responsible Unit </div>
                        <div class="col-6"><input type="file"   class="form-control no-radius" (change)="onFileChangedFigure($event, 2)"></div>
                      </div>
                      <div class="row mt-3">
                        <div class="col-4">Source : Figure of Responsible Unit </div>
                        <div class="col-6"><input type="text"  class="form-control no-radius" [(ngModel)]="metaData.srcResUnit"></div>
                      </div>
                      <div class="row mt-3" *ngIf="metaData.figResUnit !== undefined && metaData.figResUnit !== ''">
                        <div class="col-10 d-flex justify-content-center"><img [src]="metaData.figResUnit" style="width:auto;height: auto; max-height: 150px; max-width: 200px;"></div>
                      </div>

                      <div class="row mt-3">
                        <div class="col-4 d-flex align-items-center">Description on Responsible Unit</div>
                        <div class="col-6"><textarea [(ngModel)]="metaData.desResUnit" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;" rows="7" ></textarea></div>
                      </div>
                      <div class="row mt-3">
                        <div class="col-4 d-flex align-items-center">Description on Mitigation Actions initiated by Company</div>
                        <div class="col-6"><textarea [(ngModel)]="metaData.desGHGMitigationActions"  style=" -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;" rows="7" ></textarea></div>
                      </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Excluded Emission Sources
                        </mat-panel-title>
                        <mat-panel-description>
                          Enter Reasons for excluding Emission Sources
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <div class="row mt-3">
                        <div class="col-12">
                          <nb-list>
                            <nb-list-item class="row">
                              <span class="col-4  d-flex align-items-center">Emission Source</span>
                              <span class="col-6">Reasons to exclude</span>
                            </nb-list-item>
                            <nb-list-item class="row" *ngIf="selectedCompany.allowedEmissionSources[13]">
                              <span class="col-4  d-flex align-items-center"><mat-checkbox [(ngModel)]="metaData.excludedSrcReasons.elec.elec">Electricity</mat-checkbox></span>
                              <span class="col-6"><textarea [(ngModel)]="metaData.excludedSrcReasons.elec.reason" style=" -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;" rows="7" ></textarea></span>
                            </nb-list-item>
                            <nb-list-item class="row" *ngIf="selectedCompany.allowedEmissionSources[18]">
                              <span class="col-4  d-flex align-items-center"><mat-checkbox [(ngModel)]="metaData.excludedSrcReasons.td.td">Transmission and Distribution Loss</mat-checkbox></span>
                              <span class="col-6"><textarea [(ngModel)]="metaData.excludedSrcReasons.td.reason" style=" -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;" rows="7" ></textarea></span>
                            </nb-list-item>
                            <nb-list-item class="row" *ngIf="selectedCompany.allowedEmissionSources[16]">
                              <span class="col-4  d-flex align-items-center"><mat-checkbox [(ngModel)]="metaData.excludedSrcReasons.mw.mw">Municipal Water</mat-checkbox></span>
                              <span class="col-6"><textarea [(ngModel)]="metaData.excludedSrcReasons.mw.reason" style=" -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;" rows="7" ></textarea></span>
                            </nb-list-item>
                            <nb-list-item class="row" *ngIf="selectedCompany.allowedEmissionSources[19]">
                              <span class="col-4  d-flex align-items-center"><mat-checkbox [(ngModel)]="metaData.excludedSrcReasons.wasTrans.wasTrans">Waste Transport</mat-checkbox></span>
                              <span class="col-6"><textarea [(ngModel)]="metaData.excludedSrcReasons.wasTrans.reason" style=" -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;" rows="7" ></textarea></span>
                            </nb-list-item>
                            <nb-list-item class="row" *ngIf="selectedCompany.allowedEmissionSources[17]">
                              <span class="col-4  d-flex align-items-center"><mat-checkbox [(ngModel)]="metaData.excludedSrcReasons.wasteDis.wastDis">Waste Disposal</mat-checkbox></span>
                              <span class="col-6"><textarea [(ngModel)]="metaData.excludedSrcReasons.wasteDis.reason"  style=" -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;" rows="7" ></textarea></span>
                            </nb-list-item>
                            <nb-list-item class="row" *ngIf="selectedCompany.allowedEmissionSources[6]">
                              <span class="col-4  d-flex align-items-center"><mat-checkbox [(ngModel)]="metaData.excludedSrcReasons.gen.gen">Generators</mat-checkbox></span>
                              <span class="col-6"><textarea [(ngModel)]="metaData.excludedSrcReasons.gen.reason" style=" -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;" rows="7" ></textarea></span>
                            </nb-list-item>
                            <nb-list-item class="row"  *ngIf="selectedCompany.allowedEmissionSources[7]">
                              <span class="col-4  d-flex align-items-center"><mat-checkbox [(ngModel)]="metaData.excludedSrcReasons.refri.refri">Refigererant Leakage</mat-checkbox></span>
                              <span class="col-6"><textarea [(ngModel)]="metaData.excludedSrcReasons.refri.reason" style=" -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;" rows="7" ></textarea></span>
                            </nb-list-item>
                            <nb-list-item class="row"  *ngIf="selectedCompany.allowedEmissionSources[8]">
                              <span class="col-4  d-flex align-items-center"><mat-checkbox [(ngModel)]="metaData.excludedSrcReasons.fire.fire">Fire Extinguisher</mat-checkbox></span>
                              <span class="col-6"><textarea [(ngModel)]="metaData.excludedSrcReasons.fire.reason" style=" -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;" rows="7" ></textarea></span>
                            </nb-list-item>
                            <nb-list-item class="row"  *ngIf="selectedCompany.allowedEmissionSources[9]">
                              <span class="col-4  d-flex align-items-center"><mat-checkbox [(ngModel)]="metaData.excludedSrcReasons.offRoad.offRoad">Off Road Vehicles</mat-checkbox></span>
                              <span class="col-6"><textarea [(ngModel)]="metaData.excludedSrcReasons.offRoad.reason" style=" -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;" rows="7" ></textarea></span>
                            </nb-list-item>
                            <nb-list-item class="row" *ngIf="selectedCompany.allowedEmissionSources[10]">
                              <span class="col-4  d-flex align-items-center"><mat-checkbox [(ngModel)]="metaData.excludedSrcReasons.comOwn.comOwn">Company Owned Vehicles</mat-checkbox></span>
                              <span class="col-6"><textarea [(ngModel)]="metaData.excludedSrcReasons.comOwn.reason" style=" -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;" rows="7" ></textarea></span>
                            </nb-list-item>
                            <nb-list-item class="row" *ngIf="selectedCompany.allowedEmissionSources[5]">
                              <span class="col-4  d-flex align-items-center"><mat-checkbox [(ngModel)]="metaData.excludedSrcReasons.hired_paid.hired_paid" >Hired Vehicles (Paid)</mat-checkbox></span>
                              <span class="col-6"><textarea [(ngModel)]="metaData.excludedSrcReasons.hired_paid.reason" style=" -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;" rows="7" ></textarea></span>
                            </nb-list-item>
                            <nb-list-item class="row" *ngIf="selectedCompany.allowedEmissionSources[12]">
                              <span class="col-4  d-flex align-items-center"><mat-checkbox [(ngModel)]="metaData.excludedSrcReasons.hired_notpaid.hired_notpaid">Hired Vehicles (Not Paid)</mat-checkbox></span>
                              <span class="col-6"><textarea [(ngModel)]="metaData.excludedSrcReasons.hired_notpaid.reason" style=" -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;" rows="7" ></textarea></span>
                            </nb-list-item>
                            <nb-list-item class="row" *ngIf="selectedCompany.allowedEmissionSources[4]">
                              <span class="col-4  d-flex align-items-center"><mat-checkbox [(ngModel)]="metaData.excludedSrcReasons.rented.rented">Rented Vehicles</mat-checkbox></span>
                              <span class="col-6"><textarea [(ngModel)]="metaData.excludedSrcReasons.rented.reason" style=" -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;" rows="7" ></textarea></span>
                            </nb-list-item>
                            <nb-list-item class="row" *ngIf="selectedCompany.allowedEmissionSources[15]">
                              <span class="col-4  d-flex align-items-center"><mat-checkbox [(ngModel)]="metaData.excludedSrcReasons.empComm_paid.empComm_paid">Employee Commuting (Paid)</mat-checkbox></span>
                              <span class="col-6"><textarea [(ngModel)]="metaData.excludedSrcReasons.empComm_paid.reason" style=" -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;" rows="7" ></textarea></span>
                            </nb-list-item>
                            <nb-list-item class="row" *ngIf="selectedCompany.allowedEmissionSources[15]">
                              <span class="col-4  d-flex align-items-center"><mat-checkbox [(ngModel)]="metaData.excludedSrcReasons.empComm_notpaid.empComm_notpaid">Employee Commuting (Not Paid)</mat-checkbox></span>
                              <span class="col-6"><textarea [(ngModel)]="metaData.excludedSrcReasons.empComm_notpaid.reason" style=" -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;" rows="7" ></textarea></span>
                            </nb-list-item>
                            <nb-list-item class="row" *ngIf="selectedCompany.allowedEmissionSources[14]">
                              <span class="col-4  d-flex align-items-center"><mat-checkbox [(ngModel)]="metaData.excludedSrcReasons.air.air">Business Air Travel</mat-checkbox></span>
                              <span class="col-6"><textarea [(ngModel)]="metaData.excludedSrcReasons.air.reason" style=" -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;" rows="7" ></textarea></span>
                            </nb-list-item>
                            <nb-list-item class="row" *ngIf="selectedCompany.allowedEmissionSources[3]">
                              <span class="col-4  d-flex align-items-center"><mat-checkbox [(ngModel)]="metaData.excludedSrcReasons.transLoc.transLoc">Transport Locally Purchased</mat-checkbox></span>
                              <span class="col-6"><textarea [(ngModel)]="metaData.excludedSrcReasons.transLoc.reason" style=" -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;" rows="7" ></textarea></span>
                            </nb-list-item>

                            <nb-list-item class="row" *ngIf="selectedCompany.allowedEmissionSources[2]">
                              <span class="col-4  d-flex align-items-center"><mat-checkbox [(ngModel)]="metaData.excludedSrcReasons.seaFreight.seaFreight">Sea Freight</mat-checkbox></span>
                              <span class="col-6"><textarea [(ngModel)]="metaData.excludedSrcReasons.seaFreight.reason" style=" -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;" rows="7" ></textarea></span>
                            </nb-list-item>
                            <nb-list-item class="row" *ngIf="selectedCompany.allowedEmissionSources[1]">
                              <span class="col-4  d-flex align-items-center"><mat-checkbox [(ngModel)]="metaData.excludedSrcReasons.airFreight.airFreight">Air Freight</mat-checkbox></span>
                              <span class="col-6"><textarea [(ngModel)]="metaData.excludedSrcReasons.airFreight.reason" style=" -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;" rows="7" ></textarea></span>
                            </nb-list-item>
                            <nb-list-item class="row" *ngIf="selectedCompany.allowedEmissionSources[21]">
                              <span class="col-4  d-flex align-items-center"><mat-checkbox [(ngModel)]="metaData.excludedSrcReasons.bioMass.bioMass">Biomass</mat-checkbox></span>
                              <span class="col-6"><textarea [(ngModel)]="metaData.excludedSrcReasons.bioMass.reason" style=" -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;" rows="7" ></textarea></span>
                            </nb-list-item>
                            <nb-list-item class="row" *ngIf="selectedCompany.allowedEmissionSources[20]">
                              <span class="col-4  d-flex align-items-center"><mat-checkbox [(ngModel)]="metaData.excludedSrcReasons.lpgGas">LP Gas</mat-checkbox></span>
                              <span class="col-6"><textarea [(ngModel)]="metaData.excludedSrcReasons.lpgGas.reason" style=" -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;" rows="7" ></textarea></span>
                            </nb-list-item>
                            <nb-list-item class="row" *ngIf="selectedCompany.allowedEmissionSources[22]">
                              <span class="col-4  d-flex align-items-center"><mat-checkbox [(ngModel)]="metaData.excludedSrcReasons.ashTrans.ashTrans">Ash Transportation</mat-checkbox></span>
                              <span class="col-6"><textarea [(ngModel)]="metaData.excludedSrcReasons.ashTrans.reason" style=" -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;" rows="7" ></textarea></span>
                            </nb-list-item>
                            <nb-list-item class="row" *ngIf="selectedCompany.allowedEmissionSources[23]">
                              <span class="col-4  d-flex align-items-center"><mat-checkbox [(ngModel)]="metaData.excludedSrcReasons.forkliftsPetrol.forkliftsPetrol">Fork-lifts Petrol</mat-checkbox></span>
                              <span class="col-6"><textarea [(ngModel)]="metaData.excludedSrcReasons.forkliftsPetrol.reason" style=" -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;" rows="7" ></textarea></span>
                            </nb-list-item>
                            <nb-list-item class="row" *ngIf="selectedCompany.allowedEmissionSources[24]">
                              <span class="col-4  d-flex align-items-center"><mat-checkbox [(ngModel)]="metaData.excludedSrcReasons.forkliftsDiesel.forkliftsDiesel">Fork-lifts Diesel</mat-checkbox></span>
                              <span class="col-6"><textarea [(ngModel)]="metaData.excludedSrcReasons.forkliftsDiesel.reason" style=" -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;" rows="7" ></textarea></span>
                            </nb-list-item>
                            <nb-list-item class="row" *ngIf="selectedCompany.allowedEmissionSources[25]">
                              <span class="col-4  d-flex align-items-center"><mat-checkbox [(ngModel)]="metaData.excludedSrcReasons.furnaceOil.furnaceOil">Furnace-Oil</mat-checkbox></span>
                              <span class="col-6"><textarea [(ngModel)]="metaData.excludedSrcReasons.furnaceOil.reason" style=" -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;" rows="7" ></textarea></span>
                            </nb-list-item>
                            <nb-list-item class="row" *ngIf="selectedCompany.allowedEmissionSources[26]">
                              <span class="col-4  d-flex align-items-center"><mat-checkbox [(ngModel)]="metaData.excludedSrcReasons.lorryTransInternal.lorryTransInternal">Internal Lorry Transportation</mat-checkbox></span>
                              <span class="col-6"><textarea [(ngModel)]="metaData.excludedSrcReasons.lorryTransInternal.reason" style=" -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;" rows="7" ></textarea></span>
                            </nb-list-item>
                            <nb-list-item class="row" *ngIf="selectedCompany.allowedEmissionSources[27]">
                              <span class="col-4  d-flex align-items-center"><mat-checkbox [(ngModel)]="metaData.excludedSrcReasons.lorryTransExternal.lorryTransExternal">External Lorry Transportation</mat-checkbox></span>
                              <span class="col-6"><textarea [(ngModel)]="metaData.excludedSrcReasons.lorryTransExternal.reason" style=" -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;" rows="7" ></textarea></span>
                            </nb-list-item>
                            <nb-list-item class="row" *ngIf="selectedCompany.allowedEmissionSources[38]">
                              <span class="col-4  d-flex align-items-center"><mat-checkbox [(ngModel)]="metaData.excludedSrcReasons.paidManagerVehicle.paidManagerVehicle">Allowance Paid- Managers vehicles</mat-checkbox></span>
                              <span class="col-6"><textarea [(ngModel)]="metaData.excludedSrcReasons.paidManagerVehicle.reason" style=" -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;" rows="7" ></textarea></span>
                            </nb-list-item>
                            <nb-list-item class="row" *ngIf="selectedCompany.allowedEmissionSources[29]">
                              <span class="col-4  d-flex align-items-center"><mat-checkbox [(ngModel)]="metaData.excludedSrcReasons.paperWaste.paperWaste">Paper Waste</mat-checkbox></span>
                              <span class="col-6"><textarea [(ngModel)]="metaData.excludedSrcReasons.paperWaste.reason" style=" -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;" rows="7" ></textarea></span>
                            </nb-list-item>
                            <nb-list-item class="row" *ngIf="selectedCompany.allowedEmissionSources[31]">
                              <span class="col-4  d-flex align-items-center"><mat-checkbox [(ngModel)]="metaData.excludedSrcReasons.rawMatTrans.rawMatTrans">Raw Material Transportation</mat-checkbox></span>
                              <span class="col-6"><textarea [(ngModel)]="metaData.excludedSrcReasons.rawMatTrans.reason" style=" -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;" rows="7" ></textarea></span>
                            </nb-list-item>
                            <nb-list-item class="row" *ngIf="selectedCompany.allowedEmissionSources[34]">
                              <span class="col-4  d-flex align-items-center"><mat-checkbox [(ngModel)]="metaData.excludedSrcReasons.sawDustTrans.sawDustTrans">Saw Dust Transportation</mat-checkbox></span>
                              <span class="col-6"><textarea [(ngModel)]="metaData.excludedSrcReasons.sawDustTrans.reason" style=" -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;" rows="7" ></textarea></span>
                            </nb-list-item>
                            <nb-list-item class="row" *ngIf="selectedCompany.allowedEmissionSources[32]">
                              <span class="col-4  d-flex align-items-center"><mat-checkbox [(ngModel)]="metaData.excludedSrcReasons.sludgeTrans.sludgeTrans">Sludge Transportation</mat-checkbox></span>
                              <span class="col-6"><textarea [(ngModel)]="metaData.excludedSrcReasons.sludgeTrans.reason" style=" -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;" rows="7" ></textarea></span>
                            </nb-list-item>

                            <nb-list-item class="row" *ngIf="selectedCompany.allowedEmissionSources[35]">
                              <span class="col-4  d-flex align-items-center"><mat-checkbox [(ngModel)]="metaData.excludedSrcReasons.vehicleOthers">Other Vehicles</mat-checkbox></span>
                              <span class="col-6"><textarea [(ngModel)]="metaData.excludedSrcReasons.vehicleOthers.reason" style=" -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;" rows="7" ></textarea></span>
                            </nb-list-item>
                          </nb-list>
                        </div>
                      </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Emission Factors
                        </mat-panel-title>
                        <mat-panel-description>
                          Enter Atleast One Suggestion
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <div class="row mt-3">
                        <div class="col-6">
                          Emission Factor Name with units
                        </div>
                        <div class="col-6">
                          <input type="text"  class="form-control no-radius" [(ngModel)]="this.efNameModal" >
                        </div>
                      </div>
                      <div class="row mt-3">
                        <div class="col-6">
                          Emission Factor Value
                        </div>
                        <div class="col-6">
                          <input type="number"  class="form-control no-radius" [(ngModel)]="this.efValueModal" >
                        </div>
                      </div>
                      <div class="row mt-3">
                        <div class="col-4">

                        </div>
                        <div class="col-4">

                        </div>
                        <div class="col-2 d-flex justify-content-end align-items-center"><button (click)="onAddEmissionFactor($event)" class="btn btn-secondary">Add</button></div>
                      </div>
                      <div class="row mt-2">
                        <nb-list class="col-10">
                          <nb-list-item class="row" *ngFor="let ef of metaData.efDTOS ">
                            <span class="col-8">{{ef.nameWithUnit}}</span>
                            <span class="col-4">{{ef.value}}</span>
                          </nb-list-item>
                        </nb-list>

                      </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Suggestions
                        </mat-panel-title>
                        <mat-panel-description>
                          Enter Atleast One Suggestion
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <div class="row mt-3">
                        <div class="col-8">
                          <textarea [(ngModel)]="suggestion" style=" -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;" rows="2" ></textarea>
                        </div>
                        <div class="col-2 d-flex justify-content-end align-items-center"><button (click)="onAddSuggestion($event)" class="btn btn-secondary">Add</button></div>
                      </div>
                      <div class="row mt-2">
                        <nb-list class="col-10">
                          <nb-list-item class="row" *ngFor="let s of metaData.suggestions "><span class="col-12">{{s}}</span></nb-list-item>
                        </nb-list>

                      </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Next Steps
                        </mat-panel-title>
                        <mat-panel-description>
                          Enter Atleast One Next Step
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <div class="row mt-3">
                        <div class="col-8">
                          <textarea [(ngModel)]="nextStep"  style=" -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;" rows="2" ></textarea>
                        </div>
                        <div class="col-2 d-flex justify-content-end align-items-center"><button (click)="onAddNextStep($event)" class="btn btn-secondary">Add</button></div>
                      </div>
                      <div class="row mt-2">
                        <nb-list class="col-10">
                          <nb-list-item class="row" *ngFor="let s of metaData.nextSteps"><span class="col-12">{{s}}</span></nb-list-item>
                        </nb-list>

                      </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Products of the Company
                        </mat-panel-title>
                        <mat-panel-description>
                          Enter Details(optional Information)
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <div class="row mt-3">
                        <div class="col-4">Number of Employees</div>
                        <div class="col-4"><input type="text"  class="form-control no-radius" [(ngModel)]="metaData.num_emps"></div>
                        <div class="col-2"></div>
                      </div>
                      <div class="row mt-3">
                        <div class="col-4">Annual Revenue(LKR)</div>
                        <div class="col-4"><input type="text"  class="form-control no-radius" [(ngModel)]="metaData.revenue"></div>
                        <div class="col-2"></div>
                      </div>
                      <div class="row mt-3">
                        <div class="col-4">Production(Tons)</div>
                        <div class="col-4"><input type="text"  class="form-control no-radius" [(ngModel)]="metaData.prod_ton"></div>
                        <div class="col-2">If Applicable</div>
                      </div>
                      <div class="row mt-3">
                        <div class="col-8">
                          <textarea [(ngModel)]="product" style=" -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;" rows="2" ></textarea>
                        </div>
                        <div class="col-2 d-flex justify-content-end align-items-center"><button (click)="onAddProduct($event)" class="btn btn-secondary">Add</button></div>
                      </div>
                      <div class="row mt-2">
                        <nb-list class="col-10">
                          <nb-list-item class="row" *ngFor="let p of metaData.products"><span class="col-12">{{p}}</span></nb-list-item>
                        </nb-list>
                      </div>
                    </mat-expansion-panel>
                    <!--<mat-expansion-panel>-->
                      <!--<mat-expansion-panel-header>-->
                        <!--<mat-panel-title>-->
                          <!--Previous Year Info-->
                        <!--</mat-panel-title>-->
                        <!--<mat-panel-description>-->
                          <!--Enter Previous Year Information-->
                        <!--</mat-panel-description>-->
                      <!--</mat-expansion-panel-header>-->
                      <!--<div class="row mt-3">-->
                        <!--<div class="col-3"><input [disabled]="previousYears.length === 3" [(ngModel)]="year" [placeholder]="isSelectedFy?  'eg: 2015/16' : 'eg: 2015'"   class="form-control-sm w-100 no-radius" ></div>-->
                        <!--<div class="col-3"><button class="btn btn-secondary" [disabled]="previousYears.length === 4" (click)="onAddPreviousYear()">Add</button></div>-->
                      <!--</div>-->
                      <!--<div *ngIf="previousYears.length > 0" class="row mt-3">-->
                        <!--<nb-list class="w-100">-->
                          <!--<nb-list-item class="font-weight-bold row">-->
                            <!--<span class="col-4">Emission Source</span>-->
                            <!--<span class="col-2 " *ngFor="let y of previousYears.sort()">{{y}}</span>-->
                          <!--</nb-list-item>-->
                          <!--<nb-list-item class="row">-->
                            <!--<span class="col-4">Transport Hired(Not Paid)</span>-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[0]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[0]].e_trans_hired_not_paid"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[1]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[1]].e_trans_hired_not_paid"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[2]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[2]].e_trans_hired_not_paid"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                          <!--</nb-list-item>-->
                          <!--<nb-list-item class="row">-->
                            <!--<span class="col-4">Business Airtravel</span>-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[0]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[0]].e_air_travel"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[1]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[1]].e_air_travel"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[2]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[2]].e_air_travel"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                          <!--</nb-list-item>-->
                          <!--<nb-list-item class="row">-->
                            <!--<span class="col-4">Grid Connected Electricity </span>-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[0]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[0]].e_elec"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[1]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[1]].e_elec"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[2]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[2]].e_elec"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                          <!--</nb-list-item>-->
                          <!--<nb-list-item class="row">-->
                            <!--<span class="col-4">Employee Commuting (Not Paid)</span>-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[0]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[0]].e_emp_comm_not_paid"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[1]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[1]].e_emp_comm_not_paid"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[2]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[2]].e_emp_comm_not_paid"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                          <!--</nb-list-item>-->
                          <!--<nb-list-item class="row">-->
                            <!--<span class="col-4">T & D Loss</span>-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[0]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[0]].e_t_d"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[1]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[1]].e_t_d"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[2]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[2]].e_t_d"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                          <!--</nb-list-item>-->
                          <!--&lt;!&ndash;<nb-list-item class="row">&ndash;&gt;-->
                            <!--&lt;!&ndash;<span class="col-4">Transport Hired(Paid)</span>&ndash;&gt;-->
                            <!--&lt;!&ndash;<input *ngIf="metaData.previousYearEmission[previousYears[0]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[0]].e_trans_hired_paid"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />&ndash;&gt;-->
                            <!--&lt;!&ndash;<input *ngIf="metaData.previousYearEmission[previousYears[1]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[1]].e_trans_hired_paid"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />&ndash;&gt;-->
                            <!--&lt;!&ndash;<input *ngIf="metaData.previousYearEmission[previousYears[2]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[2]].e_trans_hired_paid"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />&ndash;&gt;-->
                          <!--&lt;!&ndash;</nb-list-item>&ndash;&gt;-->
                          <!--<nb-list-item class="row">-->
                            <!--<span class="col-4">Waste Disposal</span>-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[0]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[0]].e_wasted_dis"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[1]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[1]].e_wasted_dis"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[2]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[2]].e_wasted_dis"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                          <!--</nb-list-item>-->
                          <!--<nb-list-item class="row">-->
                            <!--<span class="col-4">Municipal Water</span>-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[0]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[0]].e_mw"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[1]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[1]].e_mw"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[2]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[2]].e_mw"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                          <!--</nb-list-item>-->
                          <!--<nb-list-item class="row">-->
                            <!--<span class="col-4">Waste Transportation</span>-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[0]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[0]].e_waste_trans"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[1]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[1]].e_waste_trans"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[2]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[2]].e_waste_trans"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                          <!--</nb-list-item>-->
                          <!--<nb-list-item class="row">-->
                            <!--<span class="col-4">Transport Hired(Paid)</span>-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[0]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[0]].e_trans_hired_paid"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[1]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[1]].e_trans_hired_paid"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[2]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[2]].e_trans_hired_paid"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                          <!--</nb-list-item>-->
                          <!--<nb-list-item class="row">-->
                            <!--<span class="col-4">Transport Rented</span>-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[0]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[0]].e_trans_rented " class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[1]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[1]].e_trans_rented "  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[2]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[2]].e_trans_rented "  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                          <!--</nb-list-item>-->
                          <!--<nb-list-item class="row">-->
                            <!--<span class="col-4">Transport Company Owned Vehicles</span>-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[0]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[0]].e_com_owned"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[1]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[1]].e_com_owned"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[2]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[2]].e_com_owned"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                          <!--</nb-list-item>-->
                          <!--<nb-list-item class="row">-->
                            <!--<span class="col-4">Transport Locally Purchased</span>-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[0]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[0]].e_trans_loc_pur"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[1]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[1]].e_trans_loc_pur"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[2]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[2]].e_trans_loc_pur"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                          <!--</nb-list-item>-->
                          <!--<nb-list-item class="row">-->
                            <!--<span class="col-4">Onsite Diesel Generators</span>-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[0]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[0]].e_gen"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[1]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[1]].e_gen"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[2]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[2]].e_gen"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                          <!--</nb-list-item>-->
                          <!--<nb-list-item class="row">-->
                            <!--<span class="col-4">Refrigerant Leakage</span>-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[0]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[0]].e_refri"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[1]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[1]].e_refri"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[2]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[2]].e_refri"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                          <!--</nb-list-item>-->
                          <!--<nb-list-item class="row">-->
                            <!--<span class="col-4">Fire Extinguishers </span>-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[0]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[0]].e_fire"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[1]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[1]].e_fire"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[2]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[2]].e_fire"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                          <!--</nb-list-item>-->
                          <!--<nb-list-item class="row">-->
                            <!--<span class="col-4">Off-Road Mobile Sources and Machinery-Forklifts</span>-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[0]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[0]].e_offroad"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[1]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[1]].e_offroad"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[2]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[2]].e_offroad"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                          <!--</nb-list-item>-->

                          <!--<nb-list-item class="row">-->
                            <!--<span class="col-4">Employee Commuting (Paid)</span>-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[0]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[0]].e_emp_comm_paid"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[1]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[1]].e_emp_comm_paid"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearEmission[previousYears[2]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEmission[previousYears[2]].e_emp_comm_paid"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                          <!--</nb-list-item>-->
                          <!--<nb-list-item class="row font-weight bold"><span class="col-12">Emission Factor & Other Constant</span></nb-list-item>-->
                          <!--<nb-list-item class="font-weight-bold row">-->
                            <!--<span class="col-4">Constant</span>-->
                            <!--<span class="col-2 " *ngFor="let y of previousYears.sort()">{{y}}</span>-->
                          <!--</nb-list-item>-->
                          <!--<nb-list-item class="row">-->
                            <!--<span class="col-4">Grid electricity (kgCO<sub>2</sub>e/kWh)</span>-->
                            <!--<input *ngIf="metaData.previousYearEfs[previousYears[0]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEfs[previousYears[0]].grid"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearEfs[previousYears[1]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEfs[previousYears[1]].grid"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearEfs[previousYears[2]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEfs[previousYears[2]].grid"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                          <!--</nb-list-item>-->
                          <!--<nb-list-item class="row">-->
                            <!--<span class="col-4">Municipal Water(kgCO<sub>2</sub>e/m<sub>3</sub>)</span>-->
                            <!--<input *ngIf="metaData.previousYearEfs[previousYears[0]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEfs[previousYears[0]].mw"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearEfs[previousYears[1]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEfs[previousYears[1]].mw"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearEfs[previousYears[2]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEfs[previousYears[2]].mw"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                          <!--</nb-list-item>-->
                          <!--<nb-list-item class="row">-->
                            <!--<span class="col-4">Transmission & Distribution Loss (%)</span>-->
                            <!--<input *ngIf="metaData.previousYearEfs[previousYears[0]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEfs[previousYears[0]].td_loss"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearEfs[previousYears[1]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEfs[previousYears[1]].td_loss"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearEfs[previousYears[2]] !== undefined" size="6" [(ngModel)]="metaData.previousYearEfs[previousYears[2]].td_loss"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                          <!--</nb-list-item>-->
                          <!--<nb-list-item class="font-weight-bold row">-->
                            <!--<span class="col-4">Results</span>-->
                            <!--<span class="col-2 " *ngFor="let y of previousYears.sort()">{{y}}</span>-->
                          <!--</nb-list-item>-->
                          <!--<nb-list-item class="row">-->
                            <!--<span class="col-4">Per-Captia GHG Emission</span>-->
                            <!--<input *ngIf="metaData.previousYearStats[previousYears[0]] !== undefined" size="6" [(ngModel)]="metaData.previousYearStats[previousYears[0]].capita"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearStats[previousYears[1]] !== undefined" size="6" [(ngModel)]="metaData.previousYearStats[previousYears[1]].capita"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearStats[previousYears[2]] !== undefined" size="6" [(ngModel)]="metaData.previousYearStats[previousYears[2]].capita"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                          <!--</nb-list-item>-->
                          <!--<nb-list-item class="row">-->
                            <!--<span class="col-4">Per-Production GHG Emission</span>-->
                            <!--<input *ngIf="metaData.previousYearStats[previousYears[0]] !== undefined" size="6" [(ngModel)]="metaData.previousYearStats[previousYears[0]].prod"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearStats[previousYears[1]] !== undefined" size="6" [(ngModel)]="metaData.previousYearStats[previousYears[1]].prod"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearStats[previousYears[2]] !== undefined" size="6" [(ngModel)]="metaData.previousYearStats[previousYears[2]].prod"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                          <!--</nb-list-item>-->
                          <!--<nb-list-item class="row">-->
                            <!--<span class="col-4">Intensity</span>-->
                            <!--<input *ngIf="metaData.previousYearStats[previousYears[0]] !== undefined" size="6" [(ngModel)]="metaData.previousYearStats[previousYears[0]].intensity"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearStats[previousYears[1]] !== undefined" size="6" [(ngModel)]="metaData.previousYearStats[previousYears[1]].intensity"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearStats[previousYears[2]] !== undefined" size="6" [(ngModel)]="metaData.previousYearStats[previousYears[2]].intensity"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                          <!--</nb-list-item>-->
                          <!--<nb-list-item class="row">-->
                            <!--<span class="col-4">Total Direct Emission</span>-->
                            <!--<input *ngIf="metaData.previousYearStats[previousYears[0]] !== undefined" size="6" [(ngModel)]="metaData.previousYearStats[previousYears[0]].t_direct"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearStats[previousYears[1]] !== undefined" size="6" [(ngModel)]="metaData.previousYearStats[previousYears[1]].t_direct"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearStats[previousYears[2]] !== undefined" size="6" [(ngModel)]="metaData.previousYearStats[previousYears[2]].t_direct"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                          <!--</nb-list-item>-->
                          <!--<nb-list-item class="row">-->
                            <!--<span class="col-4">Total Indirect Emission</span>-->
                            <!--<input *ngIf="metaData.previousYearStats[previousYears[0]] !== undefined" size="6" [(ngModel)]="metaData.previousYearStats[previousYears[0]].t_indirect"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearStats[previousYears[1]] !== undefined" size="6" [(ngModel)]="metaData.previousYearStats[previousYears[1]].t_indirect"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                            <!--<input *ngIf="metaData.previousYearStats[previousYears[2]] !== undefined" size="6" [(ngModel)]="metaData.previousYearStats[previousYears[2]].t_indirect"  class="form-control-sm col-2 pl-2 pr-2 no-radius" />-->
                          <!--</nb-list-item>-->
                        <!--</nb-list>-->

                      <!--</div>-->
                    <!--</mat-expansion-panel>-->
                  </mat-accordion>
                </mat-step>
                <mat-step [editable]="false" >
                  <ng-template matStepLabel>Chart</ng-template>
                  <div class="row w-100">
                    <div class="col-12" style="min-height: 650px;" echarts [options]="chart1_options" #chart1></div>
                  </div>
                </mat-step >
                <mat-step [editable]="false" >
                  <ng-template matStepLabel>Chart</ng-template>
                  <div class="row w-100">
                    <div class="col-12" style="min-height: 650px;" echarts [options]="chart2_options" #chart2></div>
                  </div>
                </mat-step>
                <mat-step [editable]="false">
                  <ng-template matStepLabel>Chart</ng-template>
                  <div class="row w-100">
                    <div class="col-12" style="min-height: 650px;" echarts [options]="chart3_options" #chart3></div>
                  </div>
                </mat-step>
                <mat-step [editable]="false" >
                  <ng-template matStepLabel>Chart</ng-template>
                  <div class="row w-100">
                    <div class="col-12" style="min-height: 650px;" echarts [options]="chart4_options" #chart4></div>
                  </div>
                </mat-step>
                <mat-step [editable]="false" >
                  <ng-template matStepLabel>Chart</ng-template>
                  <div class="row w-100">
                    <div class="col-12" style="min-height: 650px;" echarts [options]="chart5_options" #chart5></div>
                  </div>
                </mat-step>
                <mat-step [editable]="false" >
                  <div class="row w-100">
                    <ng-template matStepLabel>Chart</ng-template>
                    <div class="col-12" style="min-height: 650px;" echarts [options]="chart6_options" #chart6></div>
                  </div>
                </mat-step>
                <mat-step [editable]="false" >
                  <div class="row w-100">
                    <div class="col-12" style="min-height: 650px;" echarts [options]="chart7_options" #chart7></div>
                  </div>
                </mat-step>
                <mat-step [editable]="false" >
                  <ng-template matStepLabel>Chart</ng-template>
                  <div class="row w-100">
                    <div class="col-12" style="min-height: 650px;" echarts [options]="chart8_options" #chart8></div>
                  </div>
                </mat-step>
                <mat-step [editable]="false" >
                  <ng-template matStepLabel>Chart</ng-template>
                  <div class="row w-100">
                    <div class="col-12" style="min-height: 650px;" echarts [options]="chart9_options" #chart9></div>
                  </div>
                </mat-step>
                <mat-step [editable]="false" >
                  <ng-template matStepLabel>Chart</ng-template>
                  <div class="row w-100">
                    <div class="col-12" style="min-height: 650px;" echarts [options]="chart10_options" #chart10></div>
                  </div>
                </mat-step>
              </mat-horizontal-stepper>
              <div class="row">
                <div class="col-8">

                </div>
                <div class="col-2" *ngIf=" selctedIndex !== totSteps-1" ></div>
                <div *ngIf=" selctedIndex !== totSteps-1 " class="col-2 d-flex justify-content-end">
                  <button class="btn btn-secondary"
                          (click)="goForward()"
                          [disabled]="(selctedIndex === totSteps-1 || disableNext)">Next</button>
                </div>
                <div *ngIf=" selctedIndex === totSteps-1" class="col-4 d-flex justify-content-end">
                  <button class="btn btn-primary" (click)="getReport()" >Get Report Files</button>
                </div>
              </div>
            </nb-card-body>
          </nb-card>

        </div>
      </div>
    </nb-tab>







    <nb-tab tabTitle="Reports" class="mw-100" >
     <div class="row">
       <div class="col-12">
         <nb-card>
           <nb-card-body>
             <div class="row">
               <!--<div class="col-2"></div>-->
               <div class="col-3 d-flex align-items-center">Company</div>
               <div class="col-3 d-flex align-items-center">
                 <mat-select (selectionChange)="onChangeCompany($event)"  [(ngModel)]="jsonbodyUploadReport.comId" placeholder="Select Company" >
                   <mat-option  *ngFor="let a of companies" [value]="a.id">
                     {{a.name}}
                   </mat-option>
                 </mat-select>
               </div>
               <div class="col-6">
                 <div class="row w-100">
                   <div class="col-12 font-weight-bold justify-content-center" *ngIf="adminid != 3">
                     Upload Report
                   </div>
                 </div>

                   <mat-radio-group class="row w-100 pt-3" [(ngModel)]="jsonbodyUploadReport.reportType" aria-label="Choose Report Type" *ngIf="adminid != 3">
                     <mat-radio-button [checked]="true" class="col-6" [value]="1">Draft Report</mat-radio-button>
                     <mat-radio-button class="col-6" [value]="2">Final Report</mat-radio-button>
                   </mat-radio-group>
                 <div class="row w-100 pt-3" *ngIf="adminid != 3">
                   <div class="col-6">Project</div>
                   <div class="col-6">
                     <mat-select  [(ngModel)]="jsonbodyUploadReport.projectId" placeholder="Select Project" >
                       <mat-option  *ngFor="let a of projectsForReports" [value]="a.id">
                         {{a.name}}
                       </mat-option>
                     </mat-select>
                   </div>
                 </div>
                 <div class="row w-100 pt-3" *ngIf="adminid != 3">
                   <div class="col-6 d-flex align-items-center"><label>Report</label></div>
                   <div class="col-6"><input type="file"  id="img" class="form-control no-radius" (change)="onFileChanged($event)"></div>
                 </div>
                 <div class="row w-100 pt-3" *ngIf="adminid != 3">
                   <div class="col-12 d-flex justify-content-end"><button class="btn btn-primary" (click)="uploadReport()">Save</button></div>
                 </div>

                 <div></div>
               </div>
             </div>
           </nb-card-body>
         </nb-card>
       </div>
     </div>

      <div class="row" *ngIf="reports.length !== 0">
        <div class="col-md-2 col-xs-6" *ngFor="let report of reports" (click)="onClickDownloadReport(report.url)">
          <div class="row  d-flex justify-content-center">
            <img style="display: block; min-width:120px;max-width: 120px;" src="../../../../assets/utlil-imgs/pdf.webp"/>
          </div>
          <div class="row d-flex justify-content-center">{{report.type}}</div>
          <div class="row d-flex justify-content-center">
           {{report.name}}
          </div>
        </div>
      </div>
      <div class="row" *ngIf="reports.length === 0">
        <div class="col-12 d-flex justify-content-start">No Reports Available</div>
      </div>
    </nb-tab>
  </nb-tabset>
</div>
