<!-- <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
       <img width="60" src="../../../../assets/logo//cover.png" alt="">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars ms-1"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
          <li class="nav-item"><a class="nav-link" href="#page-top" >Home</a></li>
          <li class="nav-item"><a target="_blank" class="nav-link" href="https://www.climatesi.com/index.php">About</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="../login">Login</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead">   
  </header> -->


<section class="main-banner" id="home">s
    <div class="layer" style="margin-top: -24px;">
        <div class="header-wthree-top-w3layouts text-right">
            <h1 class="logo">
                <a href="/home">
                    <img width="100" class="img-fluid" src="../../../../assets/logo/logo.png"/>
                </a>
            </h1>
            <ul class="list-unstyled apps-lists text-right">
                <li>
                    <a (click)="scroll('home')">Home</a>
                </li>
                <li class="ml-2">
                    <a target="_blank" href="https://www.climatesi.com/index.php" class="scroll">About Us</a>
                </li>
                <li class="ml-2">
                    <a (click)="scroll('gallery')" class="scroll">Feedback</a>
                </li>
                <li class="ml-2">
                    <a (click)="scroll('clients')" class="scroll">Our Clients</a>
                </li>
                <li class="ml-2">
                    <a (click)="scroll('contact')" class="scroll">Contact</a>
                </li>
                <li class="ml-2">
                    <a routerLink="../login" class="scroll">Login</a>
                </li>
            </ul>
            <ul id="menu">
                <li>
                    <input id="check02" type="checkbox" name="menu">
                    <label for="check02"><span class="fa fa-bars" aria-hidden="true"></span></label>
                    <ul class="submenu">
                        <li><a (click)="scroll('home')">Home</a></li>
                        <li><a target="_blank" href="https://www.climatesi.com/index.php" class="scroll">About Us</a></li>
                        <li><a (click)="scroll('gallery')" class="scroll">Feedback</a></li>
                        <li><a (click)="scroll('clients')" class="scroll">Our Clients</a></li>
                        <li><a (click)="scroll('contact')" class="scroll">Contact</a></li>
                        <li><a routerLink="../login" >Login</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="container">
            <div class="baner-info-w3layouts text-center">
                <h3>​​​Smart Carbon Calculator</h3>
                <h6 class="mx-auto mt-md-4 mt-3">Assess your Organizational Carbon Footprint</h6>
            </div>
        </div>
    </div>
</section>










<section class="banner-bottom-w3ls py-lg-5 py-4" id="about">
        <div class="container py-sm-5 py-4">
            <!---728x90--->

            <div class="ab-grids row text-left pb-3">
                <div class="col-lg-6 pt-lg-5">
                    <!-- <img src="images/images-app1.png" class="img-fluid" alt="mobile-image"> -->
                    <video controls style="width: 100%" poster="assets/thumbnail.png">
                        <source src="assets/intro.mp4" type="video/mp4">
                        <source src="assets/intro.mp4" type="video/ogg">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div class="col-lg-6 pl-lg-7">
                    <div class="header-wthree pt-lg-7 pt-4 text-left">
                        <h3 class="tittle mb-lg-4 mb-3">Smart carbon calculator?</h3>
                    </div>
                    <p>The Smart carbon calculator is an online tool that can assess the organizational carbon footprint as per ISO 14064 guidance. Currently, it includes 27 emission sources. Further emission source can be added when required. Direct and indirect emissions are calculated using the latest available national and international emission factors. </p>
                    
                    <br>
                    <h5>Key features of the tool includes:</h5>
                    <ul class="tic-info list-unstyled" style="margin-left: 30px;margin-top: 10px;">                    
                        <li>
                            <span class="fa fa-check mr-2"></span> Paperless operation
                        </li>
                        <li>
                            <span class="fa fa-check mr-2"></span> Completely online
                        </li>
                        <li>
                            <span class="fa fa-check mr-2"></span> Real time emission display during data entry
                        </li>
                        <li>
                            <span class="fa fa-check mr-2"></span> Monitoring  of data entry status
                        </li>
                        <li>
                            <span class="fa fa-check mr-2"></span> Display of emission trends
                        </li>
                        <li>
                            <span class="fa fa-check mr-2"></span> Remote verification
                        </li>
                        <li>
                            <span class="fa fa-check mr-2"></span> Carbon Footprint report for downloading
                        </li>

                    </ul>
                </div>
            </div>
        </div>
</section>




<section class="middile-sec pt-5" id="gallery">    
    <div class="stats-info">
        <div class="layer three">
            <div class="container" style="padding-top: 7%;">
               

                <!-- slider-nav-autoplay -->
                <div data-slider-nav-autoplay-interval="5000" class="slider-nav-autoplay data-slider-nav-autoplay-interval-50000 swiffy-slider slider-item-show1 slider-nav-dark slider-nav-visible slider-nav-outside slider-item-snapstart my-3 slider-nav-sm my-xl-5 slider-indicators-square slider-indicators-outside slider-indicators-dark slider-nav-animation-slideup slider-nav-animation slider-item-first-visible">
                    <div class="slider-container">
                        <div class="slide-visible">
                            <div class="test-info">
                                <div class="container">
                                    <div class="row">
                                      <div class="col-sm-2">
                                        <img width="150" src="../../../../assets/logo/Picture 9.png" alt="">
                                      </div>
                                      <div class="col-sm-10">
                                        <p class="quotes">
                                            “The online carbon footprint calculator has helped in our journey towards a paperless digital world. The CFP report provided valuable input for developing roadmap to carbon neutrality.”
                                        </p>
                                        <h3 class="mt-md-4 mt-3 quotes-person"> Vajira Hapuhinna</h3>
                                        <span class="mt-md-4 mt-3 quotes-person-pos">Senior Executive Assistant Manager</span>
                                      </div>
                                    </div>
                                  </div>
                            </div>                            
                        </div>   
                        
                        <div class="slide-visible">
                            <div class="test-info">
                                <div class="container">
                                    <div class="row">
                                      <div class="col-sm-2">
                                        <img width="150" src="../../../../assets/logo/Picture 6.png" alt="">
                                      </div>
                                      <div class="col-sm-10">
                                        <p class="quotes">
                                            “Very comprehensive real-time system, which always helps us to predict the future.”
                                        </p>
                                        <h3 class="mt-md-4 mt-3 quotes-person"> Tilan Wijesinghe</h3>
                                        <span class="mt-md-4 mt-3 quotes-person-pos">Manager - Information Systems</span>
                                      </div>
                                    </div>
                                  </div>
                             </div>
                        </div>

                        <div class="slide-visible">
                            <div class="test-info">
                                <div class="container">
                                    <div class="row">
                                      <div class="col-sm-2">
                                        <img width="150" src="../../../../assets/logo/hnb.jpg" alt="">
                                      </div>
                                      <div class="col-sm-10">
                                        <p class="quotes">
                                            "User friendliness in accumulating data with the use of the Smart Carbon Calculator, where we can frequently monitor our internal verticals to help and  keep track of our carbon footprint. The platform being complied of a cloud format has made things easier to access and has lessen the burden of our employees where we are ensured secure and reliable data transmission having consistent support by the ClimateSI team."
                                        </p>
                                        <h3 class="mt-md-4 mt-3 quotes-person">Shanel Perera</h3>
                                        <span class="mt-md-4 mt-3 quotes-person-pos">Executive - Sustainable Business</span>
                                      </div>
                                    </div>
                                  </div>
                             </div>
                        </div>

                    </div>
                
                    <button type="button" class="slider-nav" aria-label="Go left"></button>
                    <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>
                               
                </div>

                
            </div>
        </div>
    </div>
</section>






    <section class="services py-lg-5 py-4" id="clients" #clients>
        <div class="container py-sm-4 py-4">
            <!---728x90--->
            <div class="header-wthree py-lg-5 py-3 text-center" style="    padding: 0 !important;">
                <h3 style="color: black;" class="tittle mb-lg-3 mb-3">Clients of SCC</h3>
            </div>
            <!---728x90--->
            <div class="feature-grids row text-left">
                <div class="col-lg-4">
                    <div class="bottom-gd p-lg-5 p-3">
                        <img width="300" style="margin-top: 80px"  src="../../../../assets/logo/Picture 1.png" alt="">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="bottom-gd2-active p-lg-5 p-3">
                        <img width="300" style="margin-top: 80px"  src="../../../../assets/logo/Pcom.png" alt="">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="bottom-gd p-lg-5 p-3">
                        <img  height="200"  src="../../../../assets/logo/Picture 3.png" alt="">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="bottom-gd p-lg-5 p-3">
                        <img style="margin-left: 20px;margin-top: 20px"  height="170"  src="../../../../assets/logo/Picture 4.png" alt="">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="bottom-gd p-lg-5 p-3">
                        <img style="margin-left: 30px"   height="200" src="../../../../assets/logo/Picture 5.png" alt="">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="bottom-gd p-lg-5 p-3">
                        <img style="margin-left: 30px"  height="200" src="../../../../assets/logo/Picture 6.png" alt="">
                    </div>
                </div>


                <div class="col-lg-4">
                    <div class="bottom-gd p-lg-5 p-3">
                        <img style="margin-top: 20px"  height="70"  src="../../../../assets/logo/lb.png" alt="">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="bottom-gd p-lg-5 p-3">
                        <img  style="margin-top: 20px" height="80" src="../../../../assets/logo/hnb.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="bottom-gd p-lg-5 p-3">
                        <img height="100" src="../../../../assets/logo/Picture 9.png" alt="">
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="bottom-gd p-lg-12" style="text-align: center;margin-top: 20px;">
                        <img  height="100" src="../../../../assets/logo/Picture 10.png" alt="">
                    </div>
                </div>

            </div>


        </div>
    </section>





    <section class="contact py-5" id="contact" >
        <div class="container" style="padding-bottom: 40px">
            <div class="header-wthree py-lg-5 py-4 text-center">
                <h3 class="tittle mb-lg-3 mb-3"> Get In Touch</h3>
            </div>
            <div class="contact-form mx-auto text-left">
                <form name="contactform" id="contactform" method="post" novalidate="novalidate">
                    <div class="row">
                        <div class="col-lg-4 con-gd">
                            <div class="form-group" data-aos="fade-up">
                                <label>Name *</label>
                                <input [(ngModel)]="name" type="text" class="form-control" id="name" placeholder="" name="name">
                            </div>
                        </div>
                        <div class="col-lg-4 con-gd">
                            <div class="form-group" data-aos="fade-up">
                                <label>Email *</label>
                                <input  [(ngModel)]="email" type="email" class="form-control" id="email" placeholder="" name="email">
                            </div>
                        </div>
                        <div class="col-lg-4 con-gd">
                            <div class="form-group" data-aos="fade-up">
                                <label>Phone No. *</label>
                                <input  [(ngModel)]="phone" type="text" class="form-control" id="phone" placeholder="" name="phone">
                            </div>
                        </div>

                    </div>

                    <div class="form-group mb-5">
                        <label>How can we help?</label>
                        <textarea  [(ngModel)]="message" name="issues" class="form-control" id="iq" placeholder=""></textarea>
                    </div>

                    <div class="title contact-page text-center" *ngIf="isSent">
                        <h3 class="mb-lg-3 mb-3" style="color: rgb(115, 255, 115)"> Message sent</h3>
                    </div>

                    <div class="title contact-page text-center" *ngIf="isError">
                        <h4 class="mb-lg-3 mb-3" style="color: rgb(245, 103, 85)">Please fill all fields</h4>
                    </div>

                    <div class="form-group mb-5">
                        <label>Copy to me</label>
                        <input style="width: 22px;height: 22px;margin-left: 20px;" type="checkbox" [(ngModel)]="coppyToMe" name="Copy to me">
                    </div>
                    
                    <div class="contact-page text-right">

                        <button (click)="submit()" style="float: right;" type="submit" class="btn btn-default">Submit</button>
                    </div>
                </form>s
            </div>            
        </div>

    </section>





    <footer class="footer py-sm-5 py-5" style="background: #d3cccc;">
        <div class="container py-xl-5 py-lg-3">
            <div class="contact_grid_left">
                <ul class="list-unstyled row text-left">
                    <li class="col-lg-4 adress-info">
                        <div class="row">
                            <div class="col-md-3 text-lg-center adress-icon">
                                <span class="fa fa-map-marker"></span>
                            </div>
                            <div class="col-md-9 text-left">
                                <h6>Location</h6>
                                <p>Climate Smart Initiatives (Pvt) Ltd.</p>
                            </div>
                        </div>
                    </li>

                    <li class="col-lg-4 adress-info">
                        <div class="row">
                            <div class="col-md-3 text-lg-center adress-icon">
                                <span class="fa fa-envelope-open-o"></span>
                            </div>
                            <div class="col-md-9 text-left">
                                <h6>Email</h6>
                                <a href="mailto:info@example.com">info@climatesi.com</a>                                
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-4 adress-info">
                        <div class="row">
                            <div class="col-md-3 text-lg-center adress-icon">
                                <span class="fa fa-mobile"></span>
                            </div>
                            <div class="col-md-9 text-left">
                                <h6>Phone Number</h6>
                                <p>+94 112 075 264</p>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>

            <div style="text-align: center;">
                <a href="/home">
                    <img width="100" class="img-fluid" src="../../../../assets/logo/favicon.jpg"/>
                </a>                                            
            </div>

            
            <!-- copyright -->
            <p class="copy-right-grids text-li text-center my-sm-4 my-4">&copy; 2022 ClimateSI. All Rights Reserved</p>    
        </div>
    </footer>