<div class="card h-100 w-100 m-0 mat-dg-content">
  <div class="h-100">
    <div class="card-header mat-pop-up-header hidden-sm-down">
      <div class="row">
        <div class="col-10 font-weight-bold">
          {{popupData.header}}
        </div>
        <div class="col-2 text-right d-flex justify-content-end align-items-center">
          <nb-icon  icon="close-outline" (click)="closeDialog()" onmouseover style="cursor: pointer;"></nb-icon>
        </div>
      </div>
    </div>
    <div style="max-height: 400px; overflow: scroll;" class="card-body with-bottom-buttons">

      <div class="row mb-3 pr-2 pl-1">
        <div class="col-3"><label>Company</label></div>
        <div class="col-3">
          <mat-select placeholder="Select Company" (selectionChange)="onChangeCompany($event.value)" [(ngModel)]="jsonBody.COMPANY_ID">
            <mat-option *ngFor="let c of companies" [value]="c.id">
              {{c.name}}
            </mat-option>
          </mat-select>
        </div>
        <div class="col-3"><label>Branch</label></div>
        <div class="col-3">
          <mat-select (selectionChange)="onChangeBranch($event.value)"  placeholder="Select Branch"  [(ngModel)]="jsonBody.BRANCH_ID">
            <input  class="form-control w-100" placeholder="Search Branch" (keyup)="onSearchBranch($event.target.value)">
            <mat-option *ngFor="let c of branches" [value]="c.id">
              {{c.name}}
            </mat-option>
          </mat-select>
        </div>
      </div>
      <div class="row mb-3 pr-2 pl-1">
        <div class="col-3"><label>Dept Country</label></div>
        <div class="col-3">
          <mat-select (selectionChange)="onChangeCountry($event, 1)" placeholder="Select Country"  [(ngModel)]="jsonBody.depCoun">
            <input  class="form-control w-100" placeholder="Search Country" (keyup)="onSearchCountry($event.target.value)">
            <mat-option *ngFor="let c of countries" [value]="c.name">
              {{c.name}}
            </mat-option>
          </mat-select>
        </div>
        <div class="col-3"><label>Dept Airport</label></div>
        <div class="col-3">
          <!--<mat-select placeholder="Select Airport" [(ngModel)]="jsonBody.DEP_AIRPORT">-->
            <!--<mat-option *ngFor="let a of airports" [value]="a.id">-->
            <!--{{a.name}}-->
            <!--</mat-option>-->
          <!--</mat-select>-->
          <mat-select [(ngModel)]="jsonBody.depPort" (selectionChange)="onChangePort($event, 1)" placeholder="Select Airport" >
            <input   class="form-control w-100" placeholder="Search Airport"  (change)="onSearchAirport($event.target.value)" (keydown)="onSearchPortClose($event)">
            <mat-option *ngFor="let a of airports"  [value]="a.name">{{a.name}}</mat-option>
          </mat-select>
        </div>
      </div>
      <div class="row mb-3 pr-2 pl-1">
        <div class="col-3"><label>Dest Country</label></div>
        <div class="col-3">
          <mat-select (selectionChange)="onChangeCountry($event, 2)" placeholder="Select Country" [(ngModel)]="jsonBody.destCoun">
            <input   class="form-control w-100" placeholder="Search Country" (change)="onSearchCountry($event.target.value)">
            <mat-option *ngFor="let c of countries" [value]="c.name">
              {{c.name}}
            </mat-option>
          </mat-select>
        </div>
        <div class="col-3"><label>Dest Airport</label></div>
        <div class="col-3">
          <!--<mat-select placeholder="Select Airport" [(ngModel)]="jsonBody.DEST_AIRPORT">-->
            <!--<mat-option *ngFor="let a of airports" [value]="a.id">-->
              <!--{{a.name}}-->
            <!--</mat-option>-->
          <!--</mat-select>-->
          <mat-select [(ngModel)]="jsonBody.desPort" (selectionChange)="onChangePort($event, 2)" placeholder="Select Airport" >
            <input   class="form-control w-100" placeholder="Search Airport" (keydown)="onSearchPortClose($event)" (keyup)="onSearchAirport($event.target.value)">
            <mat-option *ngFor="let a of airports"  [value]="a.name">{{a.name}}</mat-option>
          </mat-select>
        </div>
      </div>
      <div class="row mb-3 pr-2 pl-1">
        <div class="col-4 d-flex justify-content-center"><label>Transit 1</label></div>
        <div class="col-4 d-flex justify-content-center"><label>Transit 2</label></div>
        <div class="col-4 d-flex justify-content-center"><label>Transit 3</label></div>
      </div>

      <div class="row mb-3 pr-2 pl-1">
        <div class="col-4 d-flex justify-content-center">
          <!--<mat-select placeholder="Select Airport" [(ngModel)]="jsonBody.TRANSIST_1">-->
          <!--<mat-option *ngFor="let a of airports" [value]="a.id">-->
            <!--{{a.name}}-->
          <!--</mat-option>-->
          <!--</mat-select>-->
          <mat-select [(ngModel)]="jsonBody.trans1" (selectionChange)="onChangePort($event, 3)" placeholder="Select Airport" >
            <input   class="form-control w-100" placeholder="Search Airport" (keydown)="onSearchPortClose($event)" (keyup)="onSearchAirport($event.target.value)">
            <mat-option *ngFor="let a of airports"  [value]="a.name">{{a.name}}</mat-option>
          </mat-select>
        </div>
        <div class="col-4 d-flex justify-content-center">
          <!--<mat-select placeholder="Select Airport" [(ngModel)]="jsonBody.TRANSIST_2">-->
          <!--<mat-option *ngFor="let a of airports" [value]="a.id">-->
            <!--{{a.name}}-->
          <!--</mat-option>-->
          <!--</mat-select>-->
          <mat-select [(ngModel)]="jsonBody.trans2" (selectionChange)="onChangePort($event, 4)" placeholder="Select Airport" >
            <input   class="form-control w-100" placeholder="Search Airport" (keydown)="onSearchPortClose($event)" (keyup)="onSearchAirport($event.target.value)">
            <mat-option *ngFor="let a of airports"  [value]="a.name">{{a.name}}</mat-option>
          </mat-select>
        </div>
        <div class="col-4 d-flex justify-content-center">
          <!--<mat-select placeholder="Select Airport" [(ngModel)]="jsonBody.TRANSIST_3">-->
            <!--<mat-option *ngFor="let a of airports" [value]="a.id">-->
              <!--{{a.name}}-->
            <!--</mat-option>-->
          <!--</mat-select>-->
          <mat-select [(ngModel)]="jsonBody.trans3" (selectionChange)="onChangePort($event, 5)" placeholder="Select Airport" >
            <input   class="form-control w-100" placeholder="Search Airport" (keydown)="onSearchPortClose($event)" (keyup)="onSearchAirport($event.target.value)">
            <mat-option *ngFor="let a of airports"  [value]="a.name">{{a.name}}</mat-option>
          </mat-select>
        </div>
      </div>
      <div class="row mb-3 pr-2 pl-1">
        <div class="col-6">
          <mat-checkbox (change)="onChangeWay($event)" class="example-margin" [(ngModel)]="twoWay">Two way trip</mat-checkbox>
        </div>
        <div class="col-3">
          <label>Seat Class</label>
        </div>
        <div class="col-3">
          <mat-select (selectionChange)="onChangeSeat($event)" placeholder="Select Seat Class" [(ngModel)]="jsonBody.SEAT_CLASS">
            <mat-option *ngFor="let a of seatClasses" [value]="a.id">
              {{a.name}}
            </mat-option>
          </mat-select>
        </div>
      </div>
      <div class="row mb-3 pr-2 pl-1">
        <div class="col-4 d-flex justify-content-center"><label>No of Employees</label></div>
        <div class="col-4 d-flex justify-content-center"><label>Month</label></div>
        <div class="col-4 d-flex justify-content-center"><label>Year</label></div>
      </div>
      <div class="row mb-3 pr-2 pl-1">
        <div class="col-4 d-flex justify-content-center"><input type="number" [(ngModel)]="jsonBody.NO_OF_EMPLOYEES"  class="form-control-sm w-100 no-radius" ></div>
        <div class="col-4 d-flex justify-content-center">
          <mat-select (selectionChange)="onChangeMonth($event)" placeholder="Select Month" [(ngModel)]="jsonBody.TRAVEL_MONTH">
            <mat-option *ngFor="let a of months" [value]="a.id">
              {{a.name}}
            </mat-option>
          </mat-select>
        </div>
        <div class="col-4 d-flex justify-content-center">
          <mat-select placeholder="Select Year" [(ngModel)]="jsonBody.TRAVEL_YEAR">
            <mat-option *ngFor="let a of years" [value]="a">
              {{a}}
            </mat-option>
          </mat-select>
        </div>
      </div>

      <div class="row mb-3 pr-2 pl-1 font-weight-bold">
        <div class="col-12">
          GHG Emission Details
        </div>
      </div>
      <div class="row mb-3 pr-2 pl-1">
       <div class="col-6">GHG  Ton CO<sub>2</sub>e</div>
       <div class="col-6">Distance(km)</div>

      </div>

      <div class="row mb-3 pr-2 pl-1">
       <div class="col-6">
         <input type="number" [(ngModel)]="jsonBody.EMISSION_INFO.tco2"  class="form-control-sm w-100 no-radius" >
       </div>
        <div class="col-6">
         <input type="number" [(ngModel)]="jsonBody.EMISSION_INFO.km"  class="form-control-sm w-100 no-radius" >
       </div>

      </div>

      <div class="row mb-3 pr-2 pl1">
        <div class="col-4">GHG CO<sub>2</sub></div>
        <div class="col-4">GHG N<sub>2</sub>O</div>
        <div class="col-4">GHG CH<sub>4</sub></div>
      </div>
      <div class="row mb-3 pr-2 pl-1">
        <div class="col-4">
          <input type="number" [(ngModel)]="jsonBody.EMISSION_INFO.co2"  class="form-control-sm w-100 no-radius" >
        </div>
        <div class="col-4">
          <input type="number" [(ngModel)]="jsonBody.EMISSION_INFO.n2o"  class="form-control-sm w-100 no-radius" >
        </div>
        <div class="col-4">
          <input type="number" [(ngModel)]="jsonBody.EMISSION_INFO.ch4"  class="form-control-sm w-100 no-radius" >
        </div>
      </div>


    </div>
    <div  mat-dialog-actions class="card-footer mb-0">
      <div class="row  w-100">
        <div class="col w-100 pt-1 pb-0 pr-1 card-bottom-buttons d-flex justify-content-end">
          <!--<button class="btn btn-secondary mr-2 ml-2"  (click)="onClickCancel()"></button>-->
          <button class="btn btn-primary"  (click)="onClickSave()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
