<div class="card h-100 w-100 m-0 mat-dg-content">
  <div class="h-100">
    <div class="card-header mat-pop-up-header hidden-sm-down">
      <div class="row">
        <div class="col-10 font-weight-bold">
          Setting
        </div>
        <div class="col-2 text-right d-flex justify-content-end align-items-center">
          <nb-icon  icon="close-outline" (click)="closeDialog()" onmouseover style="cursor: pointer;"></nb-icon>
        </div>
      </div>
    </div>
    <div class="card-body with-bottom-buttons">

        <div  class="row mb-3 pr-1 pl-1">
          <div class="col-5 d-flex align-items-center">
            <label class="mandatory" >User Name</label>
          </div>
          <div class="col-7 flex">
<!--            [disabled]="isClient || isDataEntryUser"-->
            <input  type="text" [(ngModel)]="settingModel.userName"  class="form-control-sm no-radius" [disabled] = "HNB" >
          </div>
        </div>
      <div  class="row mb-1 pr-1 pl-1">
        <div class="col-5 d-flex align-items-center">
          <label class="mandatory">New Password</label>
        </div>
        <div class="col-7 flex">
          <input type="password" [(ngModel)]="settingModel.newPassword" (ngModelChange)="onPasswordChange($event)"   class="form-control-sm no-radius" >
        </div>
      </div>
      <div *ngIf = "showPasswordValid" class="row  pr-4 pl-3  rounded ">
        <div class="col-1"></div>
        <div  class="col-11 d-flex justify-content-center" style="color: red;">
        should contains minimun 8 characters<br>
          should contains 1 Number<br>
        </div>

      </div>

      <div  class="row mb-1 mt-2 pr-1 pl-1">
        <div class="col-5 d-flex align-items-center">
          <label class="mandatory">Confirm Password</label>
        </div>
        <div class="col-7 flex">
          <input type="password" [(ngModel)]="settingModel.confirmPassword" (ngModelChange)="onPasswordChange($event)"  class="form-control-sm no-radius" >
        </div>
      </div>
      <div *ngIf="showPassswordMatch" class="row mb-1">
        <div class="col-1 d-flex align-items-center">
        </div>
        <div class="col-11 flex">
         <p style="color: red;">Password doesn't match.</p>
        </div>
      </div>
      <div *ngIf="isClient && isFirstTime "  class="row mt-2 mb-3 mt-2 pr-1 pl-1">
        <div class="col-5 d-flex align-items-center">
          <label class="mandatory">First Name</label>
        </div>
        <div class="col-7 flex">
          <input type="text"  [(ngModel)]="clientModel.fname"   class="form-control-sm no-radius" >
        </div>
      </div>

      <div *ngIf="isClient && isFirstTime "  class="row mt-2 mb-3 mt-2 pr-1 pl-1">
        <div class="col-5 d-flex align-items-center">
          <label class="mandatory">Last Name</label>
        </div>
        <div class="col-7 flex">
          <input type="text"  [(ngModel)]="clientModel.lname"   class="form-control-sm no-radius" >
        </div>
      </div>

      <div *ngIf="isFirstTime  && (isClient || isDataEntryUser)"  class="row mt-2 mb-3 mt-2 pr-1 pl-1">
        <div class="col-5 d-flex align-items-center">
          <label class="mandatory">Email</label>
        </div>
        <div class="col-7 flex">
          <input type="text" placeholder="eg: john@mail.com" [(ngModel)]="clientModel.email"   class="form-control-sm no-radius" >
        </div>
      </div>
      <div *ngIf="isFirstTime  && (isClient || isDataEntryUser)"  class="row mb-3 mt-2 pr-1 pl-1">
        <div class="col-5 d-flex align-items-center">
          <label class="mandatory">Mobile No</label>
        </div>
        <div class="col-7 flex">
          <input placeholder="eg: 071-xxxxxxx" type="text"  [(ngModel)]="clientModel.mobileNo"   class="form-control-sm no-radius" >
        </div>
      </div>
      <div  *ngIf="isFirstTime  && (isClient || isDataEntryUser)" class="row mb-3 mt-2 pr-1 pl-1">
        <div class="col-5 d-flex align-items-center">
          <label class="text">Telephone No</label>
        </div>
        <div *ngIf="isFirstTime  && (isClient || isDataEntryUser)" class="col-7 flex">
          <input placeholder="eg: 011-xxxxxxx" type="text"  [(ngModel)]="clientModel.telephoneNo"   class="form-control-sm no-radius" >
        </div>
      </div>


    </div>
    <div  mat-dialog-actions class="card-footer mb-0">
      <div class="row  w-100">
        <div class="col w-100 pt-1 pb-0 pr-1 card-bottom-buttons d-flex justify-content-end">
          <button class="btn btn-primary" (click)="onClickSave()">Save</button>
        </div>
      </div>
    </div>
  </div>

</div>
