<div class="card h-100 w-100 m-0 mat-dg-content">
    <div class="h-100">
      <div class="card-header mat-pop-up-header hidden-sm-down">
        <div class="row">
          <div class="col-10 font-weight-bold">
            Emission Calculations
          </div>
          <div class="col-2 text-right d-flex justify-content-end align-items-center">
            <nb-icon  icon="close-outline" (click)="closeDialog()" onmouseover style="cursor: pointer;"></nb-icon>
          </div>
        </div>
      </div>
      <div class="card-body with-bottom-buttons">
  
        <div  class="row mb-3 pr-2 pl-1">
          <div class="col-12 d-flex justify-content-left font-weight-bold">
            Equation
          </div>
        </div>
        <!--//common-->
        <div  class="row mb-3 pr-2 pl-1">
            <div class="col-12 d-flex justify-content-center font-weight-bold">
              <i>TOD = (TIP X WG X COD) </i>
    
    
            </div>
          </div>
          <div  class="row mb-3 pr-2 pl-1">
            <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
              <p>TIP = Total industry product (t/yr)  </p>
            </div>
          </div>
    
          <div  class="row mb-3 pr-2 pl-1">
            <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
              <p>WG = Waste generated (m3/t) </p>
            </div>
          </div>
          <div  class="row mb-3 pr-2 pl-1">
            <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
              <p>COD = Chemical Oxygen Demand (kg COD/m3)  </p>
            </div>
          </div>
          <div  class="row mb-3 pr-2 pl-1">
            <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
              <p>TOD = Total organic degradable material in wastewater for each industry sector (kg COD/yr)  </p>
            </div>
          </div>

          <div  class="row mb-3 pr-2 pl-1">
            <div class="col-12 d-flex justify-content-left font-weight-bold">
              Equation
            </div>
          </div>
          <div  class="row mb-3 pr-2 pl-1">
            <div class="col-12 d-flex justify-content-center font-weight-bold">
              <i>EF = (MCF X MMPC) </i>
    
    
            </div>
          </div>


          <div  class="row mb-3 pr-2 pl-1">
            <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
              <p>MCF = Methane Correction Factor for the Treatment System (MCF)  </p>
            </div>
          </div>
          <div  class="row mb-3 pr-2 pl-1">
            <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
              <p>MMPC =Maximum Methane Producing Capacity (kgCH4/kg COD) </p>
            </div>
          </div>
          <div  class="row mb-3 pr-2 pl-1">
            <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
              <p>EF = Emission Factor (kg CH4/kg COD)  </p>
            </div>
          </div>

          <div  class="row mb-3 pr-2 pl-1">
            <div class="col-12 d-flex justify-content-left font-weight-bold">
              Equation
            </div>
          </div>
          <div  class="row mb-3 pr-2 pl-1">
            <div class="col-12 d-flex justify-content-center font-weight-bold">
              <i>NME = ((TOD-SR) X EF) - RCH</i>
    
    
            </div>
          </div>





          <div  class="row mb-3 pr-2 pl-1">
            <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
              <p>SR = Sludge removed in each industry sector (kg COD/yr)  </p>
            </div>
          </div>
          <div  class="row mb-3 pr-2 pl-1">
            <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
              <p>RCH = Recovered CH4 in each industry sector (kg CH4/yr)  </p>
            </div>
          </div>
          <div  class="row mb-3 pr-2 pl-1">
            <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
              <p>NME = Net methane emissions (kg CH4/yr)  </p>
            </div>
          </div>


          <div  class="row mb-3 pr-2 pl-1">
            <div class="col-12 d-flex justify-content-left font-weight-bold">
              Equation
            </div>
          </div>
          <div  class="row mb-3 pr-2 pl-1">
            <div class="col-12 d-flex justify-content-center font-weight-bold">
              <i>NGE = (NME/1000) X 28</i>
    
    
            </div>
          </div>



          <div  class="row mb-3 pr-2 pl-1">
            <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
              <p>NGE = Net GHG emissions (tCO2e/yr) </p>
            </div>
          </div>
  
  
      </div>
    </div>
  </div>
  
