<div class="card h-100 w-100 m-0 mat-dg-content">
  <div class="h-100">
    <div class="card-header mat-pop-up-header hidden-sm-down">
      <div class="row">
        <div class="col-10 font-weight-bold">
          User Activity Log
        </div>
        <div class="col-2 text-right d-flex justify-content-end align-items-center">
          <nb-icon  icon="close-outline" (click)="closeDialog()" onmouseover style="cursor: pointer;"></nb-icon>
        </div>
      </div>
    </div>

    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">Activity Informations</div>
   <!-- <div class="card-body" style="max-height: 600px; overflow: scroll;">!-->
    <div class="card-body">
      <div class="row mb-3">
      </div>
      <div class="row mb-3">
        <nb-list class="col-12">
          <nb-list-item class="row ">
            <span class="col-8">Log Message</span>
            <span class="col-4">Added At</span>
          </nb-list-item>
          <nb-list-item class="row "  *ngFor="let item of logs;">
            <span class="col-8">{{item.log}}</span>
            <span class="col-4">{{item.addedAt}}</span>
          </nb-list-item>
        </nb-list>
      </div>

    </div>
  </div>
</div>
