<div class="row mt-3">

  <div class="col-md-12 col-xs-12"><nb-card>
    <nb-card-header class="d-flex justify-content-center">
      GHG Emission of {{isFy ? " Financial " : ""}} Year {{chartsData.fy}}
    </nb-card-header>
    <nb-card-body>
      <div class="chart-6 echart w-100 h-100" echarts [options]="chart6_options"></div>
    </nb-card-body>
  </nb-card>
  </div>
</div>
<div class="row mt-3 d-flex align-items-stretch">
  <div class="col-md-4 col-xs-12 ">
    <nb-card>
      <nb-card-header class="d-flex justify-content-center">
        Target vs Actual Emission
      </nb-card-header>
      <nb-card-body class="pl-2 pr-2">
        <div class="chart-1 echart w-100 h-100" echarts [options]="chart1_options"></div>

      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-4 col-xs-12 ">
    <nb-card>
      <nb-card-header class="d-flex justify-content-center">
        Organinzation GHG Emission
      </nb-card-header>
      <nb-card-body>
        <div class="chart-5 echart w-100 h-100" echarts [options]="chart5_options"></div>

      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-4 col-xs-12"><nb-card>
    <nb-card-header class="d-flex justify-content-center">
      Per Capita Emission: {{isFy ? " FYs " : " Years "}}
    </nb-card-header>
    <nb-card-body>
      <div class="chart-2 echart w-100 h-100" echarts [options]="chart2_options"></div>


    </nb-card-body>
  </nb-card></div>
</div>

<div class="row mt-3">
  <div class="col-md-4 col-xs-12 ">
    <nb-card>
      <nb-card-header class="d-flex justify-content-center">
        GHG Emission: Over {{isFy ? " FYs " : " Years "}}
      </nb-card-header>
      <nb-card-body>
        <div class="echart" echarts [options]="chart3_options"></div>

      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-8 col-xs-12"><nb-card>
    <nb-card-header class="d-flex justify-content-center">
      GHG Emission Intensity: Over {{isFy ? " FYs " : " Years "}}
    </nb-card-header>
    <nb-card-body>
      <div class="echart" echarts [options]="chart4_options"></div>


    </nb-card-body>
  </nb-card></div>
</div>
<div class="row mt-3">

  <div *ngIf="showBranchWiseChart()" class="col-md-12 col-xs-12"><nb-card>
    <nb-card-header class="d-flex justify-content-center">
      GHG Emission (Branch wise) of {{isFy ? " Financial " : " "}} Year {{chartsData.fy}}
    </nb-card-header>
    <nb-card-body>
      <div class="chart-6 echart w-100 h-100" echarts [options]="chart7_options"></div>
    </nb-card-body>
  </nb-card></div>
</div>

<!-- <app-mitigation-view></app-mitigation-view> -->
