
<div class="container">
  <div class="row">
    <div class="col-12">
      <nb-card class="w-100">
        <nb-card-header>
          Project Summary
        </nb-card-header>
        <nb-card-body>
          <!--    company selection - CSI Admin -->
          <div *ngIf="userType === 3" class="row" >
            <div class="col-12">
              <nb-card class="shadow-none">
                <nb-card-header>

                  <div class="row">
                    <div class="col-6">Company</div>
                    <div class="col-6">
                      <mat-select  (selectionChange)="onChangeCompany($event)"  [(ngModel)]="companyId" placeholder="Select Project" >
                        <mat-option  *ngFor="let a of companies" [value]="a.id">
                          {{a.name}}
                        </mat-option>
                      </mat-select>
                    </div>
                  </div>
                </nb-card-header>
              </nb-card>
            </div>
          </div>



        </nb-card-body>
      </nb-card>

    </div>
  </div>

  <!--    company basic info alll-->
  <div class="row">
    <div class="col-12">
      <nb-card class="w-100">
        <nb-card-header>
          <div class="container d-flex justify-content-between">
            <div>Overview</div>
            <div> <button class="btn btn-primary" (click)="exportSummary($event)">Export</button></div>
          </div>
        </nb-card-header>
        <nb-card-body>
          <div class="container">
            <div class="row">
              <div class="col-6">Company Name</div>
              <div class="col-6">{{summaryData.companyName}}</div>
            </div>

            <div class="row">
              <div class="col-6">Year</div>
              <div class="col-6">{{summaryData.fy}}</div>
            </div>

            <div class="row">
              <div class="col-6">Methodology</div>
              <div class="col-6">{{summaryData.methodology}}</div>
            </div>

            <div class="row">
              <div class="col-6">Approach</div>
              <div class="col-6">{{summaryData.protocol}}</div>
            </div>
            <div class="row">
              <div class="col-6">Direct Emission</div>
              <div class="col-6">{{summaryData.totalDirectEmission-DE+tdirectEmision}} tCO<sub>2</sub>e</div>
            </div>
            <div class="row">
              <div class="col-6">Indirect Emission</div>
              <div class="col-6">{{summaryData.totalIndirectEmission-IE+tIndirectEmision}} tCO<sub>2</sub>e</div>
            </div>
            <div class="row">
              <div class="col-6">Total Emission</div>
              <div class="col-6">{{summaryData.totalEmission-TE+TDIE}} tCO<sub>2</sub>e</div>
            </div>
          </div>

        </nb-card-body>
      </nb-card>

    </div>
  </div>

  <!--    direct emission sources -->
  <div class="row">
    <div class="col-12">
      <nb-card class="w-100">
        <nb-card-header>
          Direct Emission Sources

        </nb-card-header>
        <nb-card-body>
          (Employee Commuting, Not Paid by the company) For Total Employee - {{tdirectEmision}}tCO2
          <!-- {{summaryData.directSources[3].emission*noOfEmployees/currentEmployee}}tCO2 -->

          <div class="container">
            <div class="row mb-5 pt-2 pb-2 rounded border" *ngFor="let src of summaryData.directSources">
              
              <div class="col-8 font-weight-bold">
                {{src.srcName}} 

                
              </div>
              <div class="col-8 font-weight">
             for Available Data 
                
              </div>
             
             
           
              <div class="col-4">{{src.emission}}tCO<sub>2</sub>e</div>

              <!-- <div class="col-8 font-weight">
               for Total Employees {{noOfEmployees}} 
                
              </div>
             
           
              <div class="col-4">{{src.emission*noOfEmployees/currentEmployee}}tCO<sub>2</sub>e</div> -->

              <!-- <div class="col-8 font-weight-bold">
                {{src.srcName}}
              </div>
              <div class="col-4">{{src.emission*0}}tCO<sub>2</sub>e</div> -->
             
              <!--No EMPLOYEEs-->
          

             


              <div *ngIf="src.activityData.length != 0" class="col-12 font-weight-bold">
                <nb-list>
                  <nb-list-item class=" font-weight-bold  d-flex"  *ngIf="!summaryData.isFy">
                    <span  class="d-inline-block" style="width: 200px">Data/Month</span>
                    <span class="d-inline-block" style="width: 80px">Jan</span>
                    <span class="d-inline-block" style="width: 80px">Feb</span>
                    <span class="d-inline-block" style="width: 80px">Mar</span>
                    <span class="d-inline-block" style="width: 80px">Apr</span>
                    <span class="d-inline-block" style="width: 80px">May</span>
                    <span class="d-inline-block" style="width: 80px">Jun</span>
                    <span class="d-inline-block" style="width: 80px">Jul</span>
                    <span class="d-inline-block" style="width: 80px">Aug</span>
                    <span class="d-inline-block" style="width: 80px">Sep</span>
                    <span class="d-inline-block" style="width: 80px">Oct</span>
                    <span class="d-inline-block" style="width: 80px">Nov</span>
                    <span class="d-inline-block" style="width: 80px">Dec</span>
                    <span class="d-inline-block" style="width: 80px">All</span>

                  </nb-list-item>

                  <nb-list-item class=" font-weight-bold  d-flex" *ngIf="summaryData.isFy">
                    <span  class="d-inline-block" style="width: 200px">Data/Month</span>

                    <span class="d-inline-block" style="width: 80px">Apr</span>
                    <span class="d-inline-block" style="width: 80px">May</span>
                    <span class="d-inline-block" style="width: 80px">Jun</span>
                    <span class="d-inline-block" style="width: 80px">Jul</span>
                    <span class="d-inline-block" style="width: 80px">Aug</span>
                    <span class="d-inline-block" style="width: 80px">Sep</span>
                    <span class="d-inline-block" style="width: 80px">Oct</span>
                    <span class="d-inline-block" style="width: 80px">Nov</span>
                    <span class="d-inline-block" style="width: 80px">Dec</span>
                    <span class="d-inline-block" style="width: 80px">Jan</span>
                    <span class="d-inline-block" style="width: 80px">Feb</span>
                    <span class="d-inline-block" style="width: 80px">Mar</span>
                    <span class="d-inline-block" style="width: 80px">All</span>

                  </nb-list-item>
                  <nb-list-item class="d-flex " *ngFor="let actData of src.activityData">
                    <span  class="d-inline-block" style="width: 200px">{{actData.metricsName}} {{actData.unitStr}}</span>
                    <span class="d-inline-block" style="width: 80px" *ngFor="let value of actData.values">{{value}}</span>

                  </nb-list-item>

                </nb-list>
              </div>

              <div *ngIf="src.emissionFactors.length !=0" class="col-12 font-weight-bold">Emission Factors</div>

              <div *ngIf="src.emissionFactors.length !=0" class="col-12 font-weight-bold">
                <nb-list>
                  <nb-list-item class="font-weight-bold">
                    <span  class="d-inline-block col-8" >Name</span>
                    <span class="d-inline-block col-4" >Value</span>

                  </nb-list-item>
                  <nb-list-item *ngFor="let ef of src.emissionFactors">
                    <span  class="d-inline-block col-8" >{{ef.name}}</span>
                    <span class="d-inline-block col-4" >{{ef.value}}  {{ef.unitStr}}</span>

                  </nb-list-item>
                </nb-list>
              </div>


            </div>

          </div>

        </nb-card-body>
      </nb-card>
    </div>

  </div>

  <!--    indirect emission sources-->
  <div class="row">
    <div class="col-12">
      <nb-card class="w-100">
        <nb-card-header>
          Indirect Emission Sources
        </nb-card-header>
        <nb-card-body>
          (Employee Commuting, Paid by the company) For Total Employee - {{tIndirectEmision}}tCO2
      
          <div class="container">
            <div class="row mb-5 pt-2 pb-2 rounded border" *ngFor="let src of summaryData.indirectSources">

              <div style="width: 100%;padding: 5px 17px;" class="row" *ngIf="src.srcName == 'Employee Commuting, Not paid by the company' && companyId == 2">
                <div class="col-8 font-weight-bold">
                  {{src.srcName}} total
                </div> 
                <div style="padding-left: 35px" class="col-4">{{src.emission }} tCO<sub>2</sub>e</div>
              </div> 
              
              <div style="width: 100%;padding: 5px 17px;" class="row" *ngIf="src.srcName == 'Employee Commuting, Not paid by the company' && companyId == 2">
                <div class="col-8 font-weight-bold">
                  {{src.srcName}}
                </div> 
                <div style="padding-left: 35px" class="col-4">{{src.emission *  397 / 484 }} tCO<sub>2</sub>e</div>
              </div> 

              <div class="col-8 font-weight-bold"  *ngIf="src.srcName !== 'Employee Commuting, Not paid by the company' && companyId !== 2">
                {{src.srcName}}
              </div>

              <div class="col-8 font-weight"  *ngIf="src.srcName !== 'Employee Commuting, Not paid by the company' && companyId !== 2">
                for Available Data                    
              </div> 

              <div class="col-4" *ngIf="src.srcName !== 'Employee Commuting, Not paid by the company' && companyId !== 2">{{src.emission}}tCO<sub>2</sub>e</div>
          

              
              <div *ngIf="src.activityData.length != 0" class="col-12 font-weight-bold">
                <nb-list>
                  <nb-list-item class=" font-weight-bold  d-flex"  *ngIf="!summaryData.isFy">
                    <span  class="d-inline-block" style="width: 200px">Data/Month</span>
                    <span class="d-inline-block" style="width: 80px">Jan</span>
                    <span class="d-inline-block" style="width: 80px">Feb</span>
                    <span class="d-inline-block" style="width: 80px">Mar</span>
                    <span class="d-inline-block" style="width: 80px">Apr</span>
                    <span class="d-inline-block" style="width: 80px">May</span>
                    <span class="d-inline-block" style="width: 80px">Jun</span>
                    <span class="d-inline-block" style="width: 80px">Jul</span>
                    <span class="d-inline-block" style="width: 80px">Aug</span>
                    <span class="d-inline-block" style="width: 80px">Sep</span>
                    <span class="d-inline-block" style="width: 80px">Oct</span>
                    <span class="d-inline-block" style="width: 80px">Nov</span>
                    <span class="d-inline-block" style="width: 80px">Dec</span>
                    <span class="d-inline-block" style="width: 80px">All</span>

                  </nb-list-item>

                  <nb-list-item class=" font-weight-bold  d-flex" *ngIf="summaryData.isFy">
                    <span  class="d-inline-block" style="width: 200px">Data/Month</span>

                    <span class="d-inline-block" style="width: 80px">Apr</span>
                    <span class="d-inline-block" style="width: 80px">May</span>
                    <span class="d-inline-block" style="width: 80px">Jun</span>
                    <span class="d-inline-block" style="width: 80px">Jul</span>
                    <span class="d-inline-block" style="width: 80px">Aug</span>
                    <span class="d-inline-block" style="width: 80px">Sep</span>
                    <span class="d-inline-block" style="width: 80px">Oct</span>
                    <span class="d-inline-block" style="width: 80px">Nov</span>
                    <span class="d-inline-block" style="width: 80px">Dec</span>
                    <span class="d-inline-block" style="width: 80px">Jan</span>
                    <span class="d-inline-block" style="width: 80px">Feb</span>
                    <span class="d-inline-block" style="width: 80px">Mar</span>
                    <span class="d-inline-block" style="width: 80px">All</span>

                  </nb-list-item>
                  <nb-list-item class="d-flex" *ngFor="let actData of src.activityData">
                    <span  class="d-inline-block" style="width: 200px">{{actData.metricsName}} {{actData.unitStr}}</span>
                    <span class="d-inline-block" style="width: 80px" *ngFor="let value of actData.values">{{value}}</span>

                  </nb-list-item>

                </nb-list>
              </div>

              <div *ngIf="src.emissionFactors.length !=0" class="col-12 font-weight-bold">Emission Factors</div>

              <div *ngIf="src.emissionFactors.length !=0" class="col-12 font-weight-bold">
                <nb-list>
                  <nb-list-item class="font-weight-bold">
                    <span  class="d-inline-block col-8" >Name</span>
                    <span class="d-inline-block col-4" >Value</span>

                  </nb-list-item>
                  <nb-list-item *ngFor="let ef of src.emissionFactors">
                    <span  class="d-inline-block col-8" >{{ef.name}}</span>
                    <span class="d-inline-block col-4" >{{ef.value}}  {{ef.unitStr}}</span>

                  </nb-list-item>
                </nb-list>
              </div>


            </div>

          </div>

        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <!--    uncategorieze emission sources-->
  <div *ngIf="summaryData.unCategorized.length !== 0" class="row">
    <div class="col-12">
      <nb-card>
        <nb-card-header>
          Uncategorized Emission Sources
        </nb-card-header>
        <nb-card-body>
          <div class="container">
            <div class="row mb-5 pt-2 pb-2 rounded border" *ngFor="let src of summaryData.unCategorized">
              <div class="col-8 font-weight-bold">
                {{src.srcName}}
              </div>
              <div class="col-4">{{src.emission}}tCO<sub>2</sub>e</div>


              <div *ngIf="src.activityData.length != 0" class="col-12 font-weight-bold">
                <nb-list>
                  <nb-list-item class=" font-weight-bold  d-flex"  *ngIf="!summaryData.isFy">
                    <span  class="d-inline-block" style="width: 200px">Data/Month</span>
                    <span class="d-inline-block" style="width: 80px">Jan</span>
                    <span class="d-inline-block" style="width: 80px">Feb</span>
                    <span class="d-inline-block" style="width: 80px">Mar</span>
                    <span class="d-inline-block" style="width: 80px">Apr</span>
                    <span class="d-inline-block" style="width: 80px">May</span>
                    <span class="d-inline-block" style="width: 80px">Jun</span>
                    <span class="d-inline-block" style="width: 80px">Jul</span>
                    <span class="d-inline-block" style="width: 80px">Aug</span>
                    <span class="d-inline-block" style="width: 80px">Sep</span>
                    <span class="d-inline-block" style="width: 80px">Oct</span>
                    <span class="d-inline-block" style="width: 80px">Nov</span>
                    <span class="d-inline-block" style="width: 80px">Dec</span>
                    <span class="d-inline-block" style="width: 80px">All</span>

                  </nb-list-item>

                  <nb-list-item class=" font-weight-bold  d-flex" *ngIf="summaryData.isFy">
                    <span  class="d-inline-block" style="width: 200px">Data/Month</span>

                    <span class="d-inline-block" style="width: 80px">Apr</span>
                    <span class="d-inline-block" style="width: 80px">May</span>
                    <span class="d-inline-block" style="width: 80px">Jun</span>
                    <span class="d-inline-block" style="width: 80px">Jul</span>
                    <span class="d-inline-block" style="width: 80px">Aug</span>
                    <span class="d-inline-block" style="width: 80px">Sep</span>
                    <span class="d-inline-block" style="width: 80px">Oct</span>
                    <span class="d-inline-block" style="width: 80px">Nov</span>
                    <span class="d-inline-block" style="width: 80px">Dec</span>
                    <span class="d-inline-block" style="width: 80px">Jan</span>
                    <span class="d-inline-block" style="width: 80px">Feb</span>
                    <span class="d-inline-block" style="width: 80px">Mar</span>
                    <span class="d-inline-block" style="width: 80px">All</span>

                  </nb-list-item>
                  <nb-list-item class="d-flex" *ngFor="let actData of src.activityData">
                    <span  class="d-inline-block" style="width: 200px">{{actData.metricsName}} {{actData.unitStr}}</span>
                    <span class="d-inline-block" style="width: 80px" *ngFor="let value of actData.values">{{value}}</span>

                  </nb-list-item>

                </nb-list>
              </div>

              <div *ngIf="src.emissionFactors.length !=0" class="col-12 font-weight-bold">Emission Factors</div>

              <div *ngIf="src.emissionFactors.length !=0" class="col-12 font-weight-bold">
                <nb-list>
                  <nb-list-item class="font-weight-bold">
                    <span  class="d-inline-block col-8" >Name</span>
                    <span class="d-inline-block col-4" >Value</span>

                  </nb-list-item>
                  <nb-list-item *ngFor="let ef of src.emissionFactors">
                    <span  class="d-inline-block col-8" >{{ef.name}}</span>
                    <span class="d-inline-block col-4" >{{ef.value}}  {{ef.unitStr}}</span>

                  </nb-list-item>
                </nb-list>
              </div>


            </div>

          </div>

        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <!--    excluded emission sources-->
  <div class="row">
    <div class="col-12">
      <nb-card class="w-100">
        <nb-card-header>
          Excluded Sources
        </nb-card-header>
        <nb-card-body>
          <div class="container">
            <div class="row mb-5 pt-2 pb-2 rounded border" *ngIf="userType === 3">
              <nb-card class="shadow-none">
                <nb-card-header>Add Sources</nb-card-header>
                <nb-card-body>
                  <div class="container">
                    <div class="row">
                      <div class="col-3"> Emission Source Name </div>
                      <div class="col-7">
                        <input type="text"  class="form-control no-radius" [(ngModel)]="inputExcludedReason.srcName" >
                      </div>
                      <div class="col-2">
                        <button class="btn btn-primary" (click)="onAddExcludedReason($event)">Save</button>
                      </div>
                      <div class="col-12 mb-2"></div>
                      <div class="col-3">
                        Reason
                      </div>
                      <div class="col-7">
                        <textarea [(ngModel)]="inputExcludedReason.reason" style=" -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;" rows="5" ></textarea>
                      </div>
                    </div>
                  </div>
                </nb-card-body>
              </nb-card>
            </div>

            <div class="row">
              <nb-list>
                <nb-list-item *ngFor="let src of summaryData.excludedReasons" >
                  <div class="container">
                    <div class="row font-weight-bold">
                      <div class="col-10">
                        {{src.srcName}}
                      </div>
                      <div class="col-2"><nb-icon  (click)="onDeleteExcludedSrc($event, src)" icon="trash-2-outline"></nb-icon></div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        {{src.reason}}
                      </div>
                    </div>
                  </div>
                </nb-list-item>
              </nb-list>
            </div>
          </div>


        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <!--    suggetions-->
  <div class="row ">
    <div class="col-12">
      <nb-card class="w-100">
        <nb-card-header>
          Suggestions
        </nb-card-header>
        <nb-card-body>
          <div class="container">
            <div *ngIf="userType == 3" class="row mb-5 pt-2 pb-2 rounded border">
              <nb-card class="shadow-none">
                <nb-card-header>
                  Add Suggestions
                </nb-card-header>
                <nb-card-body>
                  <div class="container">
                    <div class="row ">
                      <div class="col-3">
                        Title
                      </div>
                      <div class="col-7">
                        <input type="text"  class="form-control no-radius" [(ngModel)]="inputSuggestion.title" >
                      </div>
                      <div class="col-2">
                        <button class="btn btn-primary" (click)="onAddSuggestion($event)">Save</button>
                      </div>
                      <div class="col-12 mb-2"></div>
                      <div class="col-3">
                        Description
                      </div>
                      <div class="col-7">
                        <textarea [(ngModel)]="inputSuggestion.description" style=" -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;" rows="5" ></textarea>
                      </div>
                    </div>
                  </div>

                </nb-card-body>
              </nb-card>
            </div>



            <div class="row">
              <nb-list>
                <nb-list-item *ngFor="let sugg of summaryData.suggestions" >
                  <div class="container">
                    <div class="row font-weight-bold">
                      <div class="col-10">
                        {{sugg.title}}
                      </div>
                      <div class="col-2"><nb-icon  (click)="onDeleteSuggestion($event, sugg)" icon="trash-2-outline"></nb-icon></div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        {{sugg.description}}
                      </div>
                    </div>
                  </div>
                </nb-list-item>
              </nb-list>
            </div>

          </div>

        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>

