


<nb-layout >
    <nb-layout-column>
        <nb-card>
            <nb-card-header>
                <nav class="navigation w-100 h-100  d-flex justify-content-center">
                  <a routerLink="../home">
                    <img  class="img-fluid" src="../../../../assets/logo/favicon.jpg"/>
                  </a>
                </nav>
            </nb-card-header>
            <nb-card-body class="bg-light">
                <nb-auth-block>

                  <h1 id="title" class="title">Login</h1>


                  <form (ngSubmit)="login()" #form="ngForm"  aria-labelledby="title">

                    <div class="form-control-group container w-100">
                      <div class="row w-100">
                        <div class="col"><label class="label w-auto" >User Name:</label></div>
                      </div>
                      <div class="row w-100">
                        <div class="col-12 w-100">
                            <input nbInput
                            class="w-100 form-control"
                            fullWidth
                            [(ngModel)]="username"
                            placeholder="User name"
                            fieldSize="large"
                            autofocus
                            [ngModelOptions]="{standalone: true}"
                            >
                        </div>
                      </div>

                    </div>

                    <div class="form-control-group container mb-1">
                      <div class="row w-100">
                        <div class="col-12 w-100">
                            <span class="label-with-link w-100">
                                <label class="label">Password:</label>
                                <!--<a class="forgot-password caption-2" routerLink="../request-password">Forgot Password?</a>-->
                              </span>
                        </div>
                      </div>
                      <div class="row w-100">
                        <div class="col-12 w-100">
                          <input
                            nbInput
                            fullWidth
                            [(ngModel)]="password"
                            type="password"
                            placeholder="Password"
                            fieldSize="large"
                            class="form-control w-100"
                            [ngModelOptions]="{standalone: true}"
                          />

                        </div>

                      </div>

                    </div>

                    <div class="form-control-group accept-group container mt-0 mb-1">
                      <div class="row ml-1">
                        <div clas="col-11 ml-4">
                          <nb-checkbox  name="rememberMe" [(ngModel)]="rememberMe">Remember me</nb-checkbox>
                        </div>
                      </div>
                    </div>
                    <div class="row w-100" *ngIf="error">
                      <div class="col-12 d-flex justify-content-center">

                        <p class="caption status-danger" >
                        {{errorMsg}}
                        </p>

                      </div>
                    </div>
                    <div clss="form-control-group container">

                      <div class="row">
                        <div class="col-12 mr-5 d-flex justify-content-center">
                          <button class ="btn btn-primary pl-3 pr-3"
                                  fullWidth
                                  status="primary"
                                  size="large"
                                  [disabled]="submitted || !form.valid"
                                  [class.btn-pulse]="submitted">
                            Log In
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>


                  <section class="another-action" aria-label="Register">
                    Visit <a class="text-link" href="http://www.climatesi.com">Climate Smart Initiatives (Pvt) Ltd</a>
                  </section> 
                </nb-auth-block>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
</nb-layout>
 
 
