<div class="card h-100 w-100 m-0 mat-dg-content">
  <div class="h-100">
    <div class="card-header mat-pop-up-header hidden-sm-down">
      <div class="row">
        <div class="col-10 font-weight-bold">
          {{popupData.header}}
        </div>
        <div class="col-2 text-right d-flex justify-content-end align-items-center">
          <nb-icon  icon="close-outline" (click)="closeDialog()" onmouseover style="cursor: pointer;"></nb-icon>
        </div>
      </div>
    </div>
    <div style="max-height: 400px; overflow: scroll;" class="card-body with-bottom-buttons">

      <div class="row mb-3 pr-2 pl-1">
        <div class="col-3"><label>Company</label></div>
        <div class="col-3">
          <mat-select placeholder="Select Company" (selectionChange)="onChangeCompany($event.value)" [(ngModel)]="body.companyId">
            <mat-option *ngFor="let c of companies" [value]="c.id">
              {{c.name}}
            </mat-option>
          </mat-select>
        </div>
        <div class="col-3"><label>Branch</label></div>
        <div class="col-3">
          <mat-select (selectionChange)="onChangeBranch($event.value)"  placeholder="Select Branch"  [(ngModel)]="body.branchId">
            <input  class="form-control w-100" placeholder="Search Branch" (keyup)="onSearchBranch($event.target.value)">
            <mat-option *ngFor="let c of branches" [value]="c.id">
              {{c.name}}
            </mat-option>
          </mat-select>
        </div>
      </div>

      <div class="row mb-3 pr-2 pl-1">
        <div class="col-3"><label>Freight Mode</label></div>
        <div class="col-3">
          <mat-select placeholder="Select Mode"  [(ngModel)]="body.freightMode" (selectionChange)="onChangeMode($event.value)">
            <input  class="form-control w-100" placeholder="Select Mode" (keyup)="onSearchCountry($event.target.value)">
            <mat-option *ngFor="let c of freightTypes" [value]="c.name">
              {{c.name}}
            </mat-option>
          </mat-select>
        </div>

        <div class="col-3"><label>Vehicle Number</label></div>
        <div class="col-3">
          <!-- <div class="col-6"> -->
            <input [(ngModel)]="body.VEHICLE_NUMBER"  class="form-control-sm w-100 no-radius" >
          <!-- </div> -->
        </div>


     
      </div>
      <div class="row mb-3 pr-2 pl-1" *ngIf="body.freightMode === 'road' || body.freightMode === 'off-road'">

      <div class="col-3"><label>Vehicle Model</label></div>
      <div class="col-3">
        <mat-select  placeholder="Select model"  [(ngModel)]="body.vehicleModel">
          <input  class="form-control w-100">
          <mat-option *ngFor="let c of vehicleModels" [value]="c.name">
            {{c.name}}
          </mat-option>
        </mat-select>
      </div>
</div>

      <div class="row mb-3 pr-2 pl-1">
        <div class="col-3"><label>Ownership</label></div>
        <div class="col-3">
          <mat-select  placeholder="Select Ownership"  [(ngModel)]="body.ownerShip">
            <input  class="form-control w-100" placeholder="Search Ownership" (keyup)="onSearchCountry($event.target.value)">
            <mat-option *ngFor="let c of owenership" [value]="c.name">
              {{c.name}}
            </mat-option>
          </mat-select>
        </div>

        <div class="col-3"><label>Method</label></div>
        <div class="col-3">
          <mat-select  (selectionChange)="onChangeMethod($event.value)" placeholder="Select Method"  [(ngModel)]="body.method">
            <!-- <input  class="form-control w-100" placeholder="Search Method" (keyup)=""> -->
            <mat-option [disabled]="body.freightMode==='air' && c.name ==='fuel_base'" *ngFor="let c of method" [value]="c.name">
              {{c.name.split("_").join(" ") | titlecase }}
            </mat-option>
          </mat-select>
        </div>

      </div>
      <div class="row mb-3 pr-2 pl-1" *ngIf="body.freightMode === 'road' && body.method === 'distance_base'">
        <div class="col-3"><label>Cargo Type</label></div>
        <div class="col-3">
          <mat-select placeholder="Select Cargo Type"  [(ngModel)]="body.cargoType">
            <mat-option *ngFor="let c of cargoTypes" [value]="c.code">
              {{c.name | titlecase }}
            </mat-option>
          </mat-select>
        </div>
      </div>


      <div class="row mb-3 pr-2 pl-1">
        <div class="col-3" *ngIf="body.freightMode === 'air' || body.freightMode === 'water'"><label>Dept Country</label></div>      
        <div class="col-3"  *ngIf="body.freightMode === 'air' || body.freightMode === 'water'">
          <mat-select (selectionChange)="onChangeDepCountry($event.value)" placeholder="Select Country"  [(ngModel)]="body.deptCountry">
            <input  class="form-control w-100" placeholder="Search Country" (keyup)="onSearchCountry_dp($event.target.value)" (keydown)="onSearcCountryClose1($event)">
            <mat-option *ngFor="let c of countries_dp" [value]="c.name">
              {{c.name}}
            </mat-option>
          </mat-select>
        </div>
        <div class="col-3">
          <label  *ngIf="body.freightMode === 'air'">Dept Airport</label>
          <label  *ngIf="body.freightMode === 'water'">Dept Port</label>
          <label  *ngIf="body.freightMode === 'rail'">Dept Station</label>
        </div>
        <div class="col-3">
          <mat-select  *ngIf="body.freightMode === 'air'" [(ngModel)]="body.deptPort" placeholder="Select Airport" >
            <input   class="form-control w-100" placeholder="Search Airport"  (change)="onSearchAirport_dp($event.target.value)" >
            <mat-option *ngFor="let a of airports_dp"  [value]="a.name">{{a.name}}</mat-option>
          </mat-select>
          <mat-select  *ngIf="body.freightMode === 'water'" [(ngModel)]="body.deptPort" placeholder="Select port" >
            <input   class="form-control w-100" placeholder="Search port"  (keyup)="onSearchSeaport_dp($event.target.value)" >
            <mat-option *ngFor="let a of seeports_dp"  [value]="a.code">{{a.name}}</mat-option>
          </mat-select>
          <mat-select  *ngIf="body.freightMode === 'rail'" [(ngModel)]="body.deptPort" placeholder="Select Station" >
            <input   class="form-control w-100" placeholder="Search station"  (keyup)="onSearchSeaport($event.target.value)" >
            <mat-option *ngFor="let a of stations"  [value]="a.name">{{a.name}}</mat-option>
          </mat-select>
        </div>
      </div>
      <div class="row mb-3 pr-2 pl-1">
        <div class="col-3"  *ngIf="body.freightMode === 'air' || body.freightMode === 'water'"><label>Dest Country</label></div>
        <div class="col-3"  *ngIf="body.freightMode === 'air' || body.freightMode === 'water'">
          <mat-select (selectionChange)="onChangeDesCountry($event.value)"placeholder="Select Country" [(ngModel)]="body.destCountry">
            <input   class="form-control w-100" placeholder="Search Country" (keyup)="onSearchCountry_ds($event.target.value)" (keydown)="onSearcCountryClose($event)">
            <mat-option *ngFor="let c of countries_ds" [value]="c.name">
              {{c.name}}
            </mat-option>
          </mat-select>
        </div>
        <div class="col-3">
          <label  *ngIf="body.freightMode === 'air'">Dest Airport</label>
          <label  *ngIf="body.freightMode === 'water'">Dest Port</label>
          <label  *ngIf="body.freightMode === 'rail'">Dest Station</label>
        </div>
        <div class="col-3">
          <mat-select *ngIf="body.freightMode === 'air'" [(ngModel)]="body.destPort"  placeholder="Select Airport" >
            <input   class="form-control w-100" placeholder="Search Airport"  (keyup)="onSearchAirport_ds($event.target.value)">
            <mat-option *ngFor="let a of airports_ds"  [value]="a.name">{{a.name}}</mat-option>
          </mat-select>
          <mat-select *ngIf="body.freightMode === 'water'" [(ngModel)]="body.destPort" placeholder="Select Port" >
            <input   class="form-control w-100" placeholder="Search port"  (keyup)="onSearchSeaport_ds($event.target.value)" >
            <mat-option *ngFor="let a of seeports_ds"  [value]="a.code">{{a.name}}</mat-option>
          </mat-select>
          <mat-select *ngIf="body.freightMode === 'rail'" [(ngModel)]="body.destPort" placeholder="Select Station" >
            <input   class="form-control w-100" placeholder="Search station"  (keyup)="onSearchSeaport_ds($event.target.value)" >
            <mat-option *ngFor="let a of stations"  [value]="a.name">{{a.name}}</mat-option>
          </mat-select>
        </div>
      </div>

      <div class="row mb-3 pr-2 pl-1"   *ngIf="body.freightMode === 'air' || body.freightMode === 'water'">
        <div class="col-4 d-flex justify-content-center"><label>Transit 1</label></div>
        <div class="col-4 d-flex justify-content-center"><label>Transit 2</label></div>
        <div class="col-4 d-flex justify-content-center"><label>Transit 3</label></div>
      </div>

      <div class="row mb-3 pr-2 pl-1"   *ngIf="body.freightMode === 'air'">
        <div class="col-4 d-flex justify-content-center">
          <mat-select [(ngModel)]="body.t1Port" placeholder="Select Airport" >
            <input   class="form-control w-100" placeholder="Search Airport"  (keyup)="onSearchAirport_t1($event.target.value)">
            <mat-option *ngFor="let a of airportst1"  [value]="a.name">{{a.name}}</mat-option>
          </mat-select>
        </div>
        <div class="col-4 d-flex justify-content-center">
          <mat-select [(ngModel)]="body.t2Port" placeholder="Select Airport" >
            <input   class="form-control w-100" placeholder="Search Airport"  (keyup)="onSearchAirport_t2($event.target.value)">
            <mat-option *ngFor="let a of airportst2"  [value]="a.name">{{a.name}}</mat-option>
          </mat-select>
        </div>
        <div class="col-4 d-flex justify-content-center">
          <mat-select [(ngModel)]="body.t3Port" placeholder="Select Airport" >
            <input   class="form-control w-100" placeholder="Search Airport"  (keyup)="onSearchAirport_t3($event.target.value)">
            <mat-option *ngFor="let a of airportst3"  [value]="a.name">{{a.name}}</mat-option>
          </mat-select>
        </div>
      </div>

      <div class="row mb-3 pr-2 pl-1"   *ngIf="body.freightMode === 'water'">
        <div class="col-4 d-flex justify-content-center">
          <mat-select [(ngModel)]="body.t1Port" placeholder="Select Port" >
            <input   class="form-control w-100" placeholder="Search port"  (keyup)="onSearchSeaport1($event.target.value)">
            <mat-option *ngFor="let a of seeports1"  [value]="a.code">{{a.name}}</mat-option>
          </mat-select>
        </div>
        <div class="col-4 d-flex justify-content-center">
          <mat-select [(ngModel)]="body.t2Port" placeholder="Select Port" >
            <input   class="form-control w-100" placeholder="Search port"  (keyup)="onSearchSeaport2($event.target.value)">
            <mat-option *ngFor="let a of seeports2"  [value]="a.code">{{a.name}}</mat-option>
          </mat-select>
        </div>
        <div class="col-4 d-flex justify-content-center">
          <mat-select [(ngModel)]="body.t3Port" placeholder="Select Port" >
            <input   class="form-control w-100" placeholder="Search port"  (keyup)="onSearchSeaport3($event.target.value)">
            <mat-option *ngFor="let a of seeports3"  [value]="a.code">{{a.name}}</mat-option>
          </mat-select>
        </div>
      </div>


      <div class="row mb-3 pr-2 pl-1"  *ngIf="body.freightMode === 'water'">
        <!-- <div class="col-3">
          <mat-checkbox (change)="onChangeWay($event)" class="example-margin" [(ngModel)]="twoWay">Two way trip</mat-checkbox>
        </div> -->

        <div class="col-3" *ngIf="body.method == 'distance_base' ">
          <div class="col-3"><label>Activity</label></div>
          <mat-select (selectionChange)="onChangeActivity($event.value)" placeholder="Select Activity" [(ngModel)]="body.activity">
            <mat-option *ngFor="let a of activities" [value]="a.id">
              {{a.name | titlecase}}
            </mat-option>
          </mat-select>
        </div>
        <div class="col-3"  *ngIf="body.method == 'distance_base' ">
          <div class="col-3"><label>Type</label></div>
          <mat-select placeholder="Select Type" (selectionChange)="onChangeType($event.value)"[(ngModel)]="body.type">
            <mat-option *ngFor="let a of types" [value]="a.id">
              {{a.name}}
            </mat-option>
          </mat-select>
        </div>
        <div class="col-3"  *ngIf="body.method == 'distance_base' ">
          <div class="col-3"><label>Size</label></div>
          <mat-select  placeholder="Select Size" (selectionChange)="onChangeSize($event)" [(ngModel)]="body.size">
            <mat-option *ngFor="let a of sizes" [value]="a.id">
              {{a.name | titlecase}}
            </mat-option>
          </mat-select>
        </div>
      </div>
      <div class="row mb-3 pr-2 pl-1">
        <!-- <div class="col-4 d-flex justify-content-center"><label>Type</label></div> -->
        <!-- <div class="col-4 d-flex justify-content-center"><label>Month</label></div> -->
        <!-- <div class="col-4 d-flex justify-content-center"><label>Year</label></div> -->
      </div>
      <div class="row mb-3 pr-2 pl-1">
        <div class="col-6 d-flex justify-content-center">
          <div class="col-3"><label>Month</label></div>
          <mat-select (selectionChange)="onChangeMonth($event)" placeholder="Select Month" [(ngModel)]="body.month">
            <mat-option *ngFor="let a of months" [value]="a.id">
              {{a.name}}
            </mat-option>
          </mat-select>
        </div>
        <div class="col-6 d-flex justify-content-center">
          <div class="col-3"><label>Year</label></div>
          <mat-select placeholder="Select Year" [(ngModel)]="body.year">
            <mat-option *ngFor="let a of years" [value]="a">
              {{a}}
            </mat-option>
          </mat-select>
        </div>
      </div>

      <div class="row mb-3 pr-2 pl-1 font-weight-bold">
        <div class="col-12">
          GHG Emission Details
        </div>
      </div>
      <div class="row mb-3 pr-2 pl-1"  *ngIf="body.method == 'distance_base' ">
       <div class="col-6">Weight (Tonnes)</div>
       <div *ngIf="!body.isNotAvailable" class="col-6" >Distance</div>

      </div>

      <div class="row mb-3 pr-2 pl-1"  *ngIf="body.method == 'distance_base' ">
       <div class="col-6">
         <input type="number" [(ngModel)]="body.weight"  class="form-control-sm w-100 no-radius" >
       </div>
        <div class="col-4"  *ngIf="!body.isNotAvailable">
         <input type="number" [(ngModel)]="body.totalDistance"  class="form-control-sm w-100 no-radius" >
       </div>
       <div class="col-2">
        <mat-select  placeholder="Unit" [(ngModel)]="body.distanceUnit">
          <mat-option *ngFor="let a of units" [value]="a.name">
            {{a.name | titlecase}}
          </mat-option>
        </mat-select>
      </div>

      </div>

      <div class="row mb-4 pr-2 pl-1"    *ngIf="body.method == 'fuel_base' " >
        <div class="col-3" *ngIf="body.freightMode === 'water'">Vessel</div>
        <div class="col-3">Fuel Type</div>
        <div class="col-3">Fuel Consumption</div>
        <div class="col-3">Unit</div>
       </div>

      <div class="row mb-4 pr-2 pl-1"    *ngIf="body.method == 'fuel_base' ">
        <div class="col-3" *ngIf="body.freightMode === 'water'">
          <input  [(ngModel)]="body.vessel"  class="form-control-sm w-100 no-radius" >
        </div>
        <div class="col-3">
          <mat-select *ngIf="body.freightMode=='water'"  placeholder="Select Fuel" [(ngModel)]="body.fuelType">
            <mat-option *ngFor="let a of fuels" [value]="a.code">
              {{a.name}}
            </mat-option>
          </mat-select>

          <mat-select *ngIf="body.freightMode!=='water'" placeholder="Select Fuel" [(ngModel)]="body.fuelType">
            <mat-option *ngFor="let a of fuelsNotWater" [value]="a.code">
              {{a.name}}
            </mat-option>
          </mat-select>
        </div>
         <div class="col-3">
          <input type="number" [(ngModel)]="body.fuelConsumption"  class="form-control-sm w-100 no-radius" >
        </div>
        <div class="col-3">
          <mat-select  placeholder="Select Fuel" [(ngModel)]="body.fuelUnit">
            <mat-option *ngIf="body.fuelType === 'Coal' " value="liters">Kg</mat-option>
            <mat-option *ngIf="body.fuelType !== 'Coal' " value="liters">Liters</mat-option>
            <mat-option  *ngIf="body.freightMode == 'water' " value="tonnes">Tonnes</mat-option>
          </mat-select>
        </div>
       </div>

       <div class="row mb-4 pr-2 pl-1"    *ngIf="body.fuelType == 'Petrol' && body.freightMode == 'off-road'" >
        <div class="col-3">Stroke</div>
       </div>
        
      <div class="row mb-4 pr-2 pl-1"  *ngIf="body.fuelType == 'Petrol' &&  body.method == 'fuel_base' && body.fuelType == 'Petrol' && body.freightMode == 'off-road' ">
        <div class="col-3">
          <mat-select  placeholder="Select Stroke" [(ngModel)]="body.stroke">
            <mat-option *ngFor="let s of strokes" [value]="s.code">{{s.name}}</mat-option>
          </mat-select>
        </div>
      </div>

      
      <div class="row mb-3 pr-2 pl-1" *ngIf="body.freightMode !== '' && body.freightMode == 'road' && body.method == 'fuel_base'">
        <div class="col-12"><mat-checkbox (change)="onChangeNotAvaliable($event)" class="example-margin" [(ngModel)]="body.isNotAvailable">Not Avaliable</mat-checkbox></div>
      </div>
      <div class="row mb-3 pr-2 pl-1" *ngIf="body.isNotAvailable && body.freightMode == 'road' && body.method == 'fuel_base'">
        <div class="col-4"><label>Fuel Economy(km/l)</label></div>
        <div class="col-4">
          <input type="number" [(ngModel)]="body.fuelEconomy" class="form-control-sm w-100 no-radius" >
        </div>
      </div>
      <div class="row mb-3 pr-2 pl-1" *ngIf="body.isNotAvailable && body.freightMode == 'road' && body.method == 'fuel_base'">
        <div class="col-4"><label>Distance (Km)</label></div>
        <div class="col-4">
          <input type="number" [(ngModel)]="body.totalDistance"  class="form-control-sm w-100 no-radius" >
        </div>
      </div>

      <div class="row mb-3 pr-2 pl-1">
        <div class="col-12"><mat-checkbox (change)="onChangeFuelPaidByCompany($event)" class="example-margin" [(ngModel)]="isFuelPaidByCompany">Fuel Paid by Company</mat-checkbox></div>
      </div>



      <!-- <div class="row mb-3 pr-2 pl1">
        <div class="col-4">GHG CO<sub>2</sub></div>
        <div class="col-4">GHG N<sub>2</sub>O</div>
        <div class="col-4">GHG CH<sub>4</sub></div>
      </div>
      <div class="row mb-3 pr-2 pl-1">
        <div class="col-4">
          <input type="number" [(ngModel)]="body.EMISSION_INFO.co2"  class="form-control-sm w-100 no-radius" >
        </div>
        <div class="col-4">
          <input type="number" [(ngModel)]="body.EMISSION_INFO.n2o"  class="form-control-sm w-100 no-radius" >
        </div>
        <div class="col-4">
          <input type="number" [(ngModel)]="body.EMISSION_INFO.ch4"  class="form-control-sm w-100 no-radius" >
        </div>
      </div> -->


    </div>
    <div  mat-dialog-actions class="card-footer mb-0">
      <div class="row  w-100">
        <div class="col w-100 pt-1 pb-0 pr-1 card-bottom-buttons d-flex justify-content-end">
          <!--<button class="btn btn-secondary mr-2 ml-2"  (click)="onClickCancel()"></button>-->
          <button class="btn btn-primary"  (click)="onClickSave()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
