<div class="card h-100 w-100 m-0 mat-dg-content">
  <div class="h-100">
    <div class="card-header mat-pop-up-header hidden-sm-down">
      <div class="row">
        <div class="col-10 font-weight-bold">
          Emission Calculations
        </div>
        <div class="col-2 text-right d-flex justify-content-end align-items-center">
          <nb-icon  icon="close-outline" (click)="closeDialog()" onmouseover style="cursor: pointer;"></nb-icon>
        </div>
      </div>
    </div>
    <div class="card-body " style="max-height: 500px; overflow: scroll;" >

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left font-weight-bold">
          Equation
        </div>
      </div>
      <!--public tranport-->
      <div class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-start font-weight-bold">
          Public Transport
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-center font-weight-bold"><i>E<sub>PUB</sub> = ((D X EF<sub>PU</sub>) X WD)/1000</i></div>
      </div>
      <div class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-start">
          <div class="col-12">
            <p>D = Distance</p>
          </div>
        </div>
      </div>
      <div class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-start">
          <div class="col-12">
            <p>EF<sub>PU</sub> =  Emission factor for public vehicle per passenger kilometer (kgCO<sub>2</sub>e/passenger km) </p>
          </div>
        </div>
      </div>
      <div class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-start">
          <div class="col-12">
            <p>WD = Working Days</p>
          </div>
        </div>
      </div>


      <div class="row ">
        <div class="col-12 d-flex justify-content-start font-weight-bold">
          Own Tranport
        </div>
      </div>

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-center font-weight-bold">
          <i>
            E<sub>MC</sub> = (((EF<sub>CO<sub>2</sub>, MC,n</sub> X GWP<sub>CO<sub>2</sub></sub>)/1000) X TE<sub>MC</sub>) + (((EF<sub>CH<sub>4</sub>, MC, n</sub> X GWP<sub>CH<sub>4</sub></sub>)/1000) X TE<sub>MC</sub>) + (((EF<sub>N<sub>2</sub>O, MC, n</sub> X
            GWP<sub>N<sub>2</sub>O</sub>)/1000) X TE<sub>MC</sub>)
          </i></div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p>E<sub>MC</sub>  =  Total GHG emissions from the mobile combustion (tCo<sub>2e</sub>/year) </p>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p>TE<sub>MC</sub>  =  Total energy consumed by the mobile combustion (TJ)  </p>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p>EF<sub>CO<sub>2</sub>, MC,n</sub>  =   Emission factor for CO<sub>2</sub> from mobile combustion of fuel n (kg CO<sub>2</sub>/ TJ)  </p>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p>EF<sub>CH<sub>4</sub>, MC,n</sub>  =    Emission factor for CH<sub>4</sub> from mobile combustion of fuel n (kg CH<sub>4</sub>/ TJ)  </p>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p>EF<sub>N<sub>2</sub>O, MC,n</sub>  =    Emission factor for N<sub>2</sub>O from mobile combustion of fuel n (kg N<sub>2</sub>O/ TJ)  </p>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p> GWP<sub>CO<sub>2</sub></sub>   =    Global worming potential for CO<sub>2</sub>  </p>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p> GWP<sub>CH<sub>4</sub></sub>   =    Global worming potential for CH<sub>4</sub> </p>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p> GWP<sub>N<sub>2</sub>O</sub>   =    Global worming potential for N<sub>2</sub>O  </p>
        </div>
      </div>



      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-center font-weight-bold">
          <i>
            TE<sub>MC</sub> = (FC <sub>n</sub> / 1000) X D<sub>n</sub> X NCV<sub>n</sub>
          </i></div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p> D<sub>n</sub>   =     Density of the fuel type n (t/m<sup>3</sup>)
          </p>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p> NCV<sub>n</sub>   =    Net calorific value of the fuel type n(TJ/t)   </p>
        </div>
      </div>


      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-center font-weight-bold">
          <i>
            FC<sub>n</sub> =  D X FE<sub>i,n</sub>
          </i></div>
      </div>



      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p> D   =    Distance (km)    </p>
        </div>
      </div>

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p> FE<sub>i,n</sub>   =   Fuel economy of vehicle category i fuel type n (km/l)    </p>
        </div>
      </div>


      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p>E<sub>MC</sub>  =  Total GHG emissions from the mobile combustion (tCo<sub>2e</sub>/year) </p>
        </div>
      </div>


      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-center font-weight-bold"><i>E<sub>GE</sub> = EC X  EF<sub>GE</sub></i></div>
      </div>


      <!--substitutioin-->

      <div class="row mb-3 pr-2 pl-1">
        <div class="col-12  d-flex justify-content-start font-weight-bold">
          Substitution
        </div>
      </div>
      <div   class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-start">
          Public Tranport Up
        </div>
      </div>
      <div class="row ">
        <div class="col-12 d-flex justify-content-start">
          E<sub>PUB <sub>UP</sub></sub> = ({{popupData.data.publicTrans_distance_UP}} X {{popupData.data.emissionInfo.ef_pub_up}} X {{popupData.data.noOfWorkingDays}}) / 1000
        </div>
      </div>
      <div class="row ">
        <div class="col-12 d-flex justify-content-start">
          E<sub>PUB <sub>UP</sub></sub> = {{popupData.data.emissionInfo.e_public_up}}
        </div>
      </div>


      <div   class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-start">
          Public Tranport Down
        </div>
      </div>
      <div class="row ">
        <div class="col-12 d-flex justify-content-start">
          E<sub>PUB <sub>DOWN</sub></sub> = ({{popupData.data.publicTrans_distance_DOWN}} X {{popupData.data.emissionInfo.ef_pub_down}} X {{popupData.data.noOfWorkingDays}}) / 1000
        </div>
      </div>
      <div class="row ">
        <div class="col-12 d-flex justify-content-start">
          E<sub>PUB <sub>DOWN</sub></sub> = {{popupData.data.emissionInfo.e_public_down}}
        </div>
      </div>
      <div   class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-start">
          Own Tranport Up
        </div>
      </div>
      <div class="row">
        <div class="col-12 d-flex justinfy-content-start">
          E<sub>OWN</sub><sub>up</sub> = {{popupData.data.emissionInfo.e_own_up}}
        </div>
        <div></div>
      </div>

      <div   class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-start">
          Own Tranport Down
        </div>
      </div>
      <div class="row">
        <div class="col-12 d-flex justinfy-content-start">
          E<sub>OWN</sub><sub>up</sub> = {{popupData.data.emissionInfo.e_own_down}}
        </div>
        <div></div>
      </div>
    </div>

  </div>
</div>
