<div class="header-container">
  <style>
    h1 {
      font-size: 2.5vw;
    }

    h2 {
      font-size: 2.0vw;
    }

    @media(max-width: 768px){
      h1 {
        font-size: 4.0vw;

      }
      h2 {
        font-size:  4.0vw;
      }
    }
  </style>
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-action icon="menu-2-outline"></nb-action>
    </a>
    <!--<a class="logo" href="#" (click)="navigateHome()"><h2>Smart Carbon Calculator</h2></a>-->
    <a  href="#" (click)="navigateHome()"><img style="max-width: 480px; min-width: 100px; min-height: 40px; max-height: 80px;" src="../../../../assets/logo/Group 1.png"/></a>
  </div>
  <!--<nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">-->
    <!--<nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>-->
  <!--</nb-select>-->
</div>

<div class="header-container m-0">
  <!--<div style="width: 50px; height: 100%; background-color: #3c763d; padding: 0px;"> works</div>-->
  <nb-actions size="small">

    <!--<nb-action class="control-item">-->
      <!--<nb-search type="rotate-layout"></nb-search>-->
    <!--</nb-action>-->

    <!--<nb-action class="control-item" icon="bell-outline"></nb-action>-->
    <nb-action class="user-action" *nbIsGranted="['view', 'user']" >
      <!--<nb-user [nbContextMenu]="userMenu"-->
               <!--[onlyPicture]="userPictureOnly"-->
               <!--[name]="user?.name"-->
               <!--[picture]="user?.picture">-->
      <!--</nb-user>-->
      <nb-user size="small"
               name="{{userName}}"
               title="{{title}}"
               color="#cccccc">
      </nb-user>

      <!--<i data-eva="github"></i>-->
    <!--</nb-action>-->
    <!--<nb-action (click)="onclickSetting($event)" class="control-item logout" icon="settings-outline"></nb-action>-->
    <!--<nb-action [matBadge]="4" [matBadgeOverlap]="true" (click)="onShowNotification($event)" class="control-item logout" icon="bell-outline"></nb-action>-->

    <!--<nb-action (click)="onclickLogout($event)" class="control-item logout" icon="log-out-outline"></nb-action>-->
    </nb-action>
    <nb-action size="small"  #notification badgePosition="top end "  badgeStatus="danger" [badgeText]="notifications" (click)="onShowNotification($event)" class="control-item logout" style=" padding-left:10px;padding-right:10px;" icon="bell-outline">

    </nb-action>
    <!--<nb-action class="control-item">-->
      <!--<i class="nb-email"></i>-->
    <!--</nb-action>-->
    <nb-action size="small" (click)="onclickSetting($event)" class="control-item logout"  icon="settings-outline"></nb-action>
    <nb-action size="small" (click)="onclickLogout($event)" class="control-item logout" icon="log-out-outline"></nb-action>
  </nb-actions>
</div>
