<!-- 1-->
<!--<div class="loading-screen-wrapper">-->
  <!--<div class="loading-screen-icon">-->
    <!--<div class="blobs">-->
      <!--<div class="blob-center"></div>-->
      <!--<div class="blob"></div>-->
      <!--<div class="blob"></div>-->
      <!--<div class="blob"></div>-->
      <!--<div class="blob"></div>-->
      <!--<div class="blob"></div>-->
      <!--<div class="blob"></div>-->
    <!--</div>-->
    <!--<svg xmlns="http://www.w3.org/2000/svg" version="1.1">-->
      <!--<defs>-->
        <!--<filter id="goo">-->
          <!--<feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"/>-->
          <!--<feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo"/>-->
          <!--<feBlend in="SourceGraphic" in2="goo"/>-->
        <!--</filter>-->
      <!--</defs>-->
    <!--</svg>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="sk-chase">-->
  <!--<div class="sk-chase-dot"></div>-->
  <!--<div class="sk-chase-dot"></div>-->
  <!--<div class="sk-chase-dot"></div>-->
  <!--<div class="sk-chase-dot"></div>-->
  <!--<div class="sk-chase-dot"></div>-->
  <!--<div class="sk-chase-dot"></div>-->
<!--</div>-->
<div class="loading-screen-wrapper d-flex align-items-center">
  <div class="sk-cube-grid">
    <div class="sk-cube sk-cube1"></div>
    <div class="sk-cube sk-cube2"></div>
    <div class="sk-cube sk-cube3"></div>
    <div class="sk-cube sk-cube4"></div>
    <div class="sk-cube sk-cube5"></div>
    <div class="sk-cube sk-cube6"></div>
    <div class="sk-cube sk-cube7"></div>
    <div class="sk-cube sk-cube8"></div>
    <div class="sk-cube sk-cube9"></div>
  </div>
</div>
