<div class="card h-100 w-100 m-0 mat-dg-content">
    <div class="h-100">
      <div class="card-header mat-pop-up-header hidden-sm-down">
        <div class="row">
          <div class="col-10 font-weight-bold">
            {{popupData.header}}
          </div>
          <div class="col-2 text-right d-flex justify-content-end align-items-center">
            <nb-icon  icon="close-outline" (click)="closeDialog()" onmouseover style="cursor: pointer;"></nb-icon>
          </div>
        </div>
      </div>
      <div style="max-height: 450px; overflow: scroll;" class="card-body with-bottom-buttons">
        <div class="row mb-3 pr-2 pl-1">
          <div class="col-3"><label>Company</label></div>
          <div class="col-3">
            <mat-select placeholder="Select Company" (selectionChange)="onChangeCompany($event.value)" [(ngModel)]="jsonBody.COMPANY_ID">
              <mat-option *ngFor="let c of companies" [value]="c.id">
                {{c.name}}
              </mat-option>
            </mat-select>
          </div>
          <div class="col-3"><label>Branch</label></div>
          <div class="col-3">
            <mat-select (selectionChange)="onChangeBranch($event.value)" placeholder="Select Branch"  [(ngModel)]="jsonBody.BRANCH_ID">
              <input  class="form-control w-100" placeholder="Search Branch" (keyup)="onSearchBranch($event.target.value)">
              <mat-option *ngFor="let c of branches" [value]="c.id">
                {{c.name}}
              </mat-option>
            </mat-select>
          </div>
  
        </div>
        <div class="row mb-3 pr-2 pl-1">
          <div class="col-6"><label>Total industry product (t/yr)</label></div>
          <div class="col-6">
            <input type="text" [(ngModel)]="jsonBody.TOTAL_INDUSTRY_PRODUCT"  class="form-control-sm w-100 no-radius" >
          </div>
        </div>
        <div class="row mb-3 pr-2 pl-1">
            <div class="col-6"><label>Waste generated (m3/t)</label></div>
            <div class="col-6">
              <input type="text" [(ngModel)]="jsonBody.WASTE_GENERATED"  class="form-control-sm w-100 no-radius" >
            </div>
          </div>
          <div class="row mb-3 pr-2 pl-1">
            <div class="col-6"><label>Chemical Oxygen Demand (kg COD/m3)</label></div>
            <div class="col-6">
              <input type="text" [(ngModel)]="jsonBody.CHEMICAL_OXYGEN_DEMAND"  class="form-control-sm w-100 no-radius" >
            </div>
          </div>
          <div class="row mb-3 pr-2 pl-1">
            <div class="col-6"><label>Type of treatment or discharge</label></div>
            <!-- <div class="col-6">
              <input type="text" [(ngModel)]="jsonBody.TYPE_OF_TREATMENT"  class="form-control-sm w-100 no-radius" >
            </div> -->

            <mat-select  placeholder="Select type"  [(ngModel)]="jsonBody.TYPE_OF_TREATMENT">
                <input  class="form-control w-100" placeholder="Select type" >
                <mat-option *ngFor="let c of typeOfTreatment" [value]="c">
                  {{c}}
                </mat-option>
              </mat-select>
          </div>
         
          <div class="row mb-3 pr-2 pl-1">
            <div class="col-6"><label>Sludge removed in each industry sector (kg COD/yr)</label></div>
            <div class="col-6">
              <input type="text" [(ngModel)]="jsonBody.SLUDGE_REMOVED"  class="form-control-sm w-100 no-radius" >
            </div>
          </div>
          <div class="row mb-3 pr-2 pl-1">
            <div class="col-6"><label>Recovered CH4 in each industry sector (kg CH4/yr)</label></div>
            <div class="col-6">
              <input type="text" [(ngModel)]="jsonBody.RECOVERED_CH4"  class="form-control-sm w-100 no-radius" >
            </div>
          </div>
     
        <div class="row mb-3 pr-2 pl-1">
          <div class="col-3"><label>Month</label></div>
          <div class="col-3">
            <mat-select (selectionChange)="onChangeMonth($event)" placeholder="Select Month"  [(ngModel)]="jsonBody.month">
              <mat-option *ngFor="let c of months" [value]="c.name">
                {{c.name}}
              </mat-option>
            </mat-select>
          </div>
          <div class="col-3"><label>Year</label></div>
          <div class="col-3">
            <mat-select placeholder="Select Year"  [(ngModel)]="jsonBody.YEAR">
              <mat-option *ngFor="let c of  years" [value]="c">
                {{c}}
              </mat-option>
            </mat-select>
          </div>
        </div>
  
  
  
      </div>
      <div  mat-dialog-actions class="card-footer mb-0">
        <div class="row  w-100">
          <div class="col w-100 pt-1 pb-0 pr-1 card-bottom-buttons d-flex justify-content-end">
            <!--<button class="btn btn-secondary mr-2 ml-2"  (click)="onClickCancel()"></button>-->
            <button class="btn btn-primary"  (click)="onClickSave()">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
