<div class="container pr-2 w-100">
  <div class="row w-100 pr-2 mt-2">
    <div class="col-6">
      <label>Title</label>
    </div>
    <div class="col-6">
      <input nbInput type="text" class="form-control-sm border-secondary"/>
    </div>
  </div>
  <div class="row w-100 pr-2  mt-2">
    <div class="col-6">
      <label>Firstname</label>
    </div>
    <div class="col-6">
      <input nbInput type="text" class="form-control-sm border-secondary"/>
    </div>
  </div>
  <div class="row w-100 pr-2  mt-2">
    <div class="col-6">
      <label>Lastname</label>
    </div>
    <div class="col-6">
      <input nbInput type="text" class="form-control-sm border-secondary"/>
    </div>
  </div>
  <div class="row w-100 pr-2  mt-2">
    <div class="col-6">
      <label>Email</label>
    </div>
    <div class="col-6">
      <input nbInput type="text" class="form-control-sm border-secondary"/>
    </div>
  </div>
  <div class="row w-100 pr-2  mt-2">
    <div class="col-6">
      <label>Telephone No</label>
    </div>
    <div class="col-6">
      <input nbInput type="text" class="form-control-sm border-secondary"/>
    </div>
  </div>
  <div class="row w-100 pr-2  mt-2">
    <div class="col-6">
      <label>Mobile No</label>
    </div>
    <div class="col-6">
      <input nbInput type="text" class="form-control-sm border-secondary"/>
    </div>
  </div>
  <div class="row w-100 pr-2  mt-2">
    <div class="col-6">
      <label>Sector</label>
    </div>
    <div class="col-6">
      <input nbInput type="text" class="form-control-sm border-secondary"/>
    </div>
  </div>
  <div class="row w-100 pr-2  mt-2">
    <div class="col-3 ">
      <label class="font-weight-bold">Agreement</label>
    </div>
  </div>
  <div class="row w-100 pr-2  mt-2">
    <div class="col-4"></div>
    <div clas="col-3 ">From&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div class="col-2">
      <input class="form-control-sm border-secondary" [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3">
      <owl-date-time (dateTimeChange)="onChangeDate($event, true)" [pickerType]="'calendar'" #dt3></owl-date-time>
    </div>
  </div>
  <div class="row w-100 pr-2  mt-2">
    <div class="col-4"></div>
    <div clas="col-3 d-flex justify-contents-end">To&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div class="col-2">
      <input  class="form-control-sm border-secondary" [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4">
      <owl-date-time (dateTimeChange)="onChangeDate($event, false)" [pickerType]="'calendar'" #dt4></owl-date-time>
    </div>
  </div>
  <div class="row w-100 pr-2  mt-3">
    <div class="col-9">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div class="col-3  bg-light d-flex justify-content-end">
      <button nbButton status="primary">Save</button>
    </div>
  </div>
</div>
