




<div *ngIf="projectStatus <= 2" class="row mt-3">
  <div class="col-12">
    <nb-card class="alert-info">
      <nb-card-body *ngIf="!(cadminStatus === 4 || cadminStatus === 3)">
        <div *ngIf="cadminStatus !==3 " class="row mt-3 ">
          <p *ngIf="cadminStatus === 1">
            Information is not submitted yet.
          </p>
          <p *ngIf="cadminStatus === 2">
            Information is submitted for Reviewing.

          </p>
          <!--<p *ngIf="cadminStatus === 4">-->
          <!--{{cadminStatusMsg}}-->
          <!--</p>-->
        </div>
      </nb-card-body>
      <nb-card-header *ngIf="cadminStatus === 4">
        Requested to Recheck Information
      </nb-card-header>
      <nb-card-body *ngIf="cadminStatus === 4">
        {{cadminStatusMsg}}
      </nb-card-body>
      <nb-card-header *ngIf="cadminStatus === 3">
       Approved Information
      </nb-card-header>
    </nb-card>
  </div>
</div>
<div *ngIf="projectStatus > 2" class="row mt-3">
  <div class="col-12">
    <nb-card >
      <nb-card-header>
        Company Basic Information
      </nb-card-header>
    </nb-card>
  </div>
</div>

<div class="row  mt-3 display-flex ">
  <div class="col-md-6 col-xs-12 col-sm-12 h-100 ">
    <nb-card class="h-100">
      <nb-card-header>
        Basic Information
      </nb-card-header>
      <nb-card-body>
        <div class="row mt-3">
          <div class="col-6 d-flex align-items-center"><label>Title</label></div>
          <div class="col-6">
            <label>{{cadminInfo.title}}</label>
            <!--<ngx-select-dropdown [config]="titleConfig" [(ngModel)]="cadminInfo.title" [options]="titlesOptions"></ngx-select-dropdown>-->

          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6 d-flex align-items-center"><label>First Name</label></div>
          <div class="col-6">
            <label>{{cadminInfo.firstName}}</label>
            <!--<input [(ngModel)]="cadminInfo.firstName"  class="form-control-sm w-100 no-radius" >-->
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6 d-flex align-items-center"><label>Last Name</label></div>
          <div class="col-6">
            <label>{{cadminInfo.lastName}}</label>
            <!--<input [(ngModel)]="cadminInfo.lastName"  class="form-control-sm w-100 no-radius" >-->
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6 d-flex align-items-center"><label>Position</label></div>
          <div class="col-6">
            <label>{{cadminInfo.position}}</label>
            <!--<input [(ngModel)]="cadminInfo.position"  class="form-control-sm w-100 no-radius" >-->
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6 d-flex align-items-center"><label>Telephone No</label></div>
          <div class="col-6">
            <label>{{cadminInfo.telephoneNo}}</label>
            <!--<input [(ngModel)]="cadminInfo.telephoneNo"  class="form-control-sm w-100 no-radius" >-->
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6 d-flex align-items-center"><label>Mobile No</label></div>
          <div class="col-6">
            <label>{{cadminInfo.mobileNo}}</label>
            <!--<input [(ngModel)]="cadminInfo.mobileNo"  class="form-control-sm w-100 no-radius" >-->
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6 d-flex align-items-center"><label>Email</label></div>
          <div class="col-6">
            <label>{{cadminInfo.email}}</label>
            <!--<input [(ngModel)]="cadminInfo.email"  class="form-control-sm w-100 no-radius" >-->
          </div>
        </div>
      </nb-card-body>
      <!--<nb-card-footer class="d-flex justify-content-end">-->
      <!--<button class="btn btn-primary" (click)="updateCadminInfo()">Save</button>-->
      <!--</nb-card-footer>-->
    </nb-card>
  </div>
  <div class="col-md-6  col-xs-12 col-sm-12 h-100">
    <nb-card class="h-100">
      <nb-card-header>
        Company Basic Information
      </nb-card-header>
      <nb-card-body>
        <div class="row mt-3">
          <div class="col-6 d-flex align-items-center"><label>Company Name</label></div>
          <div class="col-6">
            <label>{{companyBasicInfo.name}}</label>
            <!--<input [(ngModel)]="companyBasicInfo.name"  class="form-control-sm w-100 no-radius" >-->
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6 d-flex align-items-center"><label>Address 1</label></div>
          <div class="col-6">
            <label>{{companyBasicInfo.addr1}}</label>
            <!--<input [(ngModel)]="companyBasicInfo.addr1"  class="form-control-sm w-100 no-radius" >-->
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6 d-flex align-items-center"><label>Address 2</label></div>
          <div class="col-6">
            <label>{{companyBasicInfo.addr2}}</label>
            <!--<input [(ngModel)]="companyBasicInfo.addr2"  class="form-control-sm w-100 no-radius" >-->
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6 d-flex align-items-center"><label>District</label></div>
          <div class="col-6">
            <label>{{companyBasicInfo.district}}</label>
            <!--<ngx-select-dropdown [config]="districtConfig" [(ngModel)]="companyBasicInfo.district" [options]="districtsOptions"></ngx-select-dropdown>-->
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6 d-flex align-items-center"><label>Sector</label></div>
          <div class="col-6">
            <label>{{companyBasicInfo.sector}}</label>
            <!--<input [(ngModel)]="companyBasicInfo.sector"  class="form-control-sm w-100 no-radius" >-->
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6 d-flex align-items-center"><label>Code</label></div>
          <div class="col-6">
            <label>{{companyBasicInfo.code}}</label>
            <!--<input [(ngModel)]="companyBasicInfo.code"  class="form-control-sm w-100 no-radius" >-->
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-3 d-flex align-items-center"><label>Branches</label></div>
          <div class="col-3"><label>{{companyBasicInfo.noOfBranches}}</label>
            <!--<input type="number" [(ngModel)]="companyBasicInfo.noOfBranches"  class="form-control-sm w-100 no-radius" >-->
          </div>
          <div class="col-3 d-flex align-items-center"><label>Employees</label></div>
          <div class="col-3"><label>{{companyBasicInfo.noOfEmployees}}</label>
            <!--<input type="number"  [(ngModel)]="companyBasicInfo.noOfEmployees"  class="form-control-sm w-100 no-radius" >-->
          </div>
        </div>


      </nb-card-body>
      <!--<nb-card-footer class="d-flex justify-content-end">-->
      <!--<button class="btn btn-primary" (click)="updateCompanyBasicInfo()">Save</button>-->
      <!--</nb-card-footer>-->
    </nb-card></div>
</div>
<div class = "row mt-3  " >

  <div class="col-md-6 col-sm-12">
    <nb-card class="col-md-12 h-100  col-xs-12   " >
      <nb-card-header>
       Advance Info
      </nb-card-header>
      <nb-card-body style="max-height: 100% !important;">
        <div class="row mt-3">
          <div class="col-6 d-flex align-items-center"><label>Current  Year</label></div>
          <div  class="col-3"><label>{{comFinInfo.fyCurrentStart}}</label>
          </div>
          <div *ngIf="comFinInfo.fyCurrentStart !== comFinInfo.fyCurrentEnd" class="col-3"><label>{{comFinInfo.fyCurrentEnd}}</label>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6 d-flex align-items-center"><label>Expected Revenue(Million) in Rupees</label></div>
          <div class="col-6"><label>{{comFinInfo.annumRevFY}}</label>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6">
            Target GHG Emission(tCO<sub>2</sub>e)
          </div>
          <div class="col-6">
            <input [disabled]="true" type="text" [(ngModel)]="comFinInfo.targetGHG"  class="form-control-sm no-radius" >
          </div>
        </div>
        <div class="row mt-3">
          <nb-list class="col-12">
            <nb-list-item class="row">
              <span class="col-5">Year</span>
              <span class="col-7">Report</span>
            </nb-list-item>
            <nb-list-item class="row" *ngFor="let report of reports">
              <div class="col-5">{{report.year}}</div>
              <a class="col-7" [href]="report.url">Download</a>
            </nb-list-item>
          </nb-list>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-6 col-sm-12">
    <nb-card class="col-md-12 h-100 col-xs-12   " >
      <nb-card-header>
        Other Info
      </nb-card-header>
      <nb-card-body>
        <div class="row mt-3">
          <div class="col-6 d-flex align-items-center"><label>Logo</label></div>
          <!--<div class="col-6"><input type="file" [(ngModel)]="qImage" id="img" class="form-control no-radius" (change)="onFileChanged($event)"></div>-->
        </div>
        <div class="row mt-3" *ngIf="logoAvailable">
          <div class="col-12 d-flex justify-content-center"><img [src]="logoImage" style="width:auto;height: auto; max-height: 150px; max-width: 200px;"></div>
        </div>
        <div class="row mt-3">
          <div class="col-6 d-flex align-items-center"><label>Base year of GHG Preparation</label></div>
          <div class="col-6"><label>{{comAdvInfo.baseYear}}</label>
            <!--<input [(ngModel)]="comAdvInfo.baseYear"  class="form-control-sm w-100 no-radius" >-->
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6 d-flex align-items-center font-weight-bold"><label> Emission</label></div>
          <!--<div class="col-6"><input [(ngModel)]="companyBasicInfo.baseYear"  class="form-control-sm w-100 no-radius" ></div>-->
        </div>
        <div class="row mt-3">
          <div class="col-12 d-flex align-items-center font-weight-bold">
            <nb-list class="w-100">
              <nb-list-item class="w-100 row">
                <span class="col-6  d-flex align-items-center font-weight-bold">Previous Year</span>
                <span class="col-6  d-flex align-items-center font-weight-bold">Emission Intensity</span>
              </nb-list-item>
              <!--<nb-list-item class="w-100 row">-->
              <!--<span class="col-12"><i>Enter Emission Intensity in tCo<sub>2</sub>e per Millior LKR</i></span>-->
              <!--</nb-list-item>-->
              <!--<nb-list-item class="w-100 row">-->
              <!--<span class="col-3  d-flex align-items-center font-weight-bold"><input placeholder="2018" [(ngModel)]="emission.fyyearStart"  class="form-control-sm w-100 no-radius" ></span>-->
              <!--<span class="col-3  d-flex align-items-center font-weight-bold"><input placeholder="2019" [(ngModel)]="emission.fyyearEnd"  class="form-control-sm w-100 no-radius" ></span>-->
              <!--<span class="col-3  d-flex align-items-center font-weight-bold"><input [(ngModel)]="emission.emission"  class="form-control-sm w-100 no-radius" ></span>-->
              <!--<span class="col-3  d-flex align-items-center font-weight-bold"><button (click)="onClickAddEmission($event)" class="btn btn-outline-secondary"><nb-icon icon="plus-outline" pack="eva"></nb-icon></button></span>-->
              <!--</nb-list-item>-->
              <nb-list-item class="item w-100 row" *ngFor="let item of emissionYears;">
                <span class="col-6  d-flex align-items-center">{{ item.fyyearStart === item.fyyearEnd ? item.fyyearEnd: "" + item.fyyearStart + "/" + (item.fyyearEnd %100)}}</span>
                <span class="col-3  d-flex align-items-center">{{ item.emission}}</span>
                <!--<span class="col-3  d-flex align-items-center"><button (click)="onClickDeleteEmissionYears(item)" class="btn btn-outline-secondary"><nb-icon icon="trash-2-outline" pack="eva"></nb-icon></button></span>-->
              </nb-list-item>
            </nb-list>
          </div>
          <!--<div class="col-6"><input [(ngModel)]="companyBasicInfo.baseYear"  class="form-control-sm w-100 no-radius" ></div>-->
        </div>
      </nb-card-body>
      <!--<nb-card-footer class="d-flex justify-content-end">-->
      <!--<button class="btn btn-primary" (click)="updateCompanyAdvInfo()">Save</button>-->
      <!--</nb-card-footer>-->
    </nb-card>
  </div>

  <!--</div>-->
  <!--<div class="col-md-6   col-xs-12 h-100 " style=" float: none;-->
    <!--display: table-cell;-->
    <!--vertical-align: baseline; width: 50%;">-->

  <!--</div>-->
</div>

<div *ngIf="projectStatus === 2 && cadminStatus == 2" class="row mt-3">
  <div class="col-9">
    <input type="text " class="form-control-sm w-100 no-radius" [(ngModel)]="cadminStatusMsg"/>
  </div>
  <div class="col-1">
    <button class="btn btn-success" (click)="onApprove()"> Approve</button>
  </div>
  <div class="col-2">
    <button class="btn btn-warning" (click)="onNeedInfo()">Need Info</button>
  </div>
</div>
