<div class="card h-100 w-100 m-0 mat-dg-content">
  <div class="h-100">
    <div class="card-header mat-pop-up-header hidden-sm-down">
      <div class="row">
        <div class="col-10 font-weight-bold">
          Emission Calculations
        </div>
        <div class="col-2 text-right d-flex justify-content-end align-items-center">
          <nb-icon  icon="close-outline" (click)="closeDialog()" onmouseover style="cursor: pointer;"></nb-icon>
        </div>
      </div>
    </div>
    <div class="card-body" style="max-height: 400px; overflow: scroll;">

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left font-weight-bold">
          Equation
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-center font-weight-bold"><i>E<sub>FE</sub> = W<sub>FER</sub> X N<sub>FE</sub> </i></div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p>E<sub>FE</sub>  =  Total GHG emissions from the mobile combustion(tCo<sub>2e</sub>/year) </p>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p>W<sub>FER</sub> =  Weight of fire extinguisher refilling per tank (tonne)</p>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left" style="font-size: smaller;">
          <p>N<sub>FE</sub>  =  Total number of fire extinguishers refilled per year </p>
        </div>
      </div>

      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left font-weight-bold">
          Substitution
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left">
          <i>W<sub>FER</sub> = {{popupData.data.weight}}&nbsp;kg</i>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left">
          <i>N<sub>FE</sub>  = {{popupData.data.noOfTanks}}</i>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left">
          <i>E<sub>FE</sub> = {{popupData.data.weight}} X {{popupData.data.noOfTanks}} </i>
        </div>
      </div>
      <div  class="row mb-3 pr-2 pl-1">
        <div class="col-12 d-flex justify-content-left">
          <i>E<sub>FE</sub> = {{popupData.data.emission}}&nbsp;(tCo<sub>2e</sub>/year) </i>
        </div>
      </div>

      <!--<div  class="row mb-3 pr-2 pl-1">-->
      <!--<div class="col-12 d-flex justify-content-center">-->
      <!--<p>Substitution</p>-->
      <!--</div>-->
      <!--</div>-->




    </div>
    <!--<div  mat-dialog-actions class="card-footer mb-0">-->
    <!--<div class="row  w-100">-->
    <!--<div class="col w-100 pt-1 pb-0 pr-1 card-bottom-buttons d-flex justify-content-end">-->
    <!--&lt;!&ndash;<button class="btn btn-secondary mr-2 ml-2"  (click)="onClickCancel()"></button>&ndash;&gt;-->
    <!--<button class="btn btn-primary" [disabled]="isViewOnly" (click)="onClickSave()">{{btnText}}</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
  </div>
</div>
