/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.no-border-page-wrapper .mat-dialog-container{
  height: 100% !important;
  padding: 0px !important;
}

