<nb-card>
  <nb-card-header>
    Solar Projects : (Enter Data)
  </nb-card-header>

  <nb-card-body>
    <div class="row m-2">

    </div>
    <nb-accordion>
      <nb-accordion-item *ngFor="let project of projects; let i = index;">
        <nb-accordion-item-header>

          <div class="col-9">
            {{project.name}}
          </div>
          <div class="col-3">
            <button class="btn btn-primary"  (click)="openEditData($event, undefined, project.name,project.id)">Enter Data </button>
          </div>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <nb-accordion>
            <nb-accordion-item *ngFor="let yearData of data[i].annualData; let j = index;">
              <nb-accordion-item-header>
                {{yearData.year}}
              </nb-accordion-item-header>
              <nb-accordion-item-body>
                <nb-list>
                  <nb-list-item class="row font-weight-bold" >
                    <span class="col-1"></span>
                    <span class="col-1"></span>
                    <span class="col-3">Month</span>
                    <span class="col-5">Value(kWh)</span>

                  </nb-list-item>
                  <nb-list-item *ngFor="let monthlyData of yearData.monthlyData; let k = index;" class="row font-weight-bold" >
                    <span class="col-1"><nb-icon (click)="openEditData($event, monthlyData, project.name, monthlyData.projectId)" icon="edit-outline" pack="eva"></nb-icon></span>
                    <span class="col-1"><nb-icon (click)="onDeleteProject($event, monthlyData.id)" icon="trash-2-outline" pack="eva"></nb-icon></span>
                    <span class="col-3">{{getMonth(monthlyData.month)}}</span>
                    <span class="col-5">{{monthlyData.value}}</span>

                  </nb-list-item>
                </nb-list>
              </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>

        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </nb-card-body>

</nb-card>
