<nb-list>
  <nb-list-item class="font-weight-bold">Notifications</nb-list-item>
  <nb-list-item *ngIf="notfs.length === 0" >
    <span class="row">
      <span class="col-12 d-flex justify-content-left">Empty unread notifications</span>
    </span>
    <!--<span class="row ">-->
      <!--<span class="col-12 d-flex justify-content-end">2h</span>-->
    <!--</span>-->
  </nb-list-item>
  <nb-list-item (mouseenter)="onRead(not.id)" *ngFor="let not of notfs" [ngStyle]="{'background-color': not.read === 1 ? 'rgba(240, 240,240,0.2)' : 'rgba(255, 255,255,0.8)'}">
    <span  class="row">
      <span class="col-12 d-flex justify-content-left">{{not.message}}</span>
    </span>
    <span class="row ">
      <span class="col-12 d-flex justify-content-end">{{not.addedTime}}</span>
    </span>
  </nb-list-item>
</nb-list>
