<div class="card h-100 w-100 m-0 mat-dg-content">
  <div class="h-100">
    <div class="card-header mat-pop-up-header hidden-sm-down">
      <div class="row">
        <div class="col-10 font-weight-bold">
          Mitigation Action 
        </div>
        <div class="col-2 text-right d-flex justify-content-end align-items-center">
          <nb-icon  icon="close-outline" (click)="closeDialog()" onmouseover style="cursor: pointer;"></nb-icon>
        </div>
      </div>
    </div>
    <div style="max-height: 450px; overflow: scroll;" class="card-body with-bottom-buttons">

      <div class="row mb-3 pr-2 pl-1">
        <div class="col-6"><label>Mitigation Action Type</label></div>
        <div class="col-6">
          <mat-select  placeholder="Select Mitigation Action Type"  [(ngModel)]="mitigationnActionType">
            <mat-option *ngFor="let c of mitigationActionTypes" [value]="c.id">
              {{c.name}}
            </mat-option>
          </mat-select>
        </div>
      </div>

<!--      Name-->
      <div class="row mb-3 pr-2 pl-1">
        <div class="col-6"><label>Name</label></div>
        <div class="col-6">
          <input type="text" [(ngModel)]="projectDto.name"  class="form-control-sm w-100 no-radius" >
        </div>
      </div>
<!--      Description-->
      <div class="row mb-3 pr-2 pl-1">

          <div class="col-6"><label>Description</label></div>
          <div class="col-6">
            <input type="text" [(ngModel)]="projectDto.description"  class="form-control-sm w-100 no-radius" >
          </div>
      </div>

<!--      Branch-->
<!--      <div class="row mb-3 pr-2 pl-1">-->
<!--        <div class="col-6"><label>Branch</label></div>-->
<!--        <div class="col-6">-->
<!--          <mat-select placeholder="Select Branch"  [(ngModel)]="projectDto.branchId">-->
<!--            <input  class="form-control w-100" placeholder="Search Branch" (keyup)="onSearchBranch($event.target.value)">-->
<!--            <mat-option *ngFor="let c of branches" [value]="c.id">-->
<!--              {{c.name}}-->
<!--            </mat-option>-->
<!--          </mat-select>-->
<!--        </div>-->
<!--      </div>-->




    </div>
    <div  mat-dialog-actions class="card-footer mb-0">
      <div class="row  w-100">
        <div class="col w-100 pt-1 pb-0 pr-1 card-bottom-buttons d-flex justify-content-end">
          <!--<button class="btn btn-secondary mr-2 ml-2"  (click)="onClickCancel()"></button>-->
          <button class="btn btn-primary"  (click)="save()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>

